{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}recommend{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <form id="recommend_form" method="post">{% csrf_token %}
            <fieldset>
                <div class="col-md-12">
                    <div id="div_id_const" class="form-group"> <label for="id_const" class="control-label  requiredField">link or id<span class="asteriskField">*</span></label>
                    <div class="controls ">
                        <input class="textinput textInput form-control" id="id_const" maxlength="50" name="const" placeholder="eg. http://www.imdb.com/title/tt0111503/ or tt0111503" type="text">
                    </div>
                    </div>
                </div>
                {% if not user.is_authenticated %}
                <div class="col-md-9"> <div id="div_id_nick" class="form-group"> <label for="id_nick" class="control-label  requiredField">
                nickname<span class="asteriskField">*</span> </label> <div class="controls "> <input class="textinput textInput form-control" id="id_nick" maxlength="30" name="nick" type="text" value=""> </div> </div>
                </div>
                {% endif %}
                <div class="col-md-12">
                    <div id="div_id_note" class="form-group"><label for="id_note" class="control-label ">note</label>
                        <div class="controls ">
                            <textarea class="textarea form-control" cols="40" id="id_note" maxlength="120" name="note" placeholder="an optional message (max 120 chars)" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group"> <div class="controls "> <input type="submit" name="submit" value="Save" class="btn btn-primary btn btn-success" id="submit-id-submit"> </div> </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Rules</h3>
          </div>
          <div class="panel-body">
              <ul>
                  <li>5 recommendations per day allowed</li>
                  <li>can't insert titles already rated</li>
              </ul>
          </div>
        </div>
        <hr>
        <h5 class="text-center">Progress bar for today's recommendations limit</h5>
        <div class="progress">
  <div class="progress-bar progress-bar-{% if todays_count == 5 %}danger{% elif todays_count == 4 %}warning{% else %}info{% endif %}" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ count.today2 }}0%">
    <span class="sr-only"></span>{{ count.today }} / 5
  </div>
</div>
    </div>
</div>
<hr>

{% endblock %}