{% extends 'base_error.html' %}

{% block content %}
<div class="sign-container">
    <div class="nob"></div>
    <div class="post left"></div>
    <div class="post right"></div>
    <div class="pane">
        <div class="headline sign-text-color">
            404
        </div>
        <div class="context sign-text-color">
            Oops, the page you're<br>
            looking for does not exist.
            <div class="buttons-container">
                <a class="border-button" href="/"><span class="fa fa-home"></span> Home Page</a>
            </div>
        </div>
    </div>
</div>
{%  endblock %}