{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
    This is a website I created for learning purposes.

{#    <div class="ui grid">#}
{#        <div class="four wide column">#}
{#          <div class="card1 card-01 height-fix">#}
{#          <img class="card-img-top" src="http://res.cloudinary.com/amritvirk23/image/upload/v1506061057/poc.jpg" alt="Card image cap">#}
{#          <div class="card-img-overlay">#}
{#            <h4 class="card-title"><strong>Pirates of the Caribbean V</strong></h4>#}
{#            <p class="card-text">Captain Jack Sparrow searches for the trident of Poseidon.</p>#}
{#            <p class="card-text">              <i data-pk="{{ title.pk }}" class="{% if not title.has_in_favourites %}empty {% else %}active {% endif %}red heart icon large title-fav"></i>#}
{#              <i data-pk="{{ title.pk }}" class="{% if not title.has_in_watchlist %}remove {% else %}active {% endif %}red bookmark icon large title-watch"></i></p>#}
{#          </div>#}
{#        </div>#}
{#          <div class="card1 card-01 height-fix">#}
{#          <img class="card-img-top" src="http://image.tmdb.org/t/p/w342/rNQH6Q8RPXD59aqGckST3CKQbCf.jpg" alt="Card image cap">#}
{#          <div class="card-img-overlay">#}
{#            <h4 class="card-title"><strong>Pirates of the Caribbean V</strong></h4>#}
{#            <p class="card-text">Captain Jack Sparrow searches for the trident of Poseidon.</p>#}
{#            <p class="card-text">#}
{#              <i data-pk="{{ title.pk }}" class="{% if not title.has_in_favourites %}empty {% else %}active {% endif %}red heart icon large title-fav"></i>#}
{#              <i data-pk="{{ title.pk }}" class="{% if not title.has_in_watchlist %}remove {% else %}active {% endif %}red bookmark icon large title-watch"></i>#}
{#            </p>#}
{#          </div>#}
{#        </div>#}
{#          <div class="card1 card-01 height-fix">#}
{#          <img class="card-img-top" src="http://image.tmdb.org/t/p/w342/rNQH6Q8RPXD59aqGckST3CKQbCf.jpg" alt="Card image cap">#}
{#          <div class="card-img-overlay">#}
{#            <h4 class="card-title"><strong>Pirates of the Caribbean V</strong></h4>#}
{#            <p class="card-text">Captain Jack Sparrow searches for the trident of Poseidon.</p>#}
{#            <p class="card-text">#}
{#              <i data-pk="{{ title.pk }}" class="{% if not title.has_in_favourites %}empty {% else %}active {% endif %}red heart icon large title-fav"></i>#}
{#              <i data-pk="{{ title.pk }}" class="{% if not title.has_in_watchlist %}remove {% else %}active {% endif %}red bookmark icon large title-watch"></i>#}
{#            </p>#}
{#          </div>#}
{#        </div>#}
{#    </div>#}
{#    github,django,tmdb, semantic ui, inspired by www.themoviedb.org/, zuu.io#}
{% endblock %}


