{% extends "movie/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <p class="lead text-center">found ratings from {{ counter }} different years</p>
                    {% for year, count in year_counter %}
                    <span><a href="{% url 'entry_show_from_year' year=year %}">{{ year }} ({{ count }})</a></span>
                    {% endfor %}
                    {{ list_dicts }}
            </div>
        </div>
    </div>
{% endblock %}