{% extends "movie/base.html" %}
{% load staticfiles %}
{% static "" as baseUrl %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
				<h1 class="page-header text-center">{{ entry.name }}</h1>
				<div class="media">
					<div class="media-left media-middle">
						<img class="media-object" src="{{ baseUrl }}/static/img/posters/{{ entry.const }}.jpg" alt="...">
					</div>
					<div class="media-body">
						<h4 class="media-heading">
							{% for genre in entry.genre.all %}
								<a href="{% url 'entry_show_from_genre' genre=genre.name %}">{{ genre.name }}</a>
							{% endfor %}
						</h4>
						<p><a href="{% url 'entry_show_from_year' year=entry.year %}">{{ entry.year }}</a></p>
						<p>votes: {{ entry.votes }}</p>
						<p>rated:{{ entry.rate }}</p>
						<p>{{ entry.plot }}</p>
					</div>
				</div>
			</div>
        </div>
    </div>
{% endblock %}