{% extends "movie/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <table class="table table-hover table-bordered table-condensed">
		            <thead>
                        <tr>
                            <!--refactor-->
                            <th class="text-center"></th>
                            <th class="text-center">title</th>
                            <th class="text-center">rating</th>
                            <th class="text-center">imdb</th>
                            <th class="text-center">votes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in year %}
                        <tr>
                            <th scope="row" class="text-center">{{ forloop.counter }}</th>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.rate }}</td>
                            <td>{{ obj.votes }}</td>
                            <td>{{ obj.year }}</td>
                            <!--<td><a href="{% url 'entry_details' const=obj.const %}">link</a></td>-->
                        </tr>
                        {% endfor %}
                    </tbody>
                    {{ list_dicts }}
                </table>
            </div>
        </div>
    </div>
{% endblock %}