body {
    overflow-y: scroll;
    /*height: 100%;*/
    /*position: relative;*/
}

.ui.text.menu .active.item {
    font-weight: 600;
}

.ui.paginator.label {
    line-height: inherit;
}

.ui.card>.content .star.icon, .ui.cards>.card>.content .star.icon {
    cursor:default;
}
.title-card {
    width: 200px!important;
}

.ui.left.corner.label span {
    left: -.78571429em;
}

.still-background {
    height: 400px;
    overflow: hidden;
    background-image: -webkit-linear-gradient(89deg,rgba(21,43,55,.87),transparent 67%,rgba(21,43,55,.87));
    background-image: linear-gradient(1deg,rgba(21,43,55,.87),transparent 67%,rgba(21,43,55,.87));
}

.backdrop {
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    z-index: -3;
}

.title-poster {
    box-shadow: 0 2px 14px 0 rgba(0,0,0,.5);
}

.poster-background {
    margin-top: -362px;
    position: absolute;
}

.title-name {
    color: white!important;
}

.title-content {
    padding: 1rem 1rem 1rem 1rem!important;
}

.price {
     color: white!important;
}

.still-background2 {
    height: 255px;
    overflow: hidden;
    background-image: -webkit-linear-gradient(89deg,rgba(21,43,55,.87),transparent 67%,rgba(21,43,55,.87));
    background-image: linear-gradient(1deg,rgba(21,43,55,.87),transparent 67%,rgba(21,43,55,.87));

}
.user-background {
    margin-top: -235px;
    position: absolute;
}
.card-user {
    box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
    /*margin-bottom: 30px;*/
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /*background-color: #fff;*/
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card-username {
    font-size: 1.6em;
    color: white;
}

.card-user img {
    width: 200px;
    height: 200px;
}
.card-user-01.height-fix {
     height: 200px;
    overflow: hidden;
    width: 200px;
}

.title-genres {
    position: absolute;
    bottom: 14vh;
    margin-left: 200px;
    z-index: 2;
    font-size: 2em;
    color: white;
    margin-top: 5px;
    text-shadow: 0 4px 10px rgba(0,0,0,.62);
    overflow:hidden;
}

.ui.breadcrumb {
    margin-bottom: 20px;
}
.top.menu {
    margin: 5px 0!important;
}

.ui.attached.menu:not(.tabular) {
    border:none;
}

.mb10 {margin-bottom: 10px!important;}
.mb20 {margin-bottom: 20px!important;}

.mt10 {margin-top: 10px!important;}
.mt20 {margin-top: 20px!important;}
.ml10 {margin-left: 10px!important;}

/*.footer {*/
    /*margin-top: 25px;*/
/*}*/

.backdrop-card {
    width: 500px!important;
}

.paginator {
    cursor: default;
}

.hide {
    display:none!important;
}



.card1 .ui.star.rating .icon {
    color: #ffffff8f;
}
.card-01.height-fix {
     height: 350px;
    overflow: hidden;
    width: 260px;
}
.card1 {
    box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
    margin-bottom: 30px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /*background-color: #fff;*/
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-01.height-fix .card-img-overlay {
    top: unset;
    color: #fff;
    background: linear-gradient(to bottom, rgba(26,96,111,0) 0%,rgba(26,96,111,0) 1%,rgba(0, 0, 0, 0.31) 31%,rgb(37, 37, 37) 100%);
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));*/
    /*background: -moz-linear-gradient(top, rgba(26,96,111,0) 0%, rgba(26,96,111,0) 1%, rgba(24,87,104,0.91) 31%, rgba(21,65,89,0.91) 100%);*/
    /*background: -webkit-linear-gradient(top, rgba(26,96,111,0) 0%,rgba(26,96,111,0) 1%,rgba(24,87,104,0.91) 31%,rgba(21,65,89,0.91) 100%);*/
    /*background: linear-gradient(to bottom, rgba(26,96,111,0) 0%,rgba(26,96,111,0) 1%,rgba(24,87,104,0.91) 31%,rgba(21,65,89,0.91) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a606f', endColorstr='#e8154159',GradientType=0 );*/
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.slick-arrow {
    z-index: 2000;
}

.slick-next {
    right: 35px;
}

.slick-prev {
    left: 35px;
}

.slick-prev, .slick-next {
    width: 40px !important;
    height: 40px !important;
}

.ui.search>.results .result {
    padding: .2em .5em;
}

.ui.search>.results .result .image {
    width: auto;
    height: 2em;
}

/*.main{min-height:100%;*/
      /*!*padding-bottom:60px;*!*/
      /*box-sizing:border-box;}*/
/*.footer {*/
  /*background-color: #212121;*/
  /*position: absolute;*/
  /*!* bottom: 0;  remove this *!*/
  /*!*margin-top: -50px; !* add this *!*!*/
  /*left: 0;*/
  /*width: 100%;*/
  /*padding: 15px 0;*/
/*}*/
/*@media (min-height: 320px) {*/
  /*.ui.footer.form-page { !* Increased specificity for SO snippet priority *!*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
  /*}*/
/*}*/

.ui.footer.segment {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: none;
}

.footer-credit {
    /*width: 40px;*/
    height: 30px;
}

.footer-link {
    color: #332f2f;
}

.loader-box {
    height: 120px;
}