body {
    overflow-y: scroll;
}
.ui.card>.content .star.icon, .ui.cards>.card>.content .star.icon {
    cursor:default;
}
.title-card {
    width: 200px!important;
}

.ui.left.corner.label span {
    left: -.78571429em;
}

.still-background {
    height: 80vh;
    overflow: hidden;
    background-image: -webkit-linear-gradient(89deg,rgba(21,43,55,.87),transparent 67%,rgba(21,43,55,.87));
    background-image: linear-gradient(1deg,rgba(21,43,55,.87),transparent 67%,rgba(21,43,55,.87));
}

.backdrop {
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    z-index: -3;
}

.title-poster {
    margin-top: -145px;
    width: 185px;
    height: 277px;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,.5);
}

.title-name {
    position: absolute;
    bottom: 20vh;
    margin-left: 200px;
    z-index: 2;
    font-size: 60px;
    color: white;
    text-shadow: 0 4px 10px rgba(0,0,0,.62);
}