@media (min-width: 1200px) {
  .container {
    width: 935px;
  }
}

body {
  overflow-y: scroll;
  background-color: white;
  padding-top: 60px;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 1%;
  margin-bottom: 2%;

}

.navbar-default {
  color: white;
  background-color: #159957;
  /*background-image: linear-gradient(120deg, #155799, #159957);*/
}

.navbar-default .navbar-nav>li>a:link,
.navbar-default .navbar-nav>li>a:visited,
.navbar-default .navbar-nav>li>a:active {
  color: white;
}


.navbar-default .navbar-nav .open .dropdown-menu>li>a:link,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:visited,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #dcdcdc;
}

.navbar-default .navbar-nav>li>a:hover
.navbar-default .navbar-brand:hover {
  color: #42da8e;
}



.active { font-weight: bold; }


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f6f7f8;
}

table {
  border-collapse: collapse;

}

thead tr {
  border-bottom: 0px;
}

.well img {
 /* max-width: 200px;*/
 height: 100%;
}
.img-thumbnail{background-color:white}

.well {
    height: 200px;
    padding-top: -10px;
    overflow: hidden;
   /* margin-bottom: -0px;*/
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

textarea {
   resize: none;
}
/*
#submit-id-submit {
    margin-left: 20px;
}*/

.content {
    margin-left: 158px;
}

.odd {
    background-color: silver;
}

.num {
    width: 20px;
    height: 100%;
    line-height:150px;
}

.recommended_is_rated {
    color: red;
}