@media (min-width: 1200px) {
  .container {
    width: 935px;
  }
}
/*@import 'https://fonts.googleapis.com/css?family=Raleway';
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
@import 'https://fonts.googleapis.com/css?family=PT+Sans';
body {
  overflow-y: scroll;
  background-color: white;
  padding-top: 60px;

  font-family: font-family: 'PT Sans', sans-serif;
  margin-top: 1%;
  margin-bottom: 2%;

}

.navbar-default {
  color: white;
  background-color: #159957;
  border: none;
  /*background-image: linear-gradient(120deg, #155799, #159957);*/
}

.navbar-default .navbar-nav>li>a:link,
.navbar-default .navbar-nav>li>a:visited,
.navbar-default .navbar-nav>li>a:active {
  color: white;
}


.navbar-default .navbar-nav .open .dropdown-menu>li>a:link,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:visited,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #000000;
}

.navbar-default .navbar-nav>li>a:hover
.navbar-default .navbar-brand:hover {
  color: #42da8e;
}



.active { font-weight: bold; }


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f6f7f8;
}

table {
  border-collapse: collapse;

}

thead tr {
  border-bottom: 0px;
}

.well img {
 /* max-width: 200px;*/
 /*height: 100%;*/
 max-width: 120px;
}
.img-thumbnail{background-color:white}

.well {
    height: 200px;
    padding-top: -10px;
    overflow: hidden;
   /* margin-bottom: -0px;*/
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

textarea {
   resize: none;
}
/*
#submit-id-submit {
    margin-left: 20px;
}*/

.content {
    margin-left: 158px;
}

.odd {
    background-color: silver;
}

.num {
    width: 20px;
    height: 100%;
    line-height:150px;
}

.fa-check {
    color: green;
}

.fa-times {
    color: red;
}

#submit-id-submit {
    margin-left: 15px;
}

.wrapper {
  min-height: 180px;
  /*background-image:url('http://i.imgur.com/yx5LjH9.png');*/
  background-image:url('../img/odyssey.png');
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   margin-top: -28px;
}

.last10 {
    background-color: white;
    border: 1px solid #e4e4e4;
}

.search_summary {
    font-family: Arial;
}

.subheader {
    width: 100%;
    height: 30px;
    background-color: #4CAF50;
    margin-top: -28px;
    overflow: hidden;
}

.fa-star, .fa-star-o {
    color: orange;
}

.see-again-btn {
    border: 0;
    padding: 1px 5px;
    color: white;
}

.watch-btn {
    /*margin: 15px 0 8px 50px;*/
    background-color: #2196F3;
}

.unwatch-btn {
    /*margin: 15px 0 8px 33px;*/
    background-color: #E65100;
}

.unwatch-btn:hover, .watch-btn:hover {
    color: white;
  /*  background-color: #2196F3;*/
}
/*
.watch-btn:hover {
    color: white;
    background-color: #E65100;
}*/



#map {
    width: 100%;
    height: 400px;
    display: none;
    margin-bottom: 20px;
}

#query_info {
    display: none;
    text-align: center;
    font-weight: bold;
}

#result-panel {
    margin-top: 5px;
}

#answer {
    display: none;
}

.functionality-list {
    display: none;
}

.functionality {
    margin-bottom: 5px;
}




#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; }
#sortable li span { position: absolute; margin-left: -1.3em; }
.sort-placeholder
{
    border:                     1px dashed gray;
    background-color:           #fff;
    margin:                     8px 0;
}
p.item-order {float: right}

.btn.disabled {
    cursor: default;
}




.starRating:not(old){
  display        : inline-block;
  width          : 20em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../img/star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../img/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}



.color-watched {
    background-color: #4fc33f;
}

.lower {
    margin-top: -35px;
}

.marginleft {
    margin-left: -10px;
}

.paddingleft {
    padding-left: 20px
}

.displaynone {
    display: none;
}

#fav-icon {
  background: none;
  border: none;
  color: red;
  font-size: 18px;
}

.margintop {
    margin-top: 10px;
}

.increase {
    color: green;
}

.decrease {
    color: red;
}