{% extends 'base.html' %}
{% load widget_tweaks %}
{% block scripts %}
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your username'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
{% endblock %}
{% block content %}
    {% if request.GET.next %}
        <div class="mt10 ui text ignored info message warning">
            To continue, login or <a href="{% url 'register' %}?next={{ request.GET.next }}">register</a> new account
        </div>
    {% endif %}
    {% include 'includes/form_errors.html' %}
    <div class="ui middle aligned center aligned grid">
        <div class="column twelve wide">
            <h2 class="ui teal image header">
{#                <img src="assets/images/logo.png" class="image">#}
                <div class="content">Log-in to your account</div>
            </h2>
            <form class="ui large form" action="{% url 'login' %}?next={{ request.GET.next }}" method="post">{% csrf_token %}
                <div class="ui stacked segment">
                    <div class="field{% if form.username.errors %} error{% endif %}">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            {% render_field form.username placeholder=form.username.label %}
                        </div>
                    </div>
                    <div class="field{% if form.username.errors %} error{% endif %}">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {% render_field form.password placeholder=form.password.label %}
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button">Login</div>
                </div>
                <div class="ui error message"></div>
            </form>
            <div class="ui message">New to us? <a href="{% url 'register' %}?next={{ request.GET.next }}">Sign Up</a></div>
            <div class="ui message">Forgot your password? <a href="">Reset it</a></div>
        </div>
    </div>
{% endblock %}