{% extends 'base.html' %}
{% block title %}Password change{% endblock %}
{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-list' %}">Users</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{{ user.get_absolute_url }}">{{ user.username }}</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{{ user.edit_url }}">Settings</a>
        <i class="right angle icon divider"></i>
        <a class="section active" href="{% url 'password-change' %}">Change password</a>
    </div>
{% endblock %}

{% block content %}
    <div class="ui dividing header">
        <i class="settings icon"></i>
        <div class="content">
            Change your password
        </div>
    </div>
    <div class="ui middle aligned center aligned grid">
        <div class="column twelve wide">
            {% include 'includes/form_errors.html' %}
            <form action="{% url 'password-change' %}" class="ui large form" method="post">{% csrf_token %}
                <div class="ui stacked segment">
                    {% include 'accounts/includes/field.html' with field=form.old_password icon='lock' %}
                    {% include 'accounts/includes/field.html' with field=form.new_password1 icon='lock' %}
                    {% include 'accounts/includes/field.html' with field=form.new_password2 icon='lock' %}
                    <div class="ui divider hidden"></div>
                    <button type="submit" class="ui button primary">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}