{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Sign up{% endblock %}
{% block scripts %}
  <script>
  $(document).ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your username'
                },
{#                {#}
{#                  type   : 'email',#}
{#                  prompt : 'Please enter a valid e-mail'#}
{#                }#}
              ]
            },
            password1: {
              identifier  : 'password1',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
{#                {#}
{#                  type   : 'length[6]',#}
{#                  prompt : 'Your password must be at least 6 characters'#}
{#                }#}
              ]
            },
            password2: {
              identifier  : 'password2',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
{#                {#}
{#                  type   : 'length[6]',#}
{#                  prompt : 'Your password must be at least 6 characters'#}
{#                }#}
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
{% endblock %}
{% block content %}
    {% if form.errors %}
        <div class="ui error">
          <div class="ui error message">
{#                <div class="header">Could you check something!</div>#}
            <ul class="list">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.errors.as_text|cut:'* ' }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
          </div>
        </div>
        <div class="ui divider hidden"></div>
    {% endif %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
{#                <img src="assets/images/logo.png" class="image">#}
                <div class="content">Sign up</div>
            </h2>
            <form class="ui large form" action="{% url 'register' %}" method="post">{% csrf_token %}
                <div class="ui stacked segment">
                    <div class="field{% if form.username.errors %} error{% endif %}">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            {% render_field form.username placeholder=form.username.label %}
                        </div>
                    </div>
                    <div class="field{% if form.password1.errors %} error{% endif %}">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {% render_field form.password1 placeholder=form.password1.label %}
                        </div>
                    </div>
                    <div class="field{% if form.password2.errors %} error{% endif %}">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {% render_field form.password2 placeholder=form.password2.label %}
                        </div>
                    </div>
                    <div class="field">
                      <div class="ui checkbox">
                        {{ form.login_after }}
                          <label class="control-label" for="{{ form.login_after.auto_id }}">{{ form.login_after.label }}{% if form.login_after.field.required %}<span class="required">*</span>{% endif %}&nbsp;</label>
                      </div>
                    </div>
                    <div class="ui fluid large teal submit button">Create an account</div>
                </div>
                <div class="ui error message"></div>
            </form>
            <div class="ui message">Already have an account? <a href="{% url 'login' %}">Log in</a></div>
        </div>
    </div>
{% endblock %}