{% extends 'base.html' %}
{% load widget_tweaks %}
{#{% block title %}{{ page_title }}{% endblock %}#}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-list' %}">Users</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-detail' user.username %}">{{ user.username }}</a>
        <i class="right angle icon divider"></i>
        <a class="section active" href="{% url 'user-edit' user.username %}">Settings</a>
    </div>
{% endblock %}

{% block content %}
    {% include 'includes/form_errors.html' %}
    <form action="{% url 'user-edit' user.username %}" class="ui large form" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="ui stacked segment">
            {% with form.picture as field %}
                <div class="field{% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
                    <h3 class="ui dividing header">{{ field.label|cut:':' }}</h3>
                    {% render_field field|attr:"accept:.jpg,.png" %}
                    <small>{{ field.help_text }}</small>
                </div>
            {% endwith %}
            {% include 'includes/field.html' with field=form.tagline %}
            {% with form.imdb_id as field %}
                <div class="mt20 field{% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
                    <h3 class="ui dividing header">{{ field.label|cut:':' }}</h3>
                    <div class="ui labeled input">
                        <div class="ui label">http://www.imdb.com/user/</div>
                        {{ field }}
                    </div>
                    <small>{{ field.help_text }}</small>
                </div>
            {% endwith %}
            <div class="ui divider hidden"></div>
            <button type="submit" class="ui button primary">Update</button>
        </div>
    </form>
{% endblock %}
{#        <h4 class="text-left"><a href="{% url 'password-change' %}">Password change</a></h4>#}
