{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Settings{% endblock %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-list' %}">Users</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-detail' user.username %}">{{ user.username }}</a>
        <i class="right angle icon divider"></i>
        <a class="section active" href="{{ user.edit_url }}">Settings</a>
    </div>
{% endblock %}

{% block content %}
    <div class="ui dividing header">
        <i class="settings icon"></i>
        <div class="content">
            Settings
            <div class="sub header">Update your account settings</div>
        </div>
    </div>
    <div class="ui grid center aligned mt10 mb10">
        <a href="{% url 'password-change' %}" class="ui basic primary button">Change my password</a>
        <button class="ui basic primary button clear-ratings">Clear my ratings</button>
    </div>
    {% include 'includes/form_errors.html' %}
    <form action="{{ user.edit_url }}" class="ui large form" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="ui stacked segment">
            {% with form.picture as field %}
                <div class="field{% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
                    <h3 class="ui dividing header">{{ field.label|cut:':' }}</h3>
                    {% render_field field|attr:"accept:.jpg,.png" %}
                    <small>{{ field.help_text }}</small>
                </div>
            {% endwith %}
            {% include 'includes/field.html' with field=form.tagline %}
            {% with form.imdb_id as field %}
                <div class="mt20 field{% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
                    <h3 class="ui dividing header">{{ field.label|cut:':' }}</h3>
                    <div class="ui labeled input">
                        <div class="ui label">http://www.imdb.com/user/</div>
                        {{ field }}
                    </div>
                    <small>{{ field.help_text }}</small>
                </div>
            {% endwith %}
            <div class="ui divider hidden"></div>
            <button type="submit" class="ui button primary">Update</button>
        </div>
    </form>

    <div class="ui clear tiny modal">
        <i class="close icon"></i>
        <div class="header">Clear your {{ user.count_ratings }} ratings</div>
        <div class="content">
            <div class="description">
                You cannot revert this operation. You will lose all of you ratings if you haven't exported them first, because you won't be able to import them back.
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Cancel</div>
            <div class="ui negative button" style="font-size:0.55em;">Clear</div>
        </div>
    </div>
    <div class="ui second tiny modal">
        <i class="close icon"></i>
        <div class="header"></div>
        <div class="content"><div class="description"></div></div>
        <div class="actions"><div class="ui approve button"><i class="checkmark icon"></i> Ok</div></div>
    </div>
{% endblock %}
