{% load static %}

{% include 'includes/pagination.html' %}

{% for user in object_list %}
<div class="col-md-12">
    <div class="well usersList{% if request.user == user %} userListOwner{% endif %}">
        <a href="{{ user.get_absolute_url }}">
            <img id="avatar" class="img-responsive img-thumbnail avatarMin" style="float:left;margin-right: 10px"
                 src="{% if user.picture %}{{ user.picture.url }}{% else %}{% static 'img/placeholderavatar.png' %}{% endif %}" alt="...">
        </a>

        <p>
            {% with ratings.start_index|default:1 as index %}
                <span>{{ forloop.counter0|add:index }}</span>.
            {% endwith %}
            <a href="{{ user.get_absolute_url }}">
                <strong>{{ user.username }}</strong>
            </a>
        {{ user.already_follows }}
			{% if request.user.is_authenticated and not request.user == user %}
                {% include 'includes/actions/follow.html' with user_pk=user.pk condition=user.already_follows %}
			{% endif %}
        </p>

        {% if user.current_rating %}
            {% for i in 'xxxxxxxxxx' %}
                <span class="glyphicon glyphicon-star{% if forloop.counter > user.current_rating %}-empty{% endif %}" aria-hidden="true"></span>
            {% endfor %}
        {% endif %}

{#        {% with user.avg_of_current_ratings as user_current_ratings %}#}
{#            {% if user_current_ratings.count %}#}
{#                <p>See all <a href="{{ user.ratings_url }}">{{ user_current_ratings.count }} rated titles</a>#}
{#                    (avg: {{ user_current_ratings.avg|floatformat:2 }})#}
{#                </p>#}
{#            {% else %}#}
{#                <p style="font-size:11px"><em>User hasn't rated anything yet.</em></p>#}
{#            {% endif %}#}
{#        {% endwith %}#}
        <hr class="visible-xs">
        <div>
            <a href="{{ user.watchlist_url }}" class="btn btn-xs btn-default">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span> watchlist
            </a>
            <a href="{{ user.favourite_url }}" class="btn btn-xs btn-default">
                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> favourites
            </a>
            <a href="{{ user.recommend_url }}" class="btn btn-xs btn-default">
                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> recommend
            </a>
        </div>
    </div>
</div>
{% endfor %}

{% include 'includes/pagination.html' %}
