{% extends 'base.html' %}
{% load static %}
{#{% block title %}{{ page_title }}{% endblock %}#}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-list' %}">Users</a>
        <i class="right angle icon divider"></i>
        <a class="section active" href="{% url 'user-detail' user.username %}">{{ user.username }}</a>
    </div>
{% endblock %}

{% block content %}
{#<div class="ui four cards">#}
{#  <div class="card">#}
{#    <div class="small image">#}
{#      <img src="{% static 'img/w185_h278_bestv2.jpg' %}">#}
{#    </div>#}
{#    <div class="extra">#}
{#      Rating:#}
{#      <div class="ui star rating" data-rating="4"></div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{#<div class="four ui buttons">#}
{#  <a href="" class="ui button active">Overview</a>#}
{#  <a href="" class="ui button">Lists</a>#}
{#  <a href="" class="ui button">Charts</a>#}
{#    {% if is_other_user %}#}
{#        <a href="" class="ui button">Compared with you</a>#}
{#    {% endif %}#}
{#</div>#}
    <div class="ui divider hidden"></div>
    <div class="ui centered grid">
{#        <div class="eight wide mobile four wide computer four wide tablet column">#}
{#        <div class="column">#}
            <div class="ui card">
              <div class="image">
                <img src="{% static 'img/stevie.jpg' %}">
              </div>
              <div class="content">
                <a class="header">{{ user.username }}</a>
                <div class="meta">
                  <span class="date">Member since {{ user.date_joined|date:"M d, Y" }}</span>
                </div>
                  {% if user.tagline %}
                    <div class="description">
                      {{ user.tagline }}
                    </div>
                  {% endif %}
              </div>
              <div class="extra content">
{#                <a>#}
                  <i class="user icon"></i>
                  Follows {{ total_followed }} people
{#                </a>#}
              </div>
                {% if already_follows %}
                  <div class="ui bottom attached  small follow toggle button{% if already_follows %} active{% endif %}" data-pk="{{ user.pk }}">{% if already_follows %}Followed{% else %}Follow{% endif %}</div>
                {% endif %}
            </div>
{#        </div>#}
{#        <div class="eight wide mobile twelve wide computer twelve wide tablet centered column">#}

{#        </div>#}
    </div>
    <div class="ui divider hidden"></div>
<div class="ui fluid {% if is_other_user %}four{% else %}three{% endif %} item menu title-menu">
    <a class="item active" data-tab="first">Overview</a>
    <a class="item" data-tab="second">Lists</a>
    <a class="item" data-tab="third">Charts</a>
    {% if is_other_user %}
        <a class="item" data-tab="fourth">Compared with you</a>
    {% endif %}
</div>
{#    <div class="ui pointing secondary menu user-menu">#}
{#        <a class="item active" data-tab="first">Overview</a>#}
{#        <a class="item" data-tab="second">Lists</a>#}
{#        <a class="item" data-tab="third">Charts</a>#}
{#        {% if is_other_user %}#}
{#            <a class="item teal" data-tab="fourth">Compared with you</a>#}
{#        {% endif %}#}
{#    </div>#}

    <div class="ui tab segment active" data-tab="first">
        <div class="ui grid centered statistics">
          <div class="statistic">
            <div class="value">
              {{ user.total_ratings }}
            </div>
            <div class="label">
              Ratings
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              {{ user.total_movies }}
            </div>
            <div class="label">
              Movies seen
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              {{ user.total_series }}
            </div>
            <div class="label">
              Tv-shows seen
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              {{ total_followers }}
            </div>
            <div class="label">
              Followers
            </div>
          </div>
        </div>
        <div class="ui segment">
          <a class="ui blue ribbon label">Activity</a>
            <span>{{ user.username }}'s latest ratings</span>
            <div class="ui list">
                {% for rating in rating_list %}
                    {% include 'titles/title_small.html' with title=rating.title rate_date=rating.rate_date rate=rating.rate %}
                {% endfor %}
                {% if not rating_list %}
                    <p>No ratings found</p>
                {% endif %}
            </div>
        </div>

        <div class="ui segment">
          <a class="ui blue ribbon label">Feed</a>
            <span>Latest activity of users followed by {{ user.username }}</span>
            <div class="ui list">
                {% for rating in feed %}
                  <div class="item">
                    <img class="ui avatar image" src="{% static 'img/stevie.jpg' %}">
                    <div class="content">
                      <span>{{ rating.rate_date }}</span>
                        <div class="description"><a href="{{ rating.user.get_absolute_url }}">{{ rating.user.username }}</a> rated <a href="{{ rating.title.get_absolute_url }}"><b>{{ rating.title.name }}</b></a> {{ rating.rate }}<i class="icon star green"></i></div>
                    </div>
                  </div>
                {% endfor %}
                {% if not feed %}
                    <p>No activity found</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="ui tab segment" data-tab="second">
    </div>
    <div class="ui tab segment" data-tab="third">
    </div>

    {% if is_other_user %}
        <div class="ui tab segment" data-tab="fourth">
            {% if comparision %}
                <div class="ui grid centered statistics">
                  <div class="statistic">
                    <div class="value">
                      {{ comparision.common_titles_length }}
                    </div>
                    <div class="label">
                      the same titles
                    </div>
                  </div>
                  <div class="statistic">
                    <div class="value">
                      {{ comparision.averages.user }}
                    </div>
                    <div class="label">
                      His average score
                    </div>
                  </div>
                  <div class="statistic">
                    <div class="value">
                      {{ comparision.averages.request_user }}
                    </div>
                    <div class="label">
                      Your average score
                    </div>
                  </div>
                  <div class="statistic">
                    <div class="value">
                      {{ comparision.percentage }}%
                    </div>
                    <div class="label">
                      Of his titles you saw
                    </div>
                  </div>
                </div>
                <div class="ui segment">
                  <a class="ui teal ribbon label">Lower</a>
                    <span>{{ user.username }} rated lower</span>
                    <div class="ui list">
                        {% for title in comparision.titles_user_rate_lower %}
                            {% include 'titles/title_small.html' with title=title rate=title.user_rate rate2=title.request_user_rate %}
                        {% endfor %}
                        {% if not comparision.titles_user_rate_lower %}
                            <p>Nothing found</p>
                        {% endif %}
                    </div>
                </div>
                <div class="ui segment">
                  <a class="ui teal ribbon label">Higher</a>
                    <span>{{ user.username }} rated higher</span>
                    <div class="ui list">
                        {% for title in comparision.titles_user_rate_higher %}
                            {% include 'titles/title_small.html' with title=title rate=title.user_rate rate2=title.request_user_rate %}
                        {% endfor %}
                        {% if not comparision.titles_user_rate_higher %}
                            <p>Nothing found</p>
                        {% endif %}
                    </div>
                </div>
                <div class="ui segment">
                  <a class="ui teal ribbon label">The same</a>
                    <span>{{ user.username }} rated the same</span>
                    <div class="ui list">
                        {% for title in comparision.titles_rated_the_same %}
                            {% include 'titles/title_small.html' with title=title rate=title.user_rate rate2=title.request_user_rate %}
                        {% endfor %}
                        {% if not comparision.titles_rated_the_same %}
                            <p>Nothing found</p>
                        {% endif %}
                    </div>
                </div>
                <div class="ui segment">
                  <a class="ui teal ribbon label">You need to see</a>
                    <span>{{ user.username }} liked that you haven't seen</span>
                    <div class="ui list">
                        {% for title in comparision.titles_user_liked %}
                            {% include 'titles/title_small.html' with title=title rate=title.user_rate %}
                        {% endfor %}
                        {% if not comparision.titles_user_liked %}
                            <p>Nothing found</p>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <p>{{ user.username }} has no ratings</p>
            {% endif %}
        </div>
    {% endif %}
{#<img id="avatar" class="img-responsive img-thumbnail center-block"#}
{#	 src="{% if object.picture %}{{ object.picture.url }}{% else %}{% static 'img/placeholderavatar.png' %}{% endif %}"#}
{#	 alt="...">#}
{##}

{#		<a href="{{ object.watchlist_url }}" class="btn btn-sm btn-default">#}
{#			<span class="glyphicon glyphicon-list" aria-hidden="true"></span> watchlist#}
{#		</a>#}
{#		<a href="{{ object.favourite_url }}" class="btn btn-sm btn-default">#}
{#			<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> favourites#}
{#		</a>#}
{#		<a href="{{ object.recommend_url }}" class="btn btn-sm btn-default">#}
{#			<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> recommend#}
{#		</a>#}
{#			<form method="post" name="update_titles_form">{% csrf_token %}#}
{#				{% if user.imdb_id %}#}
{#					<button class="btn btn-xs btn-primary" type="submit" name="update_rss" value="update_rss">update ratings</button>#}
{##}
{#					<button class="btn btn-xs btn-primary" type="submit" name="update_watchlist" value="update_watchlist">update watchlist</button>#}
{#				{% endif %}#}
{#				{% if user.csv_ratings %}#}
{#					<button class="btn btn-xs btn-primary" type="submit" name="update_csv" value="update_csv">update csv</button>#}
{#				{% endif %}#}
{#			</form>#}

{#				<hr class="visible-sm visible-xs">#}
{#				<form id="import_form" method="post" enctype="multipart/form-data" action="{% url 'import-ratings' object.username %}" style="display:none">{% csrf_token %}#}
{#					<input id="import" name="csv_ratings" type="file" accept=".csv" />#}
{#				</form>#}
{##}
{#				<div style="display:inline;float: right;">#}
{#					{% if is_owner %}#}
{#						<form id="clear_ratings_form" method="post" action="{{ request.user.get_absolute_url }}" style="display:inline;margin-right:10px">{% csrf_token %}#}
{#							<input id="confirm-nick" name="confirm-nick" hidden>#}
{#							<button id="clear_ratings" type="submit" class="btn btn-xs btn-success" data-toggle="tooltip" title="You cannot revert this operation. You will lose all of you ratings if you haven't exported them first.">clear my ratings</button>#}
{#						</form>#}
{#						<a id="import_ratings" href="{% url 'import-ratings' object.username %}" style="margin-right:10px" data-toggle="tooltip" title="You can add ratings from exported file."><button class="btn btn-xs btn-success">import</button></a>#}
{#					{% endif %}#}
{#					<a href="{% url 'export-ratings' object.username %}" data-toggle="tooltip" title="You can export all of your ratings as a form of backup. If you will lose some of your ratings, you will be able to import them." target="_blank"><button class="btn btn-xs btn-success">export</button></a>#}


{#{% if user_ratings.last_seen %}#}
{#<div class="row">#}
{#	<div class="col-md-10 col-md-offset-1">#}
{#		<div class="text-center">#}
{#			<div id="graph_btns" class="btn-group" role="group" aria-label="...">#}
{#				<button id="graph_genres" class="btn btn-default">genres</button>#}
{#				<button id="graph_months" class="btn btn-default">months</button>#}
{#				<button id="graph_rated" class="btn btn-default">rated</button>#}
{#				<button id="graph_year" class="btn btn-default">year</button>#}
{#			</div>#}
{#		</div>#}
{#		<div id="graph" style="margin-top: 3%"></div>#}
{#	</div>#}
{#</div>#}
{#{% endif %}#}
{##}
{#<div id="dialog-confirm" title="Clear all your ratings?" style="display:none;">#}
{#	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>You cannot revert this operation. You will lose all of you ratings if you haven't exported them first. As a confirmation - enter your username and press OK.</p>#}
{#	<input type="text" id="confirm-nickname">#}
{#</div>#}
{% endblock %}