{% extends "base.html" %}
{% load static %}
{#{% block title %}{{ page_title }}{% endblock %}#}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section{% if not title %} active{% endif %}" href="{% url 'user-list' %}">Users</a>
        {% if title %}
            <i class="right angle icon divider"></i>
            <div class="active section">Search for: <a href="{{ title.get_absolute_url }}">{{ title.name }}</a></div>
        {% endif %}
    </div>
    <div class="ui divider"></div>
{% endblock %}

{% block content %}
    {% if title %}
        <div class="ui info message">{{ user_list|length }} users who have seen <a href="{{ title.get_absolute_url }}">{{ title.name }}</a></div>
{#        {% include 'titles/title_card.html' with title=title score=title.user_rate in_fav=title.has_in_favourites %}#}
{#  <div class="ui item">#}
{#    <div class="ui tiny image">#}
{#      <img src="{% static 'img/w185_h278_bestv2.jpg' %}">#}
{#    </div>#}
{#    <div class="content">#}
{#      <div class="header">{{ title.name }}</div>#}
{#      <div class="meta">#}
{#        <span class="price">$1200</span>#}
{#        <span class="stay">1 Month</span>#}
{#      </div>#}
{#      <div class="description">#}
{#        <p></p>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
    {% endif %}
    <div class="ui right floated text menu">
      <div class="header item">Sorted by Most Ratings</div>
    </div>
    <div class="ui items">
        {% for user in user_list %}
            {% url 'user-detail' user.username as user_detail_url %}
          <div class="item">
                <a href="{{ user_detail_url }}" class="ui tiny image">
                  <img src="{{ user.avatar_url }}">
                </a>
            <div class="middle aligned content">
            {% if user.pk != request.user.pk %}
              <div{% if not request.user.is_authenticated %} type="tooltip" data-content="You must be logged in." data-variation="mini"{% endif %} class="ui small follow toggle button right floated{% if user.already_follows %} active{% endif %}" data-pk="{{ user.pk }}">{% if user.already_follows %}Followed{% else %}Follow{% endif %}</div>
            {% endif %}
              <a href="{{ user_detail_url }}" class="header">{{ user.username }}</a>
                {% if title %}{{ user.user_rate }} <i class="star icon green"></i>{% endif %}
                <div class="floated right">
                    <a class="ui label">Watchlist</a>
                    <a class="ui label">Favourites</a>
                    <a class="ui label">Ratings</a>
                    {% if user.imdb_url %}
                        <a href="{{ user.imdb_url }}" target="_blank">
                            <i class="imdb big yellow icon"></i>
                        </a>
                    {% endif %}
                </div>
              <div class="description">
                {% if user.tagline %}<p>{{ user.tagline }}</p>{% endif %}
                <p>{{ user.titles_count }} ratings</p>
              </div>
            </div>
          </div>
            <div class="ui hidden divider"></div>
        {% endfor %}
    </div>
    {% include 'includes/pagination.html' %}
{% endblock %}