{% extends 'base.html' %}
{% load static widget_tweaks %}
{#{% block title %}{{ page_title }}{% endblock %}#}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-list' %}">Users</a>
        <i class="right angle icon divider"></i>
        <a class="section active" href="{% url 'user-detail' user.username %}">{{ user.username }}</a>
    </div>
{% endblock %}

{% block image %}
    {% include 'accounts/includes/user_background.html' %}
{% endblock %}

{% block content %}
    <br>
    * carousel by default not active,<br>
    * updater buttons maybe replace with select with confirmation modal<br>
    {% if is_owner %}
        <button class="ui basic orange button" type="submit" name="update_rss" value="update_rss">update ratings</button>
        <button class="ui basic orange button" type="submit" name="update_watchlist" value="update_watchlist">update watchlist</button>
        <button class="ui basic orange button" type="submit" name="update_csv" value="update_csv">update csv</button>
    {% endif %}


    <button class="ui basic primary button export-ratings">Export ratings</button>
    {% if is_owner %}
        <button class="ui basic primary button import-ratings">Import ratings</button>
    {% endif %}
    <br>
    <br>

    <div class="ui centered grid">
        {% with user.imdb_url as imdb_url %}
            <div class="{% if imdb_url %}four{% else %}three{% endif %} columns">
                <a class="ui big label">Watchlist</a>
                <a class="ui label">Favourites</a>
                <a class="ui label">Recommendations? get rid of it?</a>
                {% if imdb_url %}
                    <a href="{{ imdb_url }}" target="_blank">
                        <i class="imdb big yellow icon"></i>
                    </a>
                {% endif %}
            </div>
        {% endwith %}
    </div>

    {% if user.pk != request.user.pk %}
        <div{% if not request.user.is_authenticated %} type="tooltip" data-content="You must be logged in."
                                                       data-variation="mini"{% endif %}
                                                       class="ui small follow toggle button right floated{% if user.already_follows %} active{% endif %}"
                                                       data-pk="{{ user.pk }}">{% if user.already_follows %}
            Followed{% else %}Follow{% endif %}</div>
    {% endif %}

    <button class="circular ui icon button">
        <i class="icon settings"></i>
    </button>

    <p><a href="{{ user.ratings_url }}" class="ui label">See all ratings</a></p>

    <div class="four ui buttons">
        <button class="ui button">Favourites</button>
        <button class="ui button">Watchlist</button>
        <button class="ui button">Recommendations</button>
        <button class="ui button">Ratings</button>
    </div>

    <div class="three ui grey buttons">
        <button class="ui button">Settings</button>
        <button class="ui button">Update ratings</button>
        <button class="ui button">Update watchlist</button>
    </div>




    <div class="ui divider hidden"></div>
    {% if is_other_user %}
        <div class="ui fluid {% if is_other_user %}two{% endif %} item menu title-menu">
            <a class="item active" data-tab="first">Overview</a>
            {#        <a class="item" data-tab="second">Lists</a>#}
            {#        <a class="item" data-tab="third">Charts</a>#}
            {% if is_other_user %}
                <a class="item" data-tab="second">Compared with you</a>
            {% endif %}
        </div>
        <div class="ui tab segment active" data-tab="first">
            {% include 'accounts/includes/user_detail_first_segment.html' %}
        </div>
    {% else %}
        {% include 'accounts/includes/user_detail_first_segment.html' %}
    {% endif %}

    {% if is_other_user %}
        <div class="ui tab segment" data-tab="second">
            {% if comparision %}
                <div class="ui grid centered statistics">
                    <div class="statistic">
                        <div class="value">{{ comparision.common_titles_length }}</div>
                        <div class="label">the same titles</div>
                    </div>
                    <div class="statistic">
                        <div class="value">{{ comparision.percentage }}%</div>
                        <div class="label">Of his titles you saw</div>
                    </div>
                    <div class="statistic">
                        <div class="value">{{ comparision.averages.user }}</div>
                        <div class="label">He Rated them</div>
                    </div>
                    <div class="statistic">
                        <div class="value">{{ comparision.averages.request_user }}</div>
                        <div class="label">You rated them</div>
                    </div>
                </div>
                <div class="ui segment">
                    <span class="ui teal ribbon label">Lower</span>
                    <span>{{ user.username }} rated lower</span>
                    <div class="ui list">
                        {% include 'titles/includes/slick_titles.html' with queryset=comparision.titles_user_rate_lower %}
                    </div>
                </div>
                <div class="ui segment">
                    <span class="ui teal ribbon label">Higher</span>
                    <span>{{ user.username }} rated higher</span>
                    <div class="ui list">
                        {% include 'titles/includes/slick_titles.html' with queryset=comparision.titles_user_rate_higher %}
                    </div>
                </div>
                <div class="ui segment">
                    <span class="ui teal ribbon label">The same</span>
                    <span>{{ user.username }} rated the same</span>
                    <div class="ui list">
                        {% include 'titles/includes/slick_titles.html' with queryset=comparision.titles_rated_the_same %}
                    </div>
                </div>
                <div class="ui segment">
                    <span class="ui teal ribbon label">You need to see</span>
                    <span>{{ user.username }} liked that you haven't seen</span>
                    <div class="ui list">
                        {% include 'titles/includes/slick_titles.html' with queryset=comparision.titles_user_liked %}
                    </div>
                </div>
            {% else %}
                <p>You and {{ user.username }} have no common rated titles</p>
            {% endif %}
        </div>
    {% endif %}

    {#    MODALS#}
    <div class="ui export tiny modal">
        <i class="close icon"></i>
        <div class="header">
            Export {{ user.username }}'s ratings
        </div>
        <div class="content">
            <div class="description">
                You can export {{ user.username }}'s ratings to csv file. If you will lose some of your ratings, you
                will be able to import them back.
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Cancel</div>
            <div class="ui positive button" data-pk="{{ user.pk }}">Export</div>
        </div>
    </div>

    {% if is_owner %}
        <div class="ui import tiny modal">
            <i class="close icon"></i>
            <div class="header">
                Import ratings
            </div>
            <div class="content">
                <div class="description">
                    You can add ratings from exported file from this site or IMDb. Your ratings won't be deleted, only
                    the ones missing will be added.
                    <form id="import-form" method="post" action="{% url 'user-import-ratings' user.username %}"
                          enctype="multipart/form-data">{% csrf_token %}
                        {% with form.csv_file as field %}
                            <div class="mt20 field{% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
                                {% render_field field|attr:"accept:.csv" %}
                                <small>{{ field.help_text }}</small>
                            </div>
                        {% endwith %}
                    </form>
                </div>
            </div>
            <div class="actions">
                <div class="ui cancel button">Cancel</div>
                <div class="ui positive button">Import</div>
            </div>
        </div>
    {% endif %}

    <div class="ui second tiny modal">
        <i class="close icon"></i>
        <div class="header">
            Result
        </div>
        <div class="content">
            <div class="description">
                result
            </div>
        </div>
        <div class="actions">
            <div class="ui approve button"><i class="checkmark icon"></i> All done</div>
        </div>
    </div>
{% endblock %}