{% extends "base.html" %}
{% load static %}
{#{% block title %}{{ page_title }}{% endblock %}#}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section{% if not title %} active{% endif %}" href="{% url 'user-list' %}">Users</a>
        {% if title %}
            <i class="right angle icon divider"></i>
            <div class="active section">Search for: <a href="{{ title.get_absolute_url }}">{{ title.name }}</a></div>
        {% endif %}
    </div>
    <div class="ui divider"></div>
{% endblock %}

{% block content %}
    {% if title %}
        <div class="ui info message">Users who have seen <a href="{{ title.get_absolute_url }}">{{ title.name }}</a></div>
{#        {% include 'titles/title_card.html' with title=title score=title.user_rate in_fav=title.has_in_favourites %}#}
{#  <div class="ui item">#}
{#    <div class="ui tiny image">#}
{#      <img src="{% static 'img/w185_h278_bestv2.jpg' %}">#}
{#    </div>#}
{#    <div class="content">#}
{#      <div class="header">{{ title.name }}</div>#}
{#      <div class="meta">#}
{#        <span class="price">$1200</span>#}
{#        <span class="stay">1 Month</span>#}
{#      </div>#}
{#      <div class="description">#}
{#        <p></p>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
    {% endif %}

<div class="ui items">
{% for user in user_list %}
    {% url 'user-detail' user.username as user_detail_url %}
  <div class="item">
    <a href="{{ user_detail_url }}" class="ui tiny image">
      <img src="{% static 'img/stevie.jpg' %}">
    </a>
    <div class="content">
      <a href="{{ user_detail_url }}" class="header">{{ user.username }}</a>
{#    follow button under avatar#}
        <div class="ui large star rating" type="tooltip" data-url="{% url 'user-follow' user.pk %}" data-rating="{{ user.already_follows }}" data-max-rating="1" data-content="Follow" data-variation="mini"></div>
        {% if title %}{{ user.user_rate }} <i class="star icon green"></i>{% endif %}
        <div class="floated right">
            <p>watchlist favourites see_all_lists</p>
        </div>
      <div class="description">
        <p>{{ user.tagline|default:'Tagline' }}</p>
        <p>comparision (the same titles - rated 7.5, you 8.0)</p>
        <div class="ui button user-list-popup">Show flowing popup</div>
        <div class="ui flowing popup top left transition hidden">
          <div class="ui three column divided center aligned grid">
            <div class="column">
{#              <h4 class="ui header">Basic Plan</h4>#}
              <p>You will be notified about this user's activity</p>
              <div class="ui button">Follow</div>
            </div>
            <div class="column">
              <p>See created lists</p>
              <div class="ui button">Choose</div>
            </div>
            <div class="column">
              <h4 class="ui header">Premium Plan</h4>
              <p><b>8</b> projects, $25 a month</p>
              <div class="ui button">Choose</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="ui divider"></div>
{% endfor %}
</div>

{#<div class="row">#}
{#    <div class="col-md-8 col-md-offset-2">#}
{#        <div class="row">#}
{#            {% if searched_title %}#}
{#                <p class="lead text-center">#}
{#                    {% with searched_title.rate as title_rate %}#}
{#                        {% if title_rate.count %}#}
{#                            {{ title_rate.count }} user{{ title_rate.count|pluralize }}#}
{#                            who saw <a href="{{ searched_title.get_absolute_url }}">{{ searched_title.name }}</a> ({{ searched_title.year }})#}
{#                            <p class="text-center"><em>average rating: {{ title_rate.avg|floatformat:2 }}</em></p>#}
{#                        {% else %}#}
{#                            No one has rated <a href="{{ searched_title.get_absolute_url }}">{{ searched_title.name }}</a> yet.#}
{#                        {% endif %}#}
{#                    {% endwith %}#}
{#                </p>#}
{#            {% else %}#}
{#                <p class="lead text-center">Users who have the most ratings</p>#}
{#            {% endif %}#}
{##}
{#            {% include 'accounts/users_in_a_list.html' %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{% endblock %}