{% load get_src_attrs %}

<div class="ui right floated text menu">
    <div class="header item">{{ sorted_by }}</div>
</div>
<div class="ui clearing hidden divider"></div>
{% if title_list %}
    <h1 class="ui center aligned dividing header">{{ title_list|length }} titles <span style="font-size:12px">(limit {{ limit }})</span></h1>
    <div class="ui items"{% if enable_sortable %} id="sortable" data-url="{% url 'user-fav-reorder' %}"{% endif %}>
        {% for title in title_list %}
            <div id="{{ title.pk }}" class="item">
                <div class="ui tiny image" style="max-height: 100%!important;">
                    {% if title.user_rate and not is_owner %}
                        <span class="ui left corner label red green">
                            <span class="icon">{{ title.user_rate }}</span>
                        </span>
                    {% endif %}
                    <a href="{{ title.get_absolute_url }}"><img {% get_src_attrs title.poster_small_placeholder title.poster_small %}></a>
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        <span class="item-order">{% if favourites %}{{ title.order }}{% else %}{{ forloop.counter }}{% endif %}</span>. <span class="ui circular label item-order-change hide"></span>
                        <a href="{{ title.get_absolute_url }}" class="header">{{ title }}</a>
                        {% include 'titles/includes/toggles.html' with is_fav=title.has_in_favourites is_watch=title.has_in_watchlist %}
                    </div>
                    <div class="description">
                        {% include 'titles/includes/rating.html' with rate=title.request_user_rate %}
                    </div>
                    <div class="extra">{{ title.get_type_display }}. Added: {{ title.added_date }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="ui message">
        List is empty
    </div>
{% endif %}