<a href="{% url 'home' %}" class="item{% if url_name == 'home' %} active{% endif %}"><i class="home icon"></i> Home</a>
<a href="{% url 'title-list' %}" class="item{% if url_name == 'title-list' %} active{% endif %}"><i class="list layout icon"></i> Explore</a>
<a href="{% url 'user-list' %}" class="item{% if url_name == 'user-list' %} active{% endif %}"><i class="user icon"></i> Users</a>
<a href="https://github.com/reryk/movie-website/" class="item" target="_blank"><i class="github icon"></i></a>