<nav>
  <ul class="pager">
    {% if ratings.has_previous %}
        <li><a href="?page={{ ratings.previous_page_number }}{{ query_string }}">Previous</a></li>
    {% endif %}

    <span class="label label-success">page {{ ratings.number }} of {{ ratings.paginator.num_pages }}</span>
    <span class="label label-info" >{{ ratings.paginator.per_page }} per page</span>

    {% if ratings.has_next %}
        <li><a href="?page={{ ratings.next_page_number }}{{ query_string }}">Next</a></li>
    {% endif %}
  </ul>
</nav>