{% if is_paginated %}
    <nav>
        <ul class="pager">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}{{ query_string }}">Previous</a></li>
        {% endif %}

        <span class="label label-success">page {{ paginator.number }} of {{ paginator.num_pages }}</span>
        <span class="label label-info" >{{ paginator.per_page }} per page</span>

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{{ query_string }}">Next</a></li>
        {% endif %}
        </ul>
    </nav>
{% endif %}