{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}charts{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default" type="submit" value="click" OnClick="graph_genres()" id="graph_genres">genres</button>
            <button class="btn btn-default" type="submit" value="click" OnClick="graph_months()" id="graph_months">months</button>
            <button class="btn btn-default" type="submit" value="click" OnClick="graph_rated()">rated</button>
            <button class="btn btn-default" type="submit" value="click" OnClick="graph_year()">year</button>
        </div>
    </div>
</div>
<div id="graph"></div>


<select id="select_year" onchange="graph_months()" style="display: none"></select>
{% endblock %}