{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}charts{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <form method='post'>
                {% csrf_token %}
                {{ form }}
                <input type='submit' value='submit'>
            </form>
            {{ chart|safe }}
            {% comment %}
            {{ chart_genres|safe }}
            {{ chart_ratings|safe }}
            {{ chart_sparks|safe }}
            {{ chart_last_year_ratings|safe }}
            {% endcomment %}
        </div>
    </div>
<div id="highcharts" style="min-width: 310px; height: 400px; margin: 0 auto">x</div>
<button type="submit" value="click" OnClick="graph_genres()" id="graph_genres">show gra</button>
<button type="submit" value="click" OnClick="graph_months()" id="graph_months">show gra</button>
<button type="submit" value="click" OnClick="graph_rated()">show graph rated</button>
<button type="submit" value="click" OnClick="graph_year()">show graph year</button>
<div id="graph"></div>


<select id="select_year" onchange="graph_months()" style="display: none">
<!--<option>all</option>-->
</select>
{% endblock %}