{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}charts{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form method='post'>
                {% csrf_token %}
                {{ form }}
                <input type='submit' value='submit'>
            </form>
            {{ chart|safe }}
            {% comment %}
            {{ chart_genres|safe }}
            {{ chart_ratings|safe }}
            {{ chart_sparks|safe }}
            {{ chart_last_year_ratings|safe }}
            {% endcomment %}
        </div>
    </div>

                            <button type="submit" value="click" OnClick="" id="sendQuery">test</button>
    <div id="highcharts" style="min-width: 310px; height: 400px; margin: 0 auto">x</div>

</div>
{% endblock %}