{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if searched_title %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                Users who saw <a href="{{ searched_title.get_absolute_url }}">{{ searched_title.name }}</a>
                {% with searched_title.rate as title_rate %}
                    Avg ratings: {{ title_rate.avg|floatformat:2 }}
                    ({{ title_rate.count }} user{{ rate.count|pluralize }})
                {% endwith %}
                {% for user in user_list %}
                <div class="col-md-12">
                    <div class="well usersList">
                        <a href="{{ user.userprofile.get_absolute_url }}">
                            <img class="img-responsive img-thumbnail avatarMin"
                                 src="{% if user.userprofile.picture %}{{ user.userprofile.picture.url }}{% else %}{% static 'img/holderbigger.png' %}{% endif %}" alt="...">
                        </a>
                        {% with user.userprofile.avg_of_current_ratings as user_current_ratings %}
                            See all <a href="{{ user.userprofile.ratings_url }}">{{ user_current_ratings.count }} ratings</a>
                            <br>avg: {{ user_current_ratings.avg|floatformat:2 }}
                            <br>
                        {% endwith %}
                    </div>
                    {% for i in 'xxxxxxxxxx' %}
                        <span class="glyphicon glyphicon-star{% if forloop.counter > user.current_rating %}-empty{% endif %}" aria-hidden="true"></span>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                {% for user in user_list %}
                <div class="col-md-12">
                    <div class="well usersList">
                        <a href="{{ user.userprofile.get_absolute_url }}">
                            <img class="img-responsive img-thumbnail avatarMin"
                                 src="{% if user.userprofile.picture %}{{ user.userprofile.picture.url }}{% else %}{% static 'img/holderbigger.png' %}{% endif %}" alt="...">
                        </a>
                        {% with user.userprofile.avg_of_current_ratings as user_current_ratings %}
                            See all <a href="{{ user.userprofile.ratings_url }}">{{ user_current_ratings.count }} ratings</a>
                            <br>avg: {{ user_current_ratings.avg|floatformat:2 }}
                            <br>
                        {% endwith %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}