{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row lower">
	<div class="col-md-12">
		<div class="page-header text-center">
			<span class="lead">{{ choosen_user.username }}</span>
			{% if is_owner %}
			<a href="{{ choosen_user.userprofile.edit_url }}">
                <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> edit</button>
            </a>
        	{% endif %}
			{% if request.user.is_authenticated and not is_owner %}
			<form id="follow_user" method="post" style="display: inline;">{% csrf_token %}
			{% if can_follow %}
				<button class="btn btn-sm see-again-btn watch-btn" type="submit" name="follow" value="follow">Follow user</button>
			{% else %}
				<button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="unfollow" value="unfollow">Unfollow user</button>
			{% endif %}
			</form>
			{% endif %}
			<p class="text-center text-lead"></p>
		</div>
	</div>
</div>

<img id="avatar" class="img-responsive img-thumbnail center-block"
	 src="{% if choosen_user.userprofile.picture %}{{ choosen_user.userprofile.picture.url }}{% else %}{% static 'img/placeholderavatar.png' %}{% endif %}"
	 alt="...">

<div class="row text-center">
	<br>
	<div class="col-md-12">
		<a href="{{ choosen_user.userprofile.watchlist_url }}" class="btn btn-sm btn-default">
			<span class="glyphicon glyphicon-list" aria-hidden="true"></span> watchlist
		</a>
		<a href="{{ choosen_user.userprofile.favourite_url }}" class="btn btn-sm btn-default">
			<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> favourites
		</a>
		<a href="{{ choosen_user.userprofile.recommend_url }}" class="btn btn-sm btn-default">
			<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> recommend
		</a>
	</div>
</div>

{% if is_owner %}
<div class="row text-center">
	<br>
	<div class="col-md-12">
		{% if user.userprofile.imdb_id or user.userprofile.csv_ratings %}
		<div class="btn-group text-center">
			<form method="post" name="update_titles_form">{% csrf_token %}
				{% if user.userprofile.imdb_id %}
					<button class="btn btn-xs btn-default" type="submit" name="update_rss" value="update_rss">update ratings</button>
					<button class="btn btn-xs btn-default" type="submit" name="update_watchlist" value="update_watchlist">update watchlist</button>
				{% endif %}
				{% if user.userprofile.csv_ratings %}
					<button class="btn btn-xs btn-default" type="submit" name="update_csv" value="update_csv">update csv</button>
				{% endif %}
			</form>
		</div>
		{% endif %}
	</div>
</div>
{% endif %}

<br>
{% if request.user.is_authenticated %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			{% if not user_ratings.last_seen %}
			<div class="text-center">
				<div class="alert alert-success alert-resize" role="alert">
					<p>You have no ratings yet.</p>
					<p><a href="{% url 'explore' %}">Explore</a> titles or go ahead and <a href="{% url 'user_edit' user.username %}">edit</a> your profile to sync your account with IMDb.</p>
				</div>
			</div>
			{% endif %}
			<div class="panel panel-success">
				<div class="panel-heading text-center">Most Recently Rated</div>
				<div class="panel-body">
					{% if user_ratings.last_seen %}
					<div class="row">
						{% for entry in user_ratings.last_seen %}
							{% include 'includes/titles_in_a_row.html' with title=entry.title owner=is_owner rate=entry.rate req_user_rate=entry.req_user_curr_rating %}
						{% endfor %}
					</div>
					<hr>
					{% endif %}
					See all <a href="{{ choosen_user.userprofile.ratings_url }}">{{ choosen_user.userprofile.count_titles }} titles</a>
					or <a href="{{ choosen_user.userprofile.all_ratings_url }}">{{ choosen_user.userprofile.count_ratings }} ratings</a>
                    <hr class="visible-sm visible-xs">
					<form id="import_form" method="post" enctype="multipart/form-data" action="{% url 'import_ratings' %}" style="display:none">{% csrf_token %}
						<input id="import" name="csv_ratings" type="file" accept=".csv" />
					</form>

					<div style="display:inline;float: right;">
						{% if is_owner %}
                            <form id="clear_ratings_form" method="post" action="{{ request.user.userprofile.get_absolute_url }}" style="display:inline;margin-right:10px">{% csrf_token %}
                                <input id="confirm-nick" name="confirm-nick" hidden>
                                <button id="clear_ratings" type="submit" class="btn btn-xs btn-success" data-toggle="tooltip" title="You cannot revert this operation. You will lose all of you ratings if you haven't exported them first.">clear my ratings</button>
                            </form>
							<a id="import_ratings" href="{% url 'import_ratings' %}" style="margin-right:10px" data-toggle="tooltip" title="You can add ratings from exported file."><button class="btn btn-xs btn-success">import</button></a>
						{% endif %}
						<a href="{% url 'export_ratings' choosen_user.username %}" data-toggle="tooltip" title="You can export all of your ratings as a form of backup. If you will lose some of your ratings, you will be able to import them."><button class="btn btn-xs btn-success">export</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if user_ratings.common_with_req_user %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-success">
				<div class="panel-heading text-center">Compared to you</div>
				<div class="panel-body">
					{% if user_ratings.common_with_req_user.not_rated_by_req_user %}
					<div>
						<div class="row">
							<p class="text-center lead">Titles {{ choosen_user.username }} liked that you haven't rated</p>
							{% for title in user_ratings.common_with_req_user.not_rated_by_req_user %}
								{% include 'includes/titles_in_a_row.html' with title=title owner=is_owner rate=title.user_rate %}
							{% endfor %}
						</div>
						See all <a href="{{ choosen_user.userprofile.ratings_exclude }}">{{ user_ratings.common_with_req_user.not_rated_by_req_user_count }} titles</a> you haven't rated
					</div>
					<hr>
					{% endif %}
					{% if user_ratings.common_with_req_user.higher %}
					<div class="row">
						<p class="text-center lead">Titles you rated higher</p>
						{% for title in user_ratings.common_with_req_user.higher %}
							{% include 'includes/titles_in_a_row.html' with title=title owner=is_owner rate=title.user_rate req_user_rate=title.req_user_rate %}
						{% endfor %}
					</div>
					<hr>
					{% endif %}
					{% if user_ratings.common_with_req_user.lower %}
					<div class="row">
						<p class="text-center lead">Titles you rated lower</p>
						{% for title in user_ratings.common_with_req_user.lower %}
							{% include 'includes/titles_in_a_row.html' with title=title owner=is_owner rate=title.user_rate req_user_rate=title.req_user_rate %}
						{% endfor %}
					</div>
					<hr>
					{% endif %}
                    <p class="text-center lead">Summary</p>
					You and {{ choosen_user.username }} rated {{ user_ratings.common_with_req_user.count }} the same titles<br>
					{% if user_ratings.common_with_req_user.req_user_rate_avg %}
						You rated them {{ user_ratings.common_with_req_user.req_user_rate_avg|floatformat:2 }} and {{ choosen_user.username }} rated them {{ user_ratings.common_with_req_user.user_rate_avg|floatformat:2 }}<br>
					{% endif %}
					You saw {{ user_ratings.common_with_req_user.percentage }}% of {{ choosen_user.username }}'s
					<a href="{{ choosen_user.userprofile.ratings_url }}">{{ choosen_user.userprofile.count_titles }} ratings</a><br>
					<a href="{% url 'explore' %}?u={{ choosen_user.username }}&exclude_his=on">See titles</a> that only you have seen
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% if user_ratings.last_seen %}
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="text-center">
				<div class="btn-group" role="group" aria-label="...">
					<a id="graph_genres" class="btn btn-default">genres</a>
					<a id="graph_months" class="btn btn-default">months</a>
					<a id="graph_rated" class="btn btn-default">rated</a>
					<a id="graph_year" class="btn btn-default">year</a>
				</div>
			</div>
			<div id="graph" style="margin-top: 3%"></div>
		</div>
	</div>
	{% endif %}
{% else %}
	<br>
	<div class="text-center">
		<div class="alert alert-success alert-resize" role="alert">
			<p>This user hasn't rated anything yet.</p>
		</div>
	</div>
{% endif %}
{% endblock %}