{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row lower">
	<div class="col-md-12">
		<div class="page-header">
			<h1 class="text-center">{{ choosen_user.username }}</h1>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3">
				<img class="img-responsive img-thumbnail" src="{% if choosen_user.userprofile.picture %}{{ choosen_user.userprofile.picture.url }}{% else %}{% static 'img/holderbigger.png' %}{% endif %}" alt="...">
			</div>

			<div class="col-xs-6 col-sm-3 col-md-3">
				<ul class="list-group marginleft">
					<li class="list-group-item"><a href="{{ choosen_user.userprofile.watchlist_url }}">watchlist</a></li>
					<li class="list-group-item"><a href="{{ choosen_user.userprofile.favourite_url }}">favourites</a></li>
					<li class="list-group-item"><a href="{{ choosen_user.userprofile.recommend_url }}">recommend</a></li>
					<li class="list-group-item"><a href="{{ choosen_user.userprofile.ratings_url }}">ratings</a></li>
				{% if is_owner %}
					<li class="list-group-item"><a href="{% url 'user_edit' choosen_user.username %}">edit</a></li>
				{% endif %}
				{% if request.user.is_authenticated and not is_owner %}
					<li class="list-group-item">
						<form id="follow_user" method="post">{% csrf_token %}
						{% if can_follow %}
							<button class="btn btn-sm see-again-btn watch-btn" type="submit" name="follow" value="follow">Follow user</button>
						{% else %}
							<button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="unfollow" value="unfollow">Unfollow user</button>
						{% endif %}
						</form>
					</li>
				{% endif %}
				{% if is_owner %}
					<li class="list-group-item">
						<form id="update_ratings" method="post">{% csrf_token %}
						{% if user.userprofile.imdb_id %}
							<button class="btn btn-sm see-again-btn watch-btn" type="submit" name="update_rss" value="update_rss">update rss</button>
						{% endif %}
						{% if user.userprofile.imdb_ratings %}
							<button class="btn btn-sm see-again-btn watch-btn" type="submit" name="update_csv" value="update_csv">update csv</button>
						{% endif %}
						</form>
					</li>
				{% endif %}
				</ul>
			</div>
		</div>
    </div>
</div>
{% endblock %}