{% extends 'base.html' %}
{% load static %}

{% block title %}Users{% endblock %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section{% if not title %} active{% endif %}" href="{% url 'user-list' %}">Users</a>
        {% if title %}
            <i class="right angle icon divider"></i>
            <div class="active section">Search for: <a href="{{ title.get_absolute_url }}">{{ title }}</a></div>
        {% endif %}
    </div>
{% endblock %}

{% block image %}
    {% if title %}
        <div class="still-background2 still-background2-gradient">
            <img class="backdrop" src="{{ title.poster_backdrop_user }}">
            <div class="ui grid centered">
                <div class="searched-title-background">
                    <div class="ui message"><h2 class="ui header">Users who have seen <a href="{{ title.get_absolute_url }}">{{ title }}</a></h2></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="ui right floated text menu">
        <div class="header item">Sorted by Most Ratings</div>
    </div>
    {% if user_list %}
        <h1 class="ui center aligned dividing header">{{ paginator.count }} users</h1>
        <div class="ui divided items">
            {% for user in user_list %}
                {% url 'user-detail' user.username as user_detail_url %}
                <div class="item">
                    <a href="{{ user_detail_url }}" class="ui tiny image">
                        <img src="{{ user.avatar_url }}">
                    </a>
                    <div class="middle aligned content">
                        {% include 'accounts/includes/follow.html' with user_list=True %}
                        {% if user.pk == request.user.pk %}
                            <div class="ui button right floated disabled owner mb10">My account</div>
                        {% endif %}
                        <a href="{{ user_detail_url }}" class="header">{{ user.username }}</a>
                        {% if title %}{{ user.user_rate }} <i class="star icon green"></i>{% endif %}
                        <div class="description">
                            <div class="ui mini buttons">
                                <a class="ui button" href="{{ user.ratings_url }}" >Ratings</a>
                                <a class="ui button" href="{{ user.favourite_url }}">Favourites</a>
                                <a class="ui button" href="{{ user.watchlist_url }}">Watchlist</a>
                                {% if user.imdb_url %}<a class="ui button" href="{{ user.imdb_url }}" target="_blank"><i class="imdb yellow icon"></i> IMDb Profile</a>{% endif %}
                            </div>
                            <p class="mt10">{{ user.titles_count }} ratings</p>
                        </div>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
            {% endfor %}
        </div>
    {% else %}
        <div class="ui message">
            List is empty
        </div>
    {% endif %}
    {% include 'includes/pagination.html' %}
{% endblock %}