{% extends "base.html" %}
{% load static humanize %}
{#{% block title %}{{ page_title }}{% endblock %}#}

{% block image %}
    {% if popular_movies %}
        <div class="slick-carousel">
            {% for title in popular_movies %}
                <div>
                    {% include 'titles/includes/title_background.html' with title=title rate=title.request_user_rate slick=True counter=forloop.counter0 %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="ui segment">
      <span class="ui blue ribbon label">Upcoming</span>
        <div class="ui list">
            <div class="slick-carousel-small">
                {% for title in upcoming %}
                    <div>
                        {% include 'titles/includes/title_small_slick.html' with slick=True title=title rate2=title.request_user_rate %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ui segment">
      <span class="ui blue ribbon label">Now playing</span>
        <div class="ui list">
            <div class="slick-carousel-small">
                {% for title in now_playing %}
                    <div>
                        {% include 'titles/includes/title_small_slick.html' with slick=True title=title rate2=title.request_user_rate %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ui segment">
      <span class="ui blue ribbon label">Popular TV Shows</span>
        <div class="ui list">
            <div class="slick-carousel-small">
                {% for title in popular_tv %}
                    <div>
                        {% include 'titles/includes/title_small_slick.html' with slick=True title=title rate2=title.request_user_rate %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ui segment">
      <span class="ui blue ribbon label">Popular people</span>
        <div class="ui list">
            <div class="slick-carousel-small">
                {% for person in popular_persons %}
                    <div>
                        {% include 'titles/includes/person_small_slick.html' with slick=True person=person %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <small>Latest update: {{ update_date }}</small>
{% endblock %}