{% extends "base.html" %}
{% load static humanize %}
{% block title %}Home{% endblock %}

{% block image %}
    {% if popular_movies %}
        <div class="slick-carousel">
            {% for title in popular_movies %}
                <div>
                    {% include 'titles/includes/title_background.html' with title=title rate=title.request_user_rate slick=True counter=forloop.counter0 %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="ui segment">
      <span class="ui blue ribbon label">Upcoming</span>
        <div class="ui list">
            {% include 'titles/includes/slick_titles.html' with queryset=upcoming %}
        </div>
    </div>
    <div class="ui segment">
      <span class="ui blue ribbon label">Now playing</span>
        <div class="ui list">
            {% include 'titles/includes/slick_titles.html' with queryset=now_playing %}
        </div>
    </div>
    <div class="ui segment">
      <span class="ui blue ribbon label">Popular TV Shows</span>
        <div class="ui list">
            {% include 'titles/includes/slick_titles.html' with queryset=popular_tv %}
        </div>
    </div>
    <div class="ui segment">
      <span class="ui blue ribbon label">Popular people</span>
        <div class="ui list">
            {% include 'titles/includes/slick_persons.html' with queryset=popular_persons person_qs=True %}
        </div>
    </div>
    <small>Latest update: {{ update_date }}</small>
{% endblock %}