{% extends "base.html" %}
{% load static humanize %}
{#{% block title %}{{ page_title }}{% endblock %}#}

{#{% block image %}#}
{#    <div class="your-class">#}
{#      <div>your content</div>#}
{#      <div>your content</div>#}
{#      <div>your content</div>#}
{#    </div>#}
{#{% endblock %}#}
{% block image %}
    {% if popular_titles %}
        <div class="slick-carousel">
            {% for title in popular_titles %}
                <div>
                    {% include 'titles/includes/title_background.html' with title=title rate=title.request_user_rate slick=True counter=forloop.counter0 %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <p>see by genre</p>
    <p>see by year</p>
    <p>upcoming movies?</p>

    <div class="ui segment">
      <span class="ui blue ribbon label">Popular people</span>
        <div class="ui list">
            <div class="slick-carousel-similar">
                {% for person in popular_persons %}
                    <div>
                        {% include 'titles/includes/person_small_slick.html' with slick=True person=person %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ui segment">
      <span class="ui blue ribbon label">Popular</span>
        <div class="ui list">
            <div class="ui cards">
                {% for title in popular_titles %}
{#                    {% include 'titles/title_card.html' with title=title score=title.rate in_fav=rating.has_in_favourites %}#}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ui segment">
      <span class="ui blue ribbon label">Now playing</span>
        <div class="ui list">
            <div class="slick-carousel-similar">
                {% for title in now_playing %}
                    <div>
                        {% include 'titles/includes/title_small_slick.html' with slick=True title=title rate2=title.request_user_rate %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ui segment">
      <span class="ui blue ribbon label">Upcoming</span>
        <div class="ui list">
            <div class="slick-carousel-similar">
                {% for title in upcoming %}
                    <div>
                        {% include 'titles/includes/title_small_slick.html' with slick=True title=title rate2=title.request_user_rate %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}