{% extends 'base.html' %}
{% load static get_src_attrs %}

{% block title %}{{ person.name }}{% endblock %}

{% block image %}
    <div class="still-background2 still-background2-gradient">
        <!-- Background pattern from Subtle Patterns -->
        {% with title=latest_title %}
            {% if not title %}
                <div class="backdrop"
                     style="background-image: url({% static 'img/posters/w1920_and_h318_bestv2.png' %});background-repeat: repeat-x;"></div>
            {% else %}
                <img class="backdrop" {% get_src_attrs title.poster_backdrop_user_placeholder title.poster_backdrop_user %}>
            {% endif %}
            <div class="ui grid centered">
                <div class="user-background">
                    <div class="card-user card-user-01 height-fix">
                        <img class="card-img-top" src="{{ person.picture }}" alt="Card image cap">
                    </div>
                    <div class="ui tiny user-title message">{{ person.name }}</div>
                </div>
            </div>
        {% endwith %}
    </div>
{% endblock %}

{% block content %}
    <div class="ui grid centered statistics">
        <div class="statistic">
            <div class="value">{{ titles_count }}</div>
            <div class="label">credits</div>
        </div>
        {% if request.user.is_authenticated %}
            <div class="statistic">
                <div class="value">{% if percentage %}{{ percentage }}%{% else %}-{% endif %}</div>
                <div class="label">of credits you saw</div>
            </div>
            <div class="statistic">
                <div class="value">{{ avg|default:'-' }}</div>
                <div class="label">your avg credit score</div>
            </div>
        {% endif %}
    </div>
    <div class="ui segment">
        <span class="ui blue ribbon label">Cast</span>
        <div class="ui list">
            {% for cast in casttitle_list %}
                <div class="item">
                    <a class="ui mini title image" href="{{ cast.title.get_absolute_url }}"><img {% get_src_attrs cast.title.poster_small_placeholder cast.title.poster_small %}></a>
                    <div class="content">
                        <p class="header">{{ cast.character|default:'-' }}</p>
                        <div class="description"><a href="{{ cast.title.get_absolute_url }}">{{ cast.title.name }}
                            ({{ cast.title.year }})</a>{% if cast.request_user_rate %} {{ cast.request_user_rate }}
                            <i class="icon star yellow"></i>{% endif %}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="ui segment">
        <span class="ui blue ribbon label">Crew</span>
        <div class="ui list">
            {% for crew in crewtitle_list %}
                <div class="item">
                    <a class="ui mini title image" href="{{ crew.title.get_absolute_url }}"><img {% get_src_attrs crew.title.poster_small_placeholder crew.title.poster_small %}></a>
                    <div class="content">
                        <p class="header">{{ crew.get_job_display|default:'-' }}</p>
                        <div class="description"><a href="{{ crew.title.get_absolute_url }}">{{ crew.title.name }}
                            ({{ crew.title.year }})</a>{% if crew.request_user_rate %} {{ crew.request_user_rate }}
                            <i class="icon star yellow"></i>{% endif %}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
