{% extends 'base.html' %}
{% load static humanize get_rating_diff widget_tweaks %}
{#{% block title %}{% endblock %}#}

{% block image %}
{#    {% include 'titles/includes/title_background.html' with title=title %}#}
    <div class="still-background2 still-background2-gradient">
        {% with title=latest_title %}
            {% if not title %}
                <!-- Background pattern from Subtle Patterns -->
                <div class="backdrop" style="background-image: url({% static 'img/intersection.png' %});background-repeat: repeat-x;"></div>
            {% else %}
                <img class="backdrop" src="{{ title.poster_backdrop_user }}">
            {% endif %}
            <div class="ui grid centered">
                <div class="user-background">
                    <div class="card-user card-user-01 height-fix">
                        <img class="card-img-top" src="{{ person.picture }}" alt="Card image cap">
                    </div>
                    <div class="ui tiny user-title message">{{ person.name }}</div>
                </div>
            </div>
        {% endwith %}
    </div>
{% endblock %}

{% block content %}
    <div class="ui segment">
        <span class="ui blue ribbon label">Cast</span>
        <div class="ui list">
            {% for cast in person.casttitle_set.all %}
                  <div class="item">
                    <img class="ui mini image" src="{{ cast.title.poster_small }}">
                    <div class="content">
                      <p class="header">{{ cast.character }}</p>
                        <div class="description"><a href="{{ cast.title.get_absolute_url }}">{{ cast.title.name }} ({{ cast.title.year }})</a></div>
                    </div>
                  </div>
            {% endfor %}
        </div>
    </div>

    <div class="ui segment">
      <span class="ui blue ribbon label">Crew</span>
        <div class="ui list">
            {% for crew in person.crewtitle_set.all %}
                  <div class="item">
                    <img class="ui mini image" src="{{ crew.title.poster_small }}">
                    <div class="content">
                      <p class="header">{{ crew.get_job_display }}</p>
                        <div class="description"><a href="{{ crew.title.get_absolute_url }}">{{ crew.title.name }} ({{ crew.title.year }})</a></div>
                    </div>
                  </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
