{% extends 'base.html' %}

{% block title %}Update ratings of {{ title.name }} ({{ title.year }}){% endblock %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'title-list' %}">Title list</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{{ title.get_absolute_url }}">{{ title.name }} ({{ title.year }})</a>
        <i class="right angle icon divider"></i>
        <a class="section active" href="{% url 'rating-update' title.imdb_id %}">Update ratings</a>
    </div>
{% endblock %}

{% block content %}
    <div class="ui segment">
        <span class="ui blue ribbon label">Manage your ratings</span>
        <div class="ui list">
            {% if formset.errors %}
                <div class="ui error message">
                    <div class="header">There were some problems</div>
                    <ul class="list">
                        {% for error in formset.non_form_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form action="{% url 'rating-update' title.imdb_id %}" method="post">{% csrf_token %}
                {{ formset.management_form }}
                <table class="ui celled selectable table">
                    <thead>
                        <tr class="center aligned">
                            {% with formset.forms|first as form %}
                                <th>{{ form.rate_date.label }}</th>
                                <th>{{ form.rate.label }}</th>
                                <th>{{ form.DELETE.label }}</th>
                            {% endwith %}
                        </tr>
                    </thead>
                    <tbody id="{{ formset.prefix }}">
                        {% for form in formset.forms %}
                            {% include 'titles/includes/formset_form_row.html' with form=form %}
                        {% endfor %}
                        <tr id="add-row">
                            <td colspan="3">
                                <a id="add-form">Add a new one</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="ui button primary">Update</button>
            </form>
        </div>
    </div>
    <table style="display:none">
        <tbody id="{{ formset.prefix }}-EMPTY-FORM">
            {% with formset.empty_form as form %}
                {% include 'titles/includes/formset_form_row.html' with form=form %}
            {% endwith %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script type="application/javascript">
        $(function() {
            var today = new Date();

            $('#add-form').click(function(e) {
                e.preventDefault();
                var totalForms = $('[name="{{ formset.prefix }}-TOTAL_FORMS"]');
                var formIndex = parseInt(totalForms.val());
                var emptyForm = $('#{{ formset.prefix }}-EMPTY-FORM').html().replace(/__prefix__/g, formIndex);
                $('#{{ formset.prefix }} tr:last').before(emptyForm);
                formIndex += 1;
                totalForms.val(formIndex);
                var $addedRow = $('#{{ formset.prefix }} tr:last').prev('tr');
                initCalendar($addedRow.find('.my-date'));
                initRating($addedRow.find('.formset.rating'));
            });

            initRating($('.formset.rating'));
            $('.my-date').each(function(i, el) {
                initCalendar($(el));
            });

            function initRating(el) {
                el.rating({
                    initialRating: 0,
                    maxRating: 10,
                    clearable: true,
                    onRate: function (rating) {
                        $(this).prev().val(rating);
                    }
                });
            }

            function initCalendar(el) {
                const $hiddenInput = $(el).prev();
                const initialVal = $hiddenInput.val();
                el.calendar({
                    today: true,
                    type: 'date',
                    maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate()),
                    formatter: {
                        date: function(date, settings) {
                            return getFormattedDate(date);
                        }
                    },
                    onChange: function (date, text, mode) {
                        $hiddenInput.val(text);
                    }
                }).calendar('set date', getFormattedDate(initialVal));
            }

            function getFormattedDate(date) {
                if (!date) {
                    return '';
                }
                if (typeof date === 'string') {
                    date = new Date(date);
                }
                var year = date.getFullYear();
                var month = (1 + date.getMonth()).toString();
                month = month.length > 1 ? month : '0' + month;
                var day = date.getDate().toString();
                day = day.length > 1 ? day : '0' + day;
                return year + '-' + month + '-' + day;
            }
        });
    </script>
{% endblock %}