{% extends 'base.html' %}

{% block title %}Update ratings of {{ title.name }} ({{ title.year }}){% endblock %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'title-list' %}">Title list</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{{ title.get_absolute_url }}">{{ title.name }} ({{ title.year }})</a>
        <i class="right angle icon divider"></i>
        <a class="section active" href="{% url 'rating-update' title.imdb_id %}">Update ratings</a>
    </div>
{% endblock %}

{#{% block image %}#}
{#{% endblock %}#}

{% block content %}
    <div class="ui segment">
        <span class="ui teal ribbon label">Manage your ratings</span>
        <div class="ui list">
            <form action="{% url 'rating-update' title.imdb_id %}" method="post">{% csrf_token %}
                {{ formset.non_form_errors }}
                {% for form in formset.forms %}{{ form.errors }}{% endfor %}
                {{ formset.management_form }}
                <table class="ui celled unstackable table">
                    <thead>
                        <tr>
                            {% with formset.forms|first as form %}
                                <th>{{ form.rate_date.label }}</th>
                                <th>{{ form.rate.label }}</th>
                                <th>{{ form.DELETE.label }}</th>
                            {% endwith %}
                        </tr>
                    </thead>
                    <tbody id="{{ formset.prefix }}">
                        {% for form in formset.forms %}
{#                            {{ form }}#}
                            <tr>
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                <td>{{ form.rate_date }}</td>
{#                                {% include 'includes/field.html' with field=form.rate_date %}#}
{#                                {% include 'includes/field.html' with field=form.rate %}#}
                                <td>{{ form.rate }}</td>
                                <td>{{ form.DELETE }}</td>
                            </tr>
            {#                {% include 'includes/place_image_form.html' with form=form %}#}
                        {% endfor %}
                        <tr id="add-row">
                            <td colspan="3">
                                <a id="add-form">Add a new one</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="ui button primary">Update</button>
            </form>
        </div>
    </div>
    <table style="display:none">
        <tbody id="{{ formset.prefix }}-EMPTY-FORM">
            {% with formset.empty_form as form %}
                <tr>
                    <td>{{ form.rate_date }}</td>
                    <td>{{ form.rate }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>
            {% endwith %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    <script type="application/javascript">
        $(function() {
{#            $( ".controlgroup" ).controlgroup();#}

{#            $( "#datepicker" ).datepicker({#}
{#                changeMonth: true,#}
{#                changeYear: true,#}
{#                maxDate: "+0D",#}
{#                dateFormat: "yy-mm-dd",#}
{#                defaultDate: "{{ rating.rate_date|date:"Y-m-d" }}",#}
{#                onSelect: function(dateText) {#}
{#                    $('[name="newDateValue"]').val(this.value);#}
{#                }#}
{#            });#}

            $('#add-form').click(function(e) {
                e.preventDefault();
                var totalForms = $('[name="{{ formset.prefix }}-TOTAL_FORMS"]');
                var formIndex = parseInt(totalForms.val());
                var emptyForm = $('#{{ formset.prefix }}-EMPTY-FORM').html().replace(/__prefix__/g, formIndex);
                $('#{{ formset.prefix }} tr:last').before(emptyForm);
                formIndex += 1;
                totalForms.val(formIndex);
            });

        });

    </script>
{% endblock %}