{% load static %}
{% url 'title-rate' title.pk as rate_url %}
{% url 'title-fav' title.pk as fav_url %}

<div class="card title-card">
    <div class="image">
      <img src="{% static 'img/w185_h278_bestv2.jpg' %}">
    </div>
  <div class="extra content">
      {{ title.name }} ({{ title.year }})
      <div class="ui star mini rating" data-url="{{ rate_url }}" data-rating="{{ score }}"></div>
      <div class="right floated">
          <i class="list small icon" data-content="Watchlist" data-variation="mini"></i>
{#        <div class="ui large list rating red" type="fav" data-rating="0" data-max-rating="1" data-content="Favourites" data-variation="mini"></div>#}
        <div class="ui small heart rating red" type="fav" data-url="{{ fav_url }}" data-rating="{{ in_fav }}" data-max-rating="1" data-content="Favourite" data-variation="mini"></div>
      </div>
{#      Other user: {{ title.user_rate }} <i class="star icon green"></i>#}
  </div>
</div>