{% extends 'base.html' %}
{% load widget_tweaks get_query_string %}
{#{% block title %}{{ page_title }}{% endblock %}#}

{% block scripts %}
<script>
    $('.ui.form')
      .form({
        fields: {
            year: {
                identifier: 'year',
                optional: true,
                rules: [
                  {
                    type   : 'integer[1890..2030]',
                    prompt : 'Insert value between 1890 and 2030'
                  }
                ]
            }
        }
      })
    ;
</script>
{% endblock %}

{% block image %}
    {% if searched_user %}
        {% include 'accounts/includes/user_background.html' with user=searched_user %}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="{% if not request.GET %}active {% endif %}section" href="{% url 'title-list' %}">Explore</a>
        {% if request.GET %}
            <i class="right angle icon divider"></i>
            <div class="active section">Search</div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="ui styled fluid accordion">
        <div class="title{% if request.GET %} active{% endif %}"><i class="dropdown icon"></i> Search</div>
        <div class="content{% if request.GET %} active{% endif %}">
            {% include 'includes/form_errors.html' with form=search_form %}
            <form class="ui form">
                <div class="ui error message"></div>
                <div class="fields">
                    <input name="user" value="{{ request.GET.user }}" hidden>
                    <div class="four wide field">
                        {% include 'includes/fied2.html' with field=search_form.keyword %}
                    </div>
                    <div class="five wide field">
                        <label>{{ search_form.genre.label|cut:'*' }}</label>
                        {% render_field search_form.genre|add_class:'ui dropdown search' %}
                    </div>
                    <div class="six wide field">
                        <div class="two fields">
                            <div class="field">
                                {% include 'includes/fied2.html' with field=search_form.year %}
                            </div>
                            <div class="field">
                                {% include 'includes/fied2.html' with field=search_form.type %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="ui primary submit button">Search</button>
                </div>
            </form>
        </div>
    </div>

    {% if searched_user %}
        <div class="ui centered grid">
            <h3 class="ui header">{{ searched_user.username }}'s {{ paginator.count }} ratings</h3>
        </div>
        <div class="ui hidden divider"></div>
    {% endif %}
    <div class="ui divider"></div>
    <div class="ui two column stackable grid">
        {% for title in title_list %}
            <div class="column">
                <div class="ui card backdrop-card">
                  <a href="{{ title.get_absolute_url }}" class="ui image">
                      {% if searched_user %}
                        <a class="ui left corner label red green">
                            <span class="icon">{{ title.searched_user_rate }}</span>
                        </a>
                      {% endif %}
                        <img src="{{ title.poster_card }}">
                  </a>
                  <div class="content">
                      <p class="header center aligned"><a href="{{ title.get_absolute_url }}">{{ title.name }}</a></p>
                    <div class="meta">
                      <span class="date">{{ title.plot|truncatewords:25|truncatechars:150 }}</span>
                    </div>
                    <div class="description">
                        <p>
                            {% for genre in title.genres.all %}
                                <a href="{{ genre.get_absolute_url }}">{{ genre.name }}{% if not forloop.last %},{% endif %}</a>
                            {% endfor %}
                            <span class="right floated">
                                <i class="calendar icon"></i> {{ title.year }}
{#                                <i class="star icon"></i>{{ title.rate_imdb }}#}
                            </span>
                        </p>
                    </div>
                  </div>
                  <div class="extra content">
                      <div class="ui star rating" data-url="{% url 'title-rate' title.pk %}" data-rating="{{ title.request_user_rate }}"></div>
                      <div class="right floated">
                          <i type="tooltip" data-content="Favourite{% if not request.user.is_authenticated %}. You must be logged in.{% endif %}" data-variation="mini"  data-pk="{{ title.pk }}" class="{% if not title.has_in_favourites %}empty {% else %}active {% endif %}red heart icon large title-fav"></i>
                          <i type="tooltip" data-content="Watchlist{% if not request.user.is_authenticated %}. You must be logged in.{% endif %}" data-variation="mini" data-pk="{{ title.pk }}" class="{% if not title.has_in_watchlist %}remove {% else %}active {% endif %}red bookmark icon large title-watch"></i>
                      </div>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'includes/pagination.html' %}
{% endblock %}