{% extends 'base.html' %}
{% load static humanize %}
{#{% block title %}{% endblock %}#}

{% block image %}
<div class="still-background">
    <img class="backdrop" src="{% static 'img/1280.jpg' %}">
    <div class="ui grid centered">
        <div class="six wide column">
            <div class="title-box">
                <div class="ui items">
                  <div class="item">
                    <div class="ui image">
                      <img src="{% static 'img/w185_h278_bestv2.jpg' %}">
                    </div>
                    <div class="content title-content">
                      <div class="header title-name">{{ title.name }}</div>
                      <div class="meta">
                        <span class="price"><i class="calendar icon"></i> {{ title.year }}</span>
                        <span class="price">1 Month</span>
                        <div class="ui huge heart rating red" type="tooltip" data-url="{% url 'title-fav' title.pk %}" data-rating="{{ title.has_in_favourites|yesno:"1,0" }}" data-max-rating="1" data-content="Favourite" data-variation="mini"></div>
                      </div>
                      <div class="description">
                        <span class="price"><i class="list small icon red" data-content="Watchlist" data-variation="mini"></i></span>
                        <div class="ui star huge rating" data-url="{% url 'title-rate' title.pk %}" data-rating="{{ user_ratings_of_title.0.rate }}"></div>
                      </div>
                      <div class="extra">
                        extra
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
          <div class="card1 card-01 height-fix">
          <img class="card-img-top" src="http://image.tmdb.org/t/p/w342/rNQH6Q8RPXD59aqGckST3CKQbCf.jpg" alt="Card image cap">
          <div class="card-img-overlay">
            <h4 class="card-title"><strong>{{ title.name }}</strong></h4>
            <p class="card-text">
                <i class="calendar icon"></i> {{ title.year }}
                <i class="star icon"></i>{{ title.rate_imdb }}
            </p>
{#            <p class="card-text">Captain Jack Sparrow searches for the trident of Poseidon.</p>#}
          <p class="card-text ui star large rating" data-url="{% url 'title-rate' title.pk %}" data-rating="{{ user_ratings_of_title.0.rate }}"></p>
            <p class="card-text">

                    <i data-pk="{{ title.pk }}" class="{% if not title.has_in_favourites %}empty {% else %}active {% endif %}red heart icon large title-fav"></i>
                    <i data-pk="{{ title.pk }}" class="{% if not title.has_in_watchlist %}remove {% else %}active {% endif %}red bookmark icon large title-watch"></i>
                <div class="right floated">

                </div>
            </p>
          </div>
        </div>
{#    <img class="title-poster" src="{% static 'img/w185_h278_bestv2.jpg' %}">#}
{#    <div class="ui cards title-poster">#}
{#        {% include 'titles/title_card.html' with title=title score=current_rating.rate in_fav=title.has_in_favourites %}#}
{#    </div>#}
{#    <p class="title-genres">#}
{#        {% for genre in title.genre.all %}#}
{#            <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>#}
{#        {% endfor %}#}
{#    </p>#}
    {#{% with entry.rate as data %}#}
    {#    {% if data.count and data.avg %}#}
    {#        Avg rating: {{ data.avg|floatformat:2 }} <a href="{% url 'user-list' %}?s={{ entry.slug }}">({{ data.count }} vote{{ data.count|pluralize }})</a>#}
    {#    {% endif %}#}
    {#{% endwith %}#}
    <div class="ui divider"></div>
<div class="ui fluid three item menu">
  <a class="item">Buy</a>
  <a class="item">Sell</a>
  <a class="item"><i class="video play icon"></i> Rent</a>
</div>
    {#<a href="{% url 'user-list' %}?const={{ title.const }}">({{ data.count }} vote{{ data.count|pluralize }})</a>#}

    <div class="ui pointing secondary menu user-menu">
        <a class="item active" data-tab="third">Title info</a>
        <a class="item" data-tab="first">Your data</a>
        <a class="item" data-tab="second">Social</a>
        <a class="item" data-tab="fourth">Media</a>
    </div>

    <div class="ui tab segment" data-tab="first">
    history ratings<br>
    edit history hmm
        {% with user_ratings_of_title.0 as current_rating %}
{#            <div class="ui cards">#}
{#                {% include 'titles/title_card.html' with title=title score=current_rating.rate in_fav=title.has_in_favourites %}#}
{#            </div>#}
{#            <div class="ui checkbox">#}
{#              <input type="checkbox" name="insert_as_new">#}
{#              <label for="insert_as_new">insert as a new rating?</label>#}
{#            </div>#}
{#            <br>#}
        {% endwith %}
{#        {% if user_ratings_of_title %}#}
{#            <a href="{% url 'rating-update' user_ratings_of_title.0.pk %}" class="label label-default">#}
{#                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> modify current rating#}
{#            </a>#}
{#        {% endif %}#}
    </div>
    <div class="ui tab segment" data-tab="second">
        <a href="{% url 'user-list' %}?const={{ title.const }}">who saw this title</a>
        <br><a href="">lists with this title</a>

        <div class="ui header">Recommend this title</div>
        <div class="ui primary recommend disabled button" data-pk="{{ title.pk }}">Recommend</div>
        <div class="ui fluid multiple search selection recommend dropdown">
          <input type="hidden" name="user_list">
          <i class="dropdown icon"></i>
          <div class="default text">People you follow</div>
          <div class="menu">
              {% for userfollow in followed_title_not_recommended %}
                <div class="item" data-value="{{ userfollow.followed.username }}"><img class="ui mini avatar image" src="{% static 'img/stevie.jpg' %}">{{ userfollow.followed.username }}</div>
              {% endfor %}
            </div>
        </div>

        {% if followed_saw_title %}
            <div class="ui hidden divider"></div>
            <div class="ui header">Followed users who saw this title too</div>
            {% for userfollow in followed_saw_title %}
                <a href="{% url 'user-detail' userfollow.followed.username %}" class="ui teal image label">
                  <img src="{% static 'img/stevie.jpg' %}">
                  {{ userfollow.followed.username }}
                  <div class="detail">{{ userfollow.user_rate }} on {{ userfollow.user_rate_date }}</div>
                </a>
            {% endfor %}
        {% endif %}
        <div class="ui divider"></div>

        <a href="{{ title.url_imdb }}" target="_blank">
            <img class="image" src="{% static 'img/imdb.png' %}" alt="..." style="width: 70px">
        </a>
        <a href="{{ title.url_tomato }}" target="_blank">
            <img class="image" src="{% static 'img/rt.png' %}" alt="..." style="width: 70px">
        </a>
    </div>
    <div class="ui tab segment active" data-tab="third">
    {#    <h3 class="ui header"></h3>#}
    {#    <ul class="list-group marginleft">#}
    {#        <li class="list-group-item">#}
    {#            {% for genre in title.genre.all %}#}
    {#                <a href="{{ genre.get_absolute_url }}">{{ genre.name }}<br></a>#}
    {#            {% endfor %}#}
    {#        </li>#}
    {#        <li class="list-group-item">director:#}
    {#            {% for director in title.director.all %}#}
    {#                <a href="{{ director.get_absolute_url }}">{% if director.name != 'N/A' %}{{ director.name }}{% else %}unknown{% endif %}<br></a>#}
    {#            {% endfor %}#}
    {#        </li>#}
    {#    </ul>#}

            <div class="ui bulleted list">
                {% if title.runtime %}
                  <div class="item">Runtime: {{ title.runtime }} mins</div>
                {% endif %}
                {% if title.votes %}
                  <div class="item">IMDb votes: {{ title.votes|intcomma }}</div>
                {% endif %}

                {% if title.rate_imdb %}
                    <div class="item">Avg IMDb ratings: {{ title.rate_imdb }}</div>
                {% endif %}
                {% with title.rate as data %}
                    {% if data.count %}
                        <div class="item">Avg ratings: {{ data.avg|floatformat:2 }}
                            <a href="{% url 'user-list' %}?const={{ title.const }}">({{ data.count }} user{{ data.count|pluralize }})</a>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
            {% if title.plot %}
                <div class="ui divider"></div>
                <p>{{ title.plot }}</p>
            {% endif %}
    </div>
    <div class="ui tab segment" data-tab="fourth">
        <h3 class="ui header">4th</h3>
        <div class="ui embed" data-source="youtube" data-id="O6Xo21L0ybE">
</div>
    </div>



    <table>
        {% for rating in data.user_ratings_of_title %}
            <tr>
                <td class=""><a href="{% url 'title-list' %}?year={{ rating.rate_date|date:'Y' }}&month={{ rating.rate_date|date:'m' }}">{{ rating.rate_date|date:"Y-m-d" }}</a></td>
                <td class=""><a href="{% url 'title-list' %}?r={{ rating.rate }}">{{ rating.rate }}</a>
                {% with rating.rated_before_rate_diff as rate_diff %}
                {% if rate_diff != None %}
                    {% if rate_diff > 0 %}
                    <span class="increase">(+{{ rating.rated_before_rate_diff }})</span>
                    {% elif rate_diff == 0 %}
                    <span class="">==</span>
                    {% else %}
                    <span class="decrease">({{ rate_diff }})</span>
                    {% endif %}
                {% endif %}
                {% endwith %}
                </td>
                <td class="text-center">duration: {{ rating.next_rating_days_diff }} days</td>
                <td>
                    <form action="" method="post">{% csrf_token %}
                        <button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="delete_rating" value="delete_rating"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> delete</button>
                        <input type="hidden" name="rating_pk" value="{{ rating.pk }}">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="ui segment">
        <h1 class="ui header">Cast and their other appearances</h1>
        {% for actor, titles in actors_and_other_titles %}
            <h4 class="ui header">{{ actor.name }}</h4>
            {% for title in titles %}
        {#        show left corner label only if rated#}
                {% include 'titles/title_small.html' with title=title rate=title.user_rate %}
            {% endfor %}
        {% endfor %}
    </div>

    <div class="ui segment">
        <h1 class="ui header">Similar titles</h1>
    </div>
{% endblock %}
