{% extends 'base.html' %}
{% load static humanize get_rating_diff widget_tweaks %}
{#{% block title %}{% endblock %}#}

{% block image %}
    {% include 'titles/includes/title_background.html' with title=title rate=user_ratings_of_title.0.rate %}
{% endblock %}

{% block content %}
{#    <img class="title-poster" src="{% static 'img/w185_h278_bestv2.jpg' %}">#}
{#    <div class="ui cards title-poster">#}
{#        {% include 'titles/title_card.html' with title=title score=current_rating.rate in_fav=title.has_in_favourites %}#}
{#    </div>#}
{#    <p class="title-genres">#}
{#        {% for genre in title.genre.all %}#}
{#            <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>#}
{#        {% endfor %}#}
{#    </p>#}
    {#{% with entry.rate as data %}#}
    {#    {% if data.count and data.avg %}#}
    {#        Avg rating: {{ data.avg|floatformat:2 }} <a href="{% url 'user-list' %}?s={{ entry.slug }}">({{ data.count }} vote{{ data.count|pluralize }})</a>#}
    {#    {% endif %}#}
    {#{% endwith %}#}
{#    <div class="ui divider"></div>#}
    <div class="ui fluid two item menu title-menu">
      <a class="item active" data-tab="third">Title Details</a>
      <a class="item" data-tab="first">Your Overview</a>
    </div>
    {#<a href="{% url 'user-list' %}?const={{ title.const }}">({{ data.count }} vote{{ data.count|pluralize }})</a>#}

    <div class="ui tab segment" data-tab="first">
        <div class="ui segment">
          <span class="ui teal ribbon label">Rating history</span>
            <div class="ui list">
                <table class="ui celled unstackable table">
                  <thead>
                    <tr>
                        <th>Date</th>
                        <th>Score</th>
                        <th>Duration (days)</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for rating in user_ratings_of_title %}
                      {% get_rating_diff user_ratings_of_title forloop.counter0 as diff %}
                    <tr>
        {#                <td class=""><a href="{% url 'title-list' %}?year={{ rating.rate_date|date:'Y' }}&month={{ rating.rate_date|date:'m' }}">{{ rating.rate_date|date:"Y-m-d" }}</a></td>#}
        {#                <td class=""><a href="{% url 'title-list' %}?r={{ rating.rate }}">{{ rating.rate }}</a>#}
                      <td>{{ rating.rate_date }}{% if forloop.first %} <div class="ui yellow small horizontal label">current</div>{% endif %}
                      </td>
                      <td class="{% if diff.rate < 0 %}error{% elif diff.rate > 0 %}positive{% endif %}">
                          {{ rating.rate }}{% if diff.rate %} <small>({% if diff.rate > 0 %}+{% endif %}{{ diff.rate }})</small>{% endif %}
                      </td>
                      <td>
                        {{ diff.date }}
{#                        <form action="" method="post">{% csrf_token %}#}
{#                            <button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="delete_rating" value="delete_rating"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> delete</button>#}
{#                            <input type="hidden" name="rating_pk" value="{{ rating.pk }}">#}
{#                        </form>#}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
        {% with user_ratings_of_title.0 as current_rating %}
            <div class="ui checkbox">
              <input type="checkbox" name="insert_as_new">
              <label for="insert_as_new">insert as a new rating?</label>
            </div>
{#            <br>#}
        {% endwith %}
{#        {% if user_ratings_of_title %}#}
{#            <a href="{% url 'rating-update' user_ratings_of_title.0.pk %}" class="label label-default">#}
{#                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> modify current rating#}
{#            </a>#}
{#        {% endif %}#}

        <div class="ui segment">
          <span class="ui teal ribbon label">Recommend</span>
            <span>Recommend it to people you follow</span> <a class="ui primary mini recommend hide button ml10" data-pk="{{ title.pk }}" data-field-name="{{ recommend_form.user.auto_id }}">Recommend</a>
            <div class="ui list">
{#                {{ recommend_form.user }}#}
{#                {% render_field recommend_form.user|add_class:'ui dropdown search' %}#}
                <div class="ui fluid multiple search selection recommend dropdown">
                  <input type="hidden" name="recommended_user_ids">
                  <i class="dropdown icon"></i>
                  <div class="default text">People you follow</div>
                  <div class="menu">
                      {% for userfollow in followed_title_not_recommended %}
                        <div class="item" data-value="{{ userfollow.followed.pk }}"><img class="ui mini avatar image" src="{{ userfollow.followed.avatar_url }}">{{ userfollow.followed.username }}</div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
          <span class="ui teal ribbon label">Other ratings</span>
            <span>Followed users who saw this title</span>
            <div class="ui list">
                {% for userfollow in followed_saw_title %}
                    <a href="{% url 'user-detail' userfollow.followed.username %}" class="ui image label">
                      <img src="{{ userfollow.followed.avatar_url }}">
                      {{ userfollow.followed.username }}
                      <div class="detail">{{ userfollow.user_rate }} <i class="star icon green"></i> {{ userfollow.user_rate_date }}</div>
                    </a>
                {% endfor %}
                {% if not followed_saw_title %}
                    <p>Nothing found</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="ui tab segment active" data-tab="third">
        <div class="ui grid centered statistics">
          {% if title.runtime %}
              <div class="statistic">
                <div class="value">
                  {{ title.runtime }}
                </div>
                <div class="label">
                  Runtime (min)
                </div>
              </div>
          {% endif %}
          {% if not title.is_movie %}
              <div class="statistic">
                <div class="value">
                  {{ title.seasons.all|length }}
                </div>
                <div class="label">
                  Seasons
                </div>
              </div>
          {% endif %}
            {% if summary.avg %}
              <div class="statistic">
                <div class="value">
                  {{ summary.avg }}
                </div>
                <div class="label">
                  Avg
                </div>
              </div>
            {% endif %}
          <div class="statistic">
            <div class="value">
              {{ summary.votes|intcomma }}
            </div>
            <div class="label">
              Votes
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              {{ title.release_date|date:'d.m.Y' }}
            </div>
            <div class="label">
              Release date
            </div>
          </div>
        </div>
        <div class="ui center aligned header">
            <div class="ui label">
              <i class="user small icon"></i> <a class="see-more" href="{% url 'user-list' %}?imdb_id={{ title.imdb_id }}">See users who saw this title</a>
            </div>
        </div>

        {{ title.updated }}; {{ title.being_updated }}
{#        {% with title.rate as data %}#}
{#            {% if data.count %}#}
{#                <div class="item">Avg ratings: {{ data.avg|floatformat:2 }}#}
{#                    <a href="{% url 'user-list' %}?const={{ title.const }}">({{ data.count }} user{{ data.count|pluralize }})</a>#}
{#                </div>#}
{#            {% endif %}#}
{#        {% endwith %}#}
{#        {% for director in title.director.all %}#}
{#            <a href="{{ director.get_absolute_url }}">{% if director.name != 'N/A' %}{{ director.name }}{% else %}unknown{% endif %}<br></a>#}
{#        {% endfor %}#}

        {% if title.overview %}
            <div class="ui hidden divider"></div>
            <p>{{ title.overview }}</p>
            <div class="ui hidden divider"></div>
        {% endif %}

        {% if title.updated %}
            {% if title.is_movie and title.collection %}
                <div class="ui segment">
                  <span class="ui blue ribbon label">{{ title.collection.name }}</span>
                    <div class="ui list">
                        <div class="slick-carousel-similar">
                            {% for title in collection_titles %}
                                <div>
                                    {% include 'titles/includes/title_small_slick.html' with slick=True title=title rate2=title.request_user_rate %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if similar %}
                <div class="ui segment">
                  <span class="ui blue ribbon label">Similar</span>
                    <div class="ui list">
                        <div class="slick-carousel-similar">
                            {% for title in similar %}
                                <div>
                                    {% include 'titles/includes/title_small_slick.html' with slick=True title=title rate2=title.request_user_rate %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if recommendations %}
                <div class="ui segment">
                  <span class="ui blue ribbon label">Recommendations</span>
                    <div class="ui list">
                        <div class="slick-carousel-similar">
                            {% for title in recommendations %}
                                <div>
                                    {% include 'titles/includes/title_small_slick.html' with slick=True title=title rate2=title.request_user_rate %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% elif title.being_updated %}
            <div class="ui hidden divider"></div>
            <div class="ui segment loader-box">
              <div class="ui active dimmer">
                <div class="ui text loader">Title is being updated</div>
              </div>
              <p></p>
            </div>
        {% endif %}

        <div class="ui segment">
          <span class="ui blue ribbon label">Cast</span>
            <div class="ui list">
                <div class="slick-carousel-similar">
                    {% for cast in cast_list %}
                        <div>
                            {% include 'titles/includes/person_small_slick.html' with slick=True person=cast.person character=cast.character %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="ui segment">
          <span class="ui blue ribbon label">Crew</span>
            <div class="ui list">
                <div class="slick-carousel-similar">
                    {% for crew in crew_list %}
                        <div>
                            {% include 'titles/includes/person_small_slick.html' with slick=True person=crew.person character=crew.get_job_display %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if not title.is_movie %}
            <div class="ui segment">
              <span class="ui blue ribbon label">Seasons</span>
                <div class="ui list">
                    <div class="ui hidden divider"></div>
                    <div class="ui centered grid">
                        {% for season in title.seasons.all %}
                            <span class="ui label">
                                {{ season.number }} ({{ season.episodes }} episodes)
                                <div class="detail">({{ season.release_date.year }})</div>
                            </span>
                        {% endfor %}
                    </div>
                    <div class="ui hidden divider"></div>
                </div>
            </div>
        {% endif %}

        <div class="ui segment">
          <span class="ui blue ribbon label">More</span>
            <div class="ui list">
                <a href="{{ title.imdb_url }}" target="_blank">
                    <img class="image" src="{% static 'img/imdb.png' %}" alt="..." style="height: 50px">
                </a>
                <a href="{{ title.tmdb_url }}" target="_blank">
                    <img class="image" src="{% static 'img/tmdb.png' %}" alt="..." style="height: 50px">
                </a>
            </div>
        </div>
    </div>
{% endblock %}
