{% extends 'base.html' %}
{% load static %}
{#{% block title %}{{ page_title }}{% endblock %}#}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="{% if not request.GET %}active {% endif %}section" href="{% url 'title-list' %}">Explore</a>
        {% if request.GET %}
            <i class="right angle icon divider"></i>
            <div class="active section">Search for: <a href="">{% for key, value in request.GET.items %}{{ key }}={{ value }}{% if not forloop.last %}, {% endif %}{% endfor %}</a></div>
        {% endif %}
    </div>
    <div class="ui divider"></div>
{% endblock %}

{% block content %}
<div class="ui two column grid">
    {% for title in title_list %}
        <div class="sixteen wide mobile eight wide computer column">
            <div class="ui card backdrop-card">
              <a href="{{ title.get_absolute_url }}" class="ui image">
                <img src="{% static 'img/w500_and_h521_bestv2.jpg' %}">
              </a>
              <div class="content">
                  <p class="header center aligned"><a href="{{ title.get_absolute_url }}">{{ title.name }}</a></p>
                <div class="meta">
                  <span class="date">{{ title.plot|truncatewords:25|truncatechars:150 }}</span>
                </div>
                <div class="description">
                    <p>
                        {% for genre in title.genre.all %}
                            <a href="{{ genre.get_absolute_url }}">{{ genre.name }}{% if not forloop.last %},{% endif %}</a>
                        {% endfor %}
                        <span class="right floated">
                            <i class="calendar icon"></i> {{ title.year }}
                            <i class="star icon"></i>{{ title.rate_imdb }}
                        </span>
                    </p>
                </div>
              </div>
              <div class="extra content">
                  <div class="ui star rating" data-url="{% url 'title-rate' title.pk %}" data-rating="{{ title.user_rate }}"></div>
                  <div class="right floated">
                      <i data-pk="{{ title.pk }}" class="{% if not title.has_in_favourites %}empty {% else %}active {% endif %}red heart icon large title-fav"></i>
                      <i data-pk="{{ title.pk }}" class="{% if not title.has_in_watchlist %}remove {% else %}active {% endif %}red bookmark icon large title-watch"></i>
{#                      <button class="circular ui orange icon button"><i class="empty heart icon"></i></button>#}
{#                    <a class="ui blue image label">#}
{#                      <i class="add to calendar icon"></i>#}
{#                      Fav#}
{#                    </a>#}
{#                    <span class="price"><i class="list small icon red" data-content="Watchlist" data-variation="mini"></i></span>#}
{#                      <div class="ui heart rating red" type="tooltip" data-url="{% url 'title-fav' title.pk %}" data-rating="{{ title.has_in_favourites|yesno:"1,0" }}" data-max-rating="1" data-content="Favourite" data-variation="mini"></div>#}
{#                    <a><i class="user icon"></i>22 Friends</a>#}
                  </div>
              </div>
            </div>
        </div>
    {% endfor %}
</div>

{% include 'includes/pagination.html' %}
{% endblock %}