{% extends 'base.html' %}
{% load static get_rating_diff humanize %}

{% block title %}{{ title.name }} ({{ title.year }}){% endblock %}

{% block image %}
    {% include 'titles/includes/title_background.html' with title=title rate=user_ratings_of_title.0.rate counter=0 %}
{% endblock %}

{% block content %}
    <div class="ui fluid two item menu title-menu">
        <a class="item active" data-tab="first">Title Details</a>
        <a class="item" data-tab="second">Your Overview</a>
    </div>
    <div class="ui tab segment active" data-tab="first">
        <div class="ui grid centered statistics">
            {% if title.runtime %}
                <div class="statistic">
                    <div class="value">{{ title.runtime }}</div>
                    <div class="label">Runtime (min)</div>
                </div>
            {% endif %}
            {% if not title.is_movie %}
                <div class="statistic">
                    <div class="value">{{ title.seasons.all|length }}</div>
                    <div class="label">Seasons</div>
                </div>
            {% endif %}
            <div class="statistic">
                <div class="value">{{ avg|default:'-' }}</div>
                <div class="label">average score</div>
            </div>
            <div class="statistic">
                <div class="value">{{ votes|intcomma }}</div>
                <div class="label">Votes</div>
            </div>
            <div class="statistic">
                <div class="value">{{ title.release_date|date:'d M Y'|default:'-' }}</div>
                <div class="label">Release date</div>
            </div>
        </div>
        <div class="ui center aligned header">
            <a href="{% url 'user-list' %}?imdb_id={{ title.imdb_id }}" class="ui basic button"><i
                    class="user small icon"></i> Users who saw this title</a>
            {% if not title.is_movie %}
                <div{% if not request.user.is_authenticated %} type="tooltip" data-content="You must be logged in."
                                                               data-variation="mini"{% endif %}
                                                               class="ui basic currently-watching button{% if title.currently_watching %} positive{% endif %}"
                                                               data-url="{% url 'tv-watching' title.pk %}"
                                                               data-active="Currently watching" data-inactive="Not currently watching"
                >
                    {% if title.currently_watching %}Currently watching{% else %}Not watching currently{% endif %}</div>
            {% endif %}
        </div>

{#        todo#}
        {{ title.updated }}; {{ title.being_updated }}

        {% if title.overview %}
            <div class="ui hidden divider"></div>
            <p>{{ title.overview }}</p>
            <div class="ui hidden divider"></div>
        {% endif %}

{#        todo#}
        {% if title.has_details or True %}
            {% if title.collection %}
                <div class="ui segment">
                    <span class="ui blue ribbon label">{{ title.collection.name }}</span>
                    <div class="ui list">
                        {% include 'titles/includes/slick_titles.html' with queryset=collection_titles collection=True title_pk=title.pk %}
                    </div>
                </div>
            {% endif %}

            {% if similar %}
                <div class="ui segment">
                    <span class="ui blue ribbon label">Similar</span>
                    <div class="ui list">
                        {% include 'titles/includes/slick_titles.html' with queryset=similar %}
                    </div>
                </div>
            {% endif %}

            {% if recommendations %}
                <div class="ui segment">
                    <span class="ui blue ribbon label">Recommendations</span>
                    <div class="ui list">
                        {% include 'titles/includes/slick_titles.html' with queryset=recommendations %}
                    </div>
                </div>
            {% endif %}
        {% elif title.getting_details %}
            <div class="ui hidden divider"></div>
            <div class="ui segment loader-box">
                <div class="ui active dimmer">
                    <div class="ui text loader">Title is being updated</div>
                </div>
                <p></p>
            </div>
            <div class="ui icon message">
                <i class="notched circle loading icon"></i>
                <div class="content">
                    <div class="header">
                        Just one second
                    </div>
                    <p>We're fetching that content for you.</p>
                </div>
            </div>
        {% endif %}
        <div class="ui segment">
            <span class="ui blue ribbon label">Cast</span>
            <div class="ui list">
                {% include 'titles/includes/slick_persons.html' with queryset=cast_list cast_qs=True %}
            </div>
        </div>
        <div class="ui segment">
            <span class="ui blue ribbon label">Crew</span>
            <div class="ui list">
                {% include 'titles/includes/slick_persons.html' with queryset=crew_list crew_qs=True %}
            </div>
        </div>

        {% if not title.is_movie %}
            <div class="ui segment">
                <span class="ui blue ribbon label">Seasons</span>
                <div class="ui list">
                    <div class="ui hidden divider"></div>
                    <div class="ui centered grid">
                        {% for season in title.seasons.all %}
                            <span class="ui label">
                                {{ season.number }} ({{ season.episodes }} episodes)
                                <div class="detail">({{ season.release_date.year|default:'-' }})</div>
                            </span>
                        {% endfor %}
                    </div>
                    <div class="ui hidden divider"></div>
                </div>
            </div>
        {% endif %}

        <div class="ui segment">
            <span class="ui blue ribbon label">More</span>
            <div class="ui list">
                <a href="{{ title.imdb_url }}" target="_blank">
                    <img class="image" src="{% static 'img/imdb.png' %}" alt="..." style="height: 50px">
                </a>
                <a href="{{ title.tmdb_url }}" target="_blank">
                    <img class="image" src="{% static 'img/tmdb.png' %}" alt="..." style="height: 50px">
                </a>
                <div class="ui styled fluid accordion mt10">
                    <div class="user title"><i class="dropdown icon"></i> Keywords</div>
                    <div class="content">
                        {% for keyword in title.keywords.all %}{{ keyword.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui tab segment" data-tab="second">
        <div class="ui segment">
            <span class="ui teal ribbon label">Rating history</span>
            <div class="ui list">
                <table class="ui celled unstackable table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Score</th>
                        <th>Duration (days)</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for rating in user_ratings_of_title %}
                            {% get_rating_diff user_ratings_of_title forloop.counter0 as diff %}
                            <tr>
                                <td><span>{{ rating.rate_date }}</span>{% if forloop.first %}<div class="ui yellow ml10 small horizontal label">current</div>{% endif %}</td>
                                <td class="{% if diff.rate < 0 %}error{% elif diff.rate > 0 %}positive{% endif %}">
                                    {{ rating.rate }}{% if diff.rate %}
                                    <small>({% if diff.rate > 0 %}+{% endif %}{{ diff.rate }})</small>{% endif %}
                                </td>
                                <td>{{ diff.date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h4><a href="{% url 'rating-update' title.imdb_id %}">Manage my ratings of this title</a></h4>
            </div>
        </div>
        <div class="ui segment">
            <span class="ui teal ribbon label">Other ratings</span>
            <span>Followed users who saw this title</span>
            <div class="ui list">
                {% for userfollow in followed_saw_title %}
                    <a href="{% url 'user-detail' userfollow.followed.username %}" class="ui image label">
                        <img src="{{ userfollow.followed.avatar_url }}">
                        {{ userfollow.followed.username }}
                        <div class="detail">{{ userfollow.user_rate }} <i class="star icon green"></i> {{ userfollow.user_rate_date }}</div>
                    </a>
                {% endfor %}
                {% if not followed_saw_title %}
                    <p>Nothing found</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
