{% extends 'base_error.html' %}

{% block content %}
<div class="sign-container">
    <div class="nob"></div>
    <div class="post left"></div>
    <div class="post right"></div>
    <div class="pane">
        <div class="headline sign-text-color">
            404
        </div>
        <div class="context sign-text-color">
            Oops, the page you're<br>
            looking for does not exist.
        </div>
    </div>
</div>
<div class="text-container">
	<div class="headline secondary-text-color">
		404
	</div>
	<div class="context primary-text-color">
		<p>
			You may want to head back to the homepage.<br>
			If you think something is broken, report a problem.
		</p>
	</div>

{%  endblock %}