{% extends 'base.html' %}



{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li><a href="http://django-crispy-forms.readthedocs.io/en/latest/">crispy forms</a> for recommend form</li>
                <li><a href="http://www.omdbapi.com/">OMDb API</a> for getting info about recommended title</li>
                <li><a href="http://www.pygal.org/en/stable/index.html">pygal</a> for charts</li>
                <li></li>
                <li>making initial database (get all ratings) using exported list from IMDb in csv format</li>
                <li>and updating using <a href="http://rss.imdb.com/user/ur44264813/ratings">IMDb RSS</a> (access to last 250 ratings) & <a href="http://www.omdbapi.com/">OMDb API</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}