{% load compress static %}<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | The Movie Website</title>
        <meta charset="utf-8">
        <link rel='shortcut icon' type='image/x-icon' href='{% static "img/favicon.png" %}'/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% compress css %}
    {#        <link rel="stylesheet" href="{% static 'bower_components/jquery-ui/themes/base/jquery-ui.min.css' %}">#}
    {#        <link rel="stylesheet" href="{% static 'css/styles.css' %}">#}
    {#        <link rel="stylesheet" href="{% static 'css/iao-alert.css' %}">#}
            <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block styles %}{% endblock %}
        <style type="text/css">
            .ui.card>.content .star.icon, .ui.cards>.card>.content .star.icon {
                cursor:default;
            }
            .title-card {
                width: 230px!important;
            }
        </style>
        {% endcompress %}
    </head>
<body>
    <div class="ui main text container">
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock %}

        <div class="ui breadcrumb">
            {% block breadcrumb %}
            {% endblock %}
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="ui main text container ignored info message {{ message.tags }}">
                    {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                </div>
            {% endfor %}
        {% endif %}

        <div class="ui main text container">
            {% block content %}{% endblock %}
        </div>
        {#    <div class="ui secondary vertical footer segment">#}
        {#        asd#}
        {#    </div>#}
        {#	</div>#}
    </div>
    {% compress js %}
        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
{#        <script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>#}
{#        <script src="{% static 'js/scripts.js' %}"></script>#}
{#        <script src="{% static 'js/iao-alert.jquery.js' %}"></script>#}
        {% block scripts %}{% endblock %}
        <script>
            $('.ui.dropdown').dropdown();

            $('.rating').rating({
                initialRating: 0,
                maxRating: 10,
                clearable:true,
{#                disable:true,#}
                onRate: function (rating) {
                    console.log(rating)
                }
            });

            $('[type="fav"]').popup();
{#            $('.heart, .star').click(function(e) {#}
{#                console.log(e.target);#}
{#            });#}

          var $toggle  = $('.ui.toggle.button');
          $toggle
            .state({
              text: {
                inactive : 'Vote',
                active   : 'Voted'
              }
            })
          ;
        </script>
    {% endcompress %}
</body>
</html>