{% extends "base.html" %}
{% block title %}explore{% endblock %}
{% block content %}
<div class="row">

    <div class="col-md-12">
        <div class="text-center">
            <a href="{% url 'entry_groupby_year' %}" class="btn btn-info" role="button">All years</a>
            <a href="{% url 'entry_groupby_genre' %}" class="btn btn-info" role="button">All genres</a>
        </div>
        <p class="lead text-center search_summary">{{ ratings.paginator.count }}{% if query %} results for '{{ query }}' {% else %} ratings{% endif %}
        {% if selected_type %} ({{ selected_type }}){% endif %}</p>
        {% if ratings.paginator.num_pages > 1 %}
            {% include 'paginator.html' %}
        {% endif %}
        {% include 'search_form.html' %}
        <table class="table table-hover table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">title</th>
                    <th class="text-center">rating</th>
                    {% if user.is_superuser %}
{#                        <th class="text-center"><a id="watchlist-link" href="{% url 'watchlist' %}">watchlist</a></th>#}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for obj in ratings %}
                <tr>
                    <th scope="row" class="col-md-1 text-center">{{ forloop.counter0|add:ratings.start_index }}</th>
                    <td class="col-md-9" style="padding-left: 20px"><a href="{% url 'entry_details' slug=obj.title.slug %}">{{ obj.title.name }} ({{ obj.title.year }})</a></td>
                    <td class="text-center">{{ obj.rate }}</td>
                    {% if user.is_superuser %}
{#                        <td class="text-center">#}
{#                            <form action="" method="post">{% csrf_token %}#}
{#                                {% if obj.watch_again_date %}#}
{#                                    <button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="unwatch">Don't want to see again</button>#}
{#                                {% else %}#}
{#                                    <button class="btn btn-sm see-again-btn watch-btn" type="submit" name="watch">Want to see again</button>#}
{#                                {% endif %}#}
{#                                <input name="const" value="{{ obj.const }}" type="hidden">#}
{#                            </form>#}
{#                        </td>#}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if ratings.paginator.num_pages > 1 %}
            {% include 'paginator.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}