{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <p class="lead text-center">found ratings from {{ year_count|length }} different years</p>
            {% for dict in year_count %}
                <div class="col-md-1">
                    <p><a href="{% url 'entry_show_from_year' year=dict.year %}" data-toggle="tooltip" title="{{ dict.the_count }} title{{ dict.the_count|pluralize }}">{{ dict.year }}</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}