{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ entry.name }}{% endblock %}
{% block content %}

<div class="row" style="margin-top:-35px;">
	<div class="col-md-12">
		<div class="page-header">
			<h1 class="text-center">{{ entry.name }}</h1>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3">
				<img class="img-responsive img-thumbnail" src="{% if entry.img %}{{ entry.img.url }}{% else %}{% static 'img/holderbigger.png' %}{% endif %}" alt="...">
			</div>

			<div class="col-xs-6 col-sm-3 col-md-3">
				<ul class="list-group" style="margin-left: -10px">
					<li class="list-group-item"><a href="{% url 'entry_show_from_year' year=entry.year %}">{{ entry.year }}</a></li>
					<li class="list-group-item">{% for genre in entry.genre.all %}
						<a href="{% url 'entry_show_from_genre' genre=genre.name %}">{{ genre.name }}<br></a>
						{% endfor %}</li>
					<li class="list-group-item">{% for director in entry.director.all %}
						<a href="{% url 'entry_show_from_director' pk=director.id %}">{% if director.name != 'N/A' %}{{ director.name }}{% else %}unknown director{% endif %}<br></a>{% endfor %}
					</li>
					{% comment %}
					{% if entry.votes != 'N/A' %}<li class="list-group-item">{{ entry.votes }} votes</li>{% endif %}
						<li class="list-group-item">current rating: <a href="{% url 'entry_show_from_rate' rate=entry.rate %}">{{ entry.rate }}</a></li>
					{% if entry.rate_imdb >= 1  %}<li class="list-group-item">imdb rating: {{ entry.rate_imdb }}</li>{% endif %}
					<li class="list-group-item">rated on: <a href="{{ link_month }}">{{ entry.rate_date|date:"d.m.Y" }}</a>
						{% if entry.yesterday_today_month %}
							<span class="label {% if entry.yesterday_today_month == 'this month' %}label-info{% else %}label-warning{% endif %}">
								{{ entry.yesterday_today_month }}
							</span>
						{% endif %}
					</li>
					{% endcomment %}
					{% if request.user.is_authenticated %}
					<li class="list-group-item">
						{% if archive %}
							<a href="{% url 'entry_edit' slug=entry.slug %}" class="label label-default">change rating</a>
						{% endif %}
						<form action="" method="post">{% csrf_token %}
							{% if is_in_user_watchlist %}
                                <button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="unwatch" value="unwatch">Don't want to see again</button>
							{% else %}
                                <button class="btn btn-sm see-again-btn watch-btn" type="submit" name="watch" value="watch">Want to see again</button>
							{% endif %}
							<br>
                            {% if is_favourite_for_user %}
								<button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="unfav" value="unfav">unfavourite</button>
                            {% else %}
                                <button class="btn btn-sm see-again-btn watch-btn" type="submit" name="fav" value="fav">favourite</button>
                            {% endif %}
							{% if followed_who_can_take_recommendation %}
							<select class="selectpicker show-tick" name="choose_followed_user"
									multiple title="Recommend to" data-width="auto" data-size="5"
									data-actions-box="true" data-live-search="true">
								{% for user in followed_who_can_take_recommendation %}
									<option value="{{ user.username }}" data-subtext="{{ user.userprofile.count_ratings }} ratings">{{ user.username }}</option>
								{% endfor %}
							</select>
							<button class="btn btn-sm" type="submit" name="select_followed_users" value="select">Recommend</button>
							{% endif %}
						</form>
					</li>
					{% endif %}
				</ul>
			</div>

				<!--<span class="starRating">-->
					<!--<input id="rating5" type="radio" name="rating" value="5">-->
					<!--<label for="rating5">5</label>-->
				  <!--</span>-->
		</div>
		{% if request.user.is_authenticated %}
		<form action="" method="post">{% csrf_token %}
			<span class="starRating">
				{% for i in loop %}
					<input id="rating{{ i }}" type="radio" name="rating" value="{{ i }}" {% if user_ratings_of_title.0.rate == i %}checked{% endif %}>
					<label for="rating{{ i }}">{{ i }}</label>
			  	{% endfor %}
		  	</span>
            {% if user_ratings_of_title %}
            <button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="delete_rating" value="delete_rating">delete_rating</button>
            {% endif %}
		</form>
		{% endif %}
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1"><br>
				{% if user_ratings_of_title %}
				<div class="progress">
					<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: {{ user_ratings_of_title.0.rate }}0%">{{ user_ratings_of_title.0.rate }}/10</div>
                </div>
				{% endif %}
				{{ entry.plot }}
			</div>
		</div>


		<div class="row">
			<div class="col-md-2 hidden-xs"></div>
			<div class="col-xs-2 visible-xs"></div>
			<div class="col-xs-10 col-md-5">
			{% if user_ratings_of_title %}
				<div class="history">
					<p class="lead"><br>History of ratings:</p>
					<table class="table-bordered table-condensed">
						<thead>
							<tr>
								<th class="text-center">title</th>
								<th class="text-center">rating</th>
								<th class="text-center">rated</th>
							</tr>
						</thead>
                    	<tbody>
						{% for a in user_ratings_of_title %}
							<tr>
								<td class=""><a href="{% url 'entry_show_rated_in_month' year=a.rate_date|date:'Y' month=a.rate_date|date:'m' %}">{{ a.rate_date|date:"Y-m-d" }}</a></td>
								<td class=""><a href="{% url 'entry_show_from_rate' rate=a.rate %}">{{ a.rate }}</a></td>
								<td class="text-center">duration: {{ a.next_rating_days_diff }} days</td>
							</tr>
						{% endfor %}
						<tbody>
					</table>
				</div>
			{% endif %}
			</div>
			<div class="col-xs-2 visible-xs"></div>
			<div class="col-xs-10 col-md-5">
				<p class="lead"><br>Find out more:</p>
				<ul>
					<li><a href="{{ entry.url_imdb }}">imdb</a></li>
					<li><a href="{{ entry.url_tomato }}">rotten tomatoes</a></li>
					<li><a href="{% url 'entry_details_redirect' const=entry.const %}">shorter link</a></li>
{#					<li><a id="watchlist-link" href="{% url 'watchlist' username %}">see watchlist</a></li>#}
				</ul>
			</div>
		</div>


		{% comment %}
		<br>
		{% if episodes %}
			<div class="row">
				<div class="col-xs-7">
					{% for season, eps in episodes %}
					<div id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading{{season}}">
						  <h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{season}}" aria-expanded="true" aria-controls="collapse{{season}}">
							  season {{ season }}
							</a>
						  </h4>
						</div>
						<div id="collapse{{season}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{season}}">
							{% for e in eps %}
								{{ e.number }} {{ e.name }} <br>
							{% endfor %}
						</div>
					  </div>
					</div>
						{% endfor %}
				</div>
			</div>
		{% endif %}
		{% endcomment %}
</div>
	</div>
{% endblock %}