{% extends "base.html" %}
{% load staticfiles %}
{% block title %}test{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">

        <p class="lead text-center search_summary">{{ ratings.paginator.count }}{% if query %} results for '{{ query }}' {% else %} titles{% endif %}
        {% if selected_type %} ({{ selected_type }}){% endif %}</p>
        {% if ratings.paginator.num_pages > 1 %}
            {% include 'paginator.html' %}
        {% endif %}


        <table id="results">
            {% for obj in ratings %}
            <tr class="result {% cycle 'odd' 'even' %}">
                <td class="">{{ forloop.counter0|add:ratings.start_index }}</td>
                <td class="">
                    <img class="img-responsive img-thumbnail" src="{% if obj.img %}{{ obj.img.url }}{% else %}{% static 'img/holderbigger.png' %}{% endif %}" alt="..." width="70">
                </td>
                <!--<th scope="row" class="col-md-1 text-center {% if obj.req_user_curr_rating %}color-watched{% endif %}">{{ forloop.counter0|add:ratings.start_index }}</th>-->
                <td class="">
                    <p>
                        <a href="{% url 'title_details' slug=obj.slug %}">{{ obj.name }} ({{ obj.year }})</a>
                        <span>
                        {% if obj.user_curr_rating %}
                            {{ obj.user_curr_rating }}
                            <span class="glyphicon glyphicon-star green" aria-hidden="true"></span>
                        {% endif %}
                        {% if obj.req_user_curr_rating %}
                            {{ obj.req_user_curr_rating }}
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        {% endif %}
                        </span>
                        <span style="float: right;">
                            {% with condition=obj.has_in_watchlist const=obj.const %}
                                {% include 'includes/watchlist.html' %}
                            {% endwith %}
                            {% with condition=obj.has_in_favourites const=obj.const %}
                                {% include 'includes/favourites.html' %}
                            {% endwith %}
                        </span>
                    </p>

                    <!--<p>{{ obj.plot|truncatechars:120 }}</p>-->


                </td>
            </tr>
            {% endfor %}
        </table>

        {% if ratings.paginator.num_pages > 1 %}
            {% include 'paginator.html' %}
        {% endif %}
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <a href="{% url 'groupby_year' %}" class="btn btn-info" role="button">All years</a>
            <a href="{% url 'groupby_genre' %}" class="btn btn-info" role="button">All genres</a>
        </div>
        {% include 'includes/search_form.html' %}
    </div>
</div>
{% endblock %}