{% extends "base.html" %}
{% block title %}explore{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <a href="{% url 'groupby_year' %}" class="btn btn-info" role="button">All years</a>
            <a href="{% url 'groupby_genre' %}" class="btn btn-info" role="button">All genres</a>
        </div>
        <p class="lead text-center search_summary">{{ ratings.paginator.count }}{% if query %} results for '{{ query }}' {% else %} ratings{% endif %}
        {% if selected_type %} ({{ selected_type }}){% endif %}</p>
        {% if ratings.paginator.num_pages > 1 %}
            {% include 'paginator.html' %}
        {% endif %}
        {% include 'search_form.html' %}
        <table class="table table-hover table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">title</th>
                    {% if request.user.is_authenticated %}
                    <th class="text-center"><a id="" href="{{ request.user.userprofile.favourite_url }}">favourite</a></th>
                    <th class="text-center"><a id="" href="{{ request.user.userprofile.watchlist_url }}">watchlist</a></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for obj in ratings %}
                <tr class="{% if obj.user == request.user %}taaaa{% endif %}">
                    <th scope="row" class="col-md-1 text-center {% if obj.seen_by_user %}color-watched{% endif %}">{{ forloop.counter0|add:ratings.start_index }}</th>
                    <td class="col-md-9 paddingleft"><a href="{{ obj.get_absolute_url }}">{{ obj.name }} ({{ obj.year }})</a></td>
                    {% if request.user.is_authenticated %}
                        <td class="text-center">
                            <form action="" method="post">{% csrf_token %}
                                {% if obj.has_in_favourites %}
                                        <button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="unfav" value="unfav">unfavourite</button>
                                {% else %}
                                        <button class="btn btn-sm see-again-btn watch-btn" type="submit" name="fav" value="fav">favourite</button>
                                {% endif %}
                                <input name="const" value="{{ obj.const }}" type="hidden">
                            </form>
                        </td>
                        <td class="text-center">
                            <form action="" method="post">{% csrf_token %}
                                {% if obj.has_in_watchlist %}
                                    <button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="unwatch" value="unwatch">Don't want to see again</button>
                                {% else %}
                                    <button class="btn btn-sm see-again-btn watch-btn" type="submit" name="watch" value="watch">Want to see again</button>
                                {% endif %}
                                <input name="const" value="{{ obj.const }}" type="hidden">
                            </form>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if ratings.paginator.num_pages > 1 %}
            {% include 'paginator.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}