{% extends "base.html" %}
{% load staticfiles %}
{% block title %}explore{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="text-center">
            <a href="{% url 'groupby_year' %}" class="btn btn-sm btn-success" role="button">All years</a>
            <a href="{% url 'groupby_genre' %}" class="btn btn-sm btn-success" role="button">All genres</a>
        </div>
        <br>
        {% if search_result %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    Search results for:
                    <ul>
                        {% for q in search_result %}
                            <li>{{ q }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        <p class="lead text-center search_summary">{{ ratings.paginator.count }} result{{ ratings.paginator.count|pluralize }}</p>

        {% if ratings.paginator.num_pages > 1 %}
            {% include 'includes/paginator.html' %}
        {% endif %}

        {% include 'includes/search_form.html' %}

        <table class="table table-hover table-bordered table-condensed">
            {% include 'includes/titles_in_a_table.html' with objs=ratings %}
        </table>

        {% if ratings.paginator.num_pages > 1 %}
            {% include 'includes/paginator.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}