{% extends "base.html" %}
{% load staticfiles %}
{% block title %}explore{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="text-center">
            <a href="{% url 'groupby_year' %}" class="btn btn-info" role="button">All years</a>
            <a href="{% url 'groupby_genre' %}" class="btn btn-info" role="button">All genres</a>
        </div>
        <p class="lead text-center search_summary">{{ ratings.paginator.count }}{% if query %} results for '{{ query }}' {% else %} titles{% endif %}
        {% if selected_type %} ({{ selected_type }}){% endif %}</p>
        {% if ratings.paginator.num_pages > 1 %}
            {% include 'includes/paginator.html' %}
        {% endif %}
        {% include 'includes/search_form.html' %}
        <br>
        <table class="table table-hover table-bordered table-condensed">
            <tbody>
                {% for obj in ratings %}
                <tr class="result result-{% cycle 'odd' 'even' %}">
                    <td class="col-md-9 paddingleft">
                        {{ forloop.counter0|add:ratings.start_index }}.
                        <img class="img-responsive img-rounded"
                         src="{% if obj.img %}{{ obj.img.url }}{% else %}{% static 'img/holderbigger.png' %}{% endif %}"
                         style="width: 35px; float: left; margin-right: 10px; " alt="...">
                        <a href="{% url 'title_details' slug=obj.slug %}">{{ obj.name }} ({{ obj.year }})</a>
                        {% if obj.runtime %}{{ obj.runtime }} min{% endif %}
                        <span style="float: right;">
                            {% if obj.user_curr_rating %}
                                {{ obj.user_curr_rating }}
                                <span class="glyphicon glyphicon-star green" aria-hidden="true"></span>
                            {% endif %}

                            {% if obj.req_user_curr_rating %}
                                {{ obj.req_user_curr_rating }}
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            {% endif %}

                            {% include 'includes/favourites.html' with condition=obj.has_in_favourites const=obj.const %}
                            {% include 'includes/watchlist.html' with condition=obj.has_in_watchlist const=obj.const %}
                        </span>
                        <p style="font-style:italic; font-size:12px">
                            {% for genre in obj.genre.all %}
                                <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>
                                {% include 'includes/comma.html' %}
                            {% endfor %}
                            dir:
                            {% for director in obj.director.all %}
                                <a href="{{ director.get_absolute_url }}">
                                    {% if director.name != 'N/A' %}{{ director.name }}{% else %}unknown{% endif %}
                                </a>
                                {% include 'includes/comma.html' %}
                            {% endfor %}
                        </p>

						<form id="star_rating_form" action="" method="post">{% csrf_token %}
							<span class="starRating">
							{% for i in loop %}
								<input id="rating{{ i }}" type="radio" name="rating" value="{{ i }}" {% if obj.req_user_curr_rating == i %}checked{% endif %}>
								<label for="rating{{ i }}">{{ i }}</label>
							{% endfor %}
							</span>
                            <input name="const" value="{{ obj.const }}" hidden>
						</form>

                        {% if obj.plot %}
                        <p style="padding-left: 10px">{{ obj.plot|truncatechars:250 }}</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if ratings.paginator.num_pages > 1 %}
            {% include 'includes/paginator.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}