{% extends "base.html" %}

{% block content %}
<div class="row">
    <p class="lead text-center">{{ genre|length }} genres found</p>
    <hr>
    {% for obj in genre %}
        <div class="col-xs-4 col-md-2">
            <p><a href="{{ obj.get_absolute_url }}"
                  data-toggle="tooltip" data-placement="right"
                  title="{{ obj.num }} title{{ obj.num|pluralize }}">{{ obj.name }}</a>
                <span class="visible-xs-inline"><small> ({{ obj.num }})</small></span>
            </p>
        </div>
    {% endfor %}
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div id="includeChartGenres"></div>
    </div>
</div>
{% endblock %}