{% extends "base.html" %}
{% block image %}
{% load staticfiles %}
<div class="container-fluid wrapper">
  <div class="">
    <h1 class="text-center"></h1>
  </div>
</div>
{% endblock %}
{% block title %}home{% endblock %}

{% block content %}
<div class="row">
    <br>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success" role="alert">
                {% if request.user.is_authenticated %}
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            {% comment %}
                            {% if last_movie %}
                                <li>Last movie: <a href="{{ last_movie.get_absolute_url }}">{{ last_movie.name }}</a></li>
                            {% endif %}
                            {% if last_series %}
                                <li>Last tv-show: <a href="{{ last_series.get_absolute_url }}">{{ last_series.name }}</a></li>
                            {% endif %}
                            {% if last_good_movie %}
                                <li>Last movie rated 9-10: <a href="{{ last_good_movie.get_absolute_url }}">{{ last_good_movie.name }}</a></li>
                            {% endif %}
                            {% endcomment %}
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Watched series: <a href="{{ search_series }}">{{ series_count }}</a></li>
                            <li>Watched movies: <a href="{{ search_movies }}">{{ movie_count }}</a></li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Total series: <a href="{{ total_series }}">{{ series_count }}</a></li>
                            <li>Total movies: <a href="{{ total_movies }}">{{ movie_count }}</a></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <h3 class="page-header text-center">recently seen <small>(<a href="{% url 'explore' %}{% if request.user.is_authenticated %}?u={{ request.user.username }}{% endif %}">see more</a>)</small></h3>
    {% for entry in ratings %}
    <div class="col-md-6">
        <div class="last10 well well-sm {% cycle 'odd' 'even' %}">
            <div class="pull-left num">{{ forloop.counter }}</div>
            <a href="{{ entry.title }}">
                <img class="img-thumbnail pull-left" src="{% if entry.title.img %}{{ entry.title.img.url }}
                    {% else %}{% static 'img/holderbigger.png' %}{% endif %}" alt="..." style="">
            </a>
            <div class="content">
                <h5><a href="{{ entry.title.get_absolute_url }}">{{ entry.title.name }} ({{ entry.title.year }})</a></h5>
                {% for i in 'xxxxxxxxxx' %}
                    <i class="fa {% if forloop.counter <= entry.rate %}fa-star{% else %}fa-star-o{% endif %}" aria-hidden="true"></i>
                {% endfor %}
                <h5>{{ entry.rate_date|date:"F d" }}</h5>
            </div>

        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}