{% extends "base.html" %}
	{% block navbar %}
	{% endblock %}
{% block image %}
	<div class="container-fluid wrapper">
  <div class="">
  <h1 class="text-center"></h1>
  </div>
</div>
{% endblock %}


{% block content %}
I am a <span id="js-rotating">So Simple, Very Doge, Much Wow, Such Cool</span> Text Rotator
<div id="anim">ahhahahah</div>
<button id="clickme">
  Click here
</button>
<div id="book">dsadas</div>
<div class="row">
    <div class="alert alert-success" role="alert">{{ info.last_movie.name }}</div>
    <div id="summary" class="well well-sm">
        Last movie: {{ info.last_movie.name }}<br>
        Last tv-show: {{ info.last_series.name }}<br>
        Last movie rated 9-10: {{ info.last_good.name }}<br>
        Watched movies: {{ info.movie_count }}<br>
        Watched series: {{ info.series_count }}<br>
    </div>
    <h3 class="page-header text-center">recently seen <small>(<a href="{% url 'explore' %}">see more</a>)</small></h3>
    {% for entry in ratings %}
    <div class="col-md-6">
        {% comment %}
    <!--<div class="media">-->
          <!--<div class="media-left">-->
              <!--&lt;!&ndash;<img class="media-object" src="{{ baseUrl }}/static/img/posters/{{ entry.const }}.jpg" alt="..." style="max-width: 100px">&ndash;&gt;-->
              <!--<img class="media-object" src="{{ baseUrl }}/static/img/posters/{{ entry.const }}.jpg" alt="..." style="height:8em">-->
          <!--</div>-->
          <!--<div class="media-body">-->
            <!--<h4 class="media-heading"><a href="{% url 'entry_details' slug=entry.slug %}">{{ entry.name }}</a> {{ entry.rate }}/10</h4>-->
          <!--</div>-->
        <!--</div>-->
        {% endcomment %}
    <div class="last10 well well-sm {% cycle 'odd' 'even' %}">
        <div class="pull-left num">{{ forloop.counter }}</div>
        <a href="{% url 'entry_details' slug=entry.slug %}"><img class="img-thumbnail pull-left" src="{{ baseUrl }}/static/img/posters/{{ entry.const }}.jpg" alt="..." style=""></a>
        <div class="content">
            <h5><a href="{% url 'entry_details' slug=entry.slug %}">{{ entry.name }} ({{ entry.year }})</a></h5>
            <h5>{{ entry.rate }}/10</h5>
            <h5>{{ entry.rate_date|date:"F d" }}</h5>
        </div>

    </div>
    </div>
    {% endfor %}
  </div>




{% endblock %}