{% load static %}
{% with url_name=request.resolver_match.url_name %}
    <div class="ui secondary top attached menu">
        <a href="{% url 'home' %}" class="header item">
            Movie Website
        </a>
        <a href="{% url 'home' %}" class="item{% if url_name == 'home' %} active{% endif %}">Home</a>
        <a href="{% url 'title-list' %}" class="item{% if url_name == 'title-list' and not request.GET.user|slugify == request.user.pk|slugify %} active{% endif %}">Explore</a>
        <a href="{% url 'user-list' %}" class="item{% if url_name == 'user-list' %} active{% endif %}">Users</a>
        <a href="{% url 'about' %}" class="item{% if url_name == 'about' %} active{% endif %}">About</a>
        <div class="right menu">
            <div class="ui search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
            {% if request.user.is_authenticated %}
                <div class="ui dropdown item">
                    <strong>{{ request.user.username }}</strong>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item{% if url_name == 'user-detail' and user.username == request.user.username %} active{% endif %}"
                           href="{% url 'user-detail' request.user.username %}"><i class="user icon"></i>My Account</a>
                        <a href="{{ request.user.edit_url }}"
                           class="item{% if url_name == 'user-edit' %} active{% endif %}"><i class="setting icon"></i>Settings</a>
                        <div class="divider"></div>
                        <a class="item{% if url_name == 'title-list' and request.GET.user|slugify == request.user.pk|slugify %} active{% endif %}"
                           href="{{ request.user.ratings_url }}"><i class="star icon"></i>My Ratings</a>
                        <a class="item{% if url_name == 'favourite-list' and user.username == request.user.username %} active{% endif %}"
                           href="{{ request.user.favourite_url }}"><i class="list icon"></i>Favourites</a>
                        <a class="item{% if url_name == 'watchlist-list' and user.username == request.user.username %} active{% endif %}"
                           href="{{ request.user.watchlist_url }}"><i class="bookmark icon"></i>Watchlist</a>
                        <div class="divider"></div>
                        <a href="{% url 'logout' %}?next={{ request.path }}" class="item"><i class="sign out icon"></i>Logout</a>
                    </div>
                </div>
            {% else %}
                <div class="right menu">
                    <a href="{% url 'login' %}" class="item{% if url_name == 'login' %} active{% endif %}"><i
                            class="sign in icon"></i>Login</a>
                    <a href="{% url 'register' %}" class="item{% if url_name == 'register' %} active{% endif %}"><i
                            class="sign out icon"></i>Sign up</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endwith %}