{% load static %}
{% with url_name=request.resolver_match.url_name %}
<div class="ui secondary menu">
    <div class="ui container">
      <a href="{% url 'home' %}" class="header item">
{#        <img class="logo" src="assets/images/logo.png">#}
        Movie Website
      </a>
      <a href="{% url 'home' %}" class="item{% if url_name == 'home' %} active{% endif %}">Home</a>
{#      <div class="ui simple pointing dropdown item">#}
{#        Dropdown <i class="dropdown icon"></i>#}
{#        <div class="menu">#}
{#          <a class="item" href="#">Link Item</a>#}
{#          <a class="item" href="#">Link Item</a>#}
{#          <div class="divider"></div>#}
{#          <div class="header">Header Item</div>#}
{#          <div class="item">#}
{#            <i class="dropdown icon"></i>#}
{#            Sub Menu#}
{#            <div class="menu">#}
{#              <a class="item" href="#">Link Item</a>#}
{#              <a class="item" href="#">Link Item</a>#}
{#            </div>#}
{#          </div>#}
{#          <a class="item" href="#">Link Item</a>#}
{#        </div>#}
{#      </div>#}
<div class="ui pointing dropdown link item">
    <span class="text">{{ user.username }}</span>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="header">Overview</div>
      <div class="item">My account</div>
      <div class="item">Watchlist</div>
      <div class="item">Favourites</div>
      <div class="item">Recommendations</div>
      <div class="divider"></div>
      <div class="header">Management</div>
      <div class="item">Settings</div>
      <div class="item">Change password</div>
      <div class="item"><a href="{% url 'logout' %}">Logout</a></div>
    </div>
  </div>
      <div class="right menu">
          {% if user.is_authenticated %}
              <div class="ui simple dropdown item">
                {{ user.username }} <i class="dropdown icon"></i> <span class="ui green label">2</span>
                <div class="menu">
                  <a class="item" href="#">Notifications <span class="ui green label">2</span></a>
                  <a class="item" href="{% url 'user-detail' user.username %}">Profile</a>
                  <a class="item" href="#">Link Item</a>
                    <div class="divider"></div>
                  <a href="{% url 'user-edit' user.username %}" class="item"><i class="setting icon"></i>Settings</a>
                  <a href="{% url 'logout' %}" class="item"><i class="sign out icon"></i>Logout</a>
                </div>
              </div>
          {% else %}
              <a href="{% url 'login' %}" class="item{% if url_name == 'login' %} active{% endif %}"><i class="sign in icon"></i>Login</a>
              <a href="{% url 'register' %}" class="item{% if url_name == 'register' %} active{% endif %}"><i class="sign out icon"></i>Sign up</a>
          {% endif %}
      </div>
    </div>
  </div>
{% endwith %}
{#<nav class="navbar navbar-default navbar-fixed-top">#}
{#	<div class="container">#}
{#		<div class="navbar-header">#}
{#			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">#}
{#				<span class="sr-only">Toggle navigation</span>#}
{#				<span class="icon-bar"></span>#}
{#				<span class="icon-bar"></span>#}
{#				<span class="icon-bar"></span>#}
{#			</button>#}
{#		</div>#}
{#		<div id="navbar" class="navbar-collapse collapse">#}
{#			<ul class="nav navbar-nav">#}
{#				<li class="/"><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> home</a></li>#}
{#				<li><a href="{% url 'title-list' %}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> explore</a></li>#}
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> more</a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="{% url 'group-year' %}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> all years</a></li>#}
{#                        <li><a href="{% url 'group-genre' %}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> all genres</a></li>#}
{#                        <li><a href="{% url 'group-director' %}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> all directors</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> {% if request.user.is_authenticated %}{{ request.user.username }}{% else %}users{% endif %}</a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="{% url 'user-list' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> users</a></li>#}
{#                    {% if request.user.is_authenticated %}#}
{#                        <li><a href="{{ request.user.get_absolute_url }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> your profile</a></li>#}
{#                        <li role="separator" class="divider"></li>#}
{#                        <li><a href="{{ request.user.watchlist_url }}"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> watchlist</a></li>#}
{#                        <li><a href="{{ request.user.favourite_url }}"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> favourites</a></li>#}
{#                        <li><a href="{{ request.user.recommend_url }}"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> recommend</a></li>#}
{#                        <li role="separator" class="divider"></li>#}
{#                    {% endif %}#}
{#                    {% if not request.user.is_authenticated %}#}
{#                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> login</a></li>#}
{#                        <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> register</a></li>#}
{#                    {% else %}#}
{#                        <li class="text-center">#}
{#                            <a href="{{ request.user.get_absolute_url }}">#}
{#                                {% if request.user.picture %}#}
{#                                <img id="avatar" class="img-responsive img-thumbnail" src="{{ request.user.picture.url }}" alt="..." style="width: 100px">#}
{#                                {% else %}#}
{#                                <img id="avatar" class="img-responsive img-thumbnail" src="{% static 'img/placeholderavatar.png' %}" alt="..." style="width: 100px">#}
{#                                {% endif %}#}
{#                            </a>#}
{#                        </li>#}
{#                        <li role="separator" class="divider"></li>#}
{#                        <li class="text-center"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> logout</a></li>#}
{#                    {% endif %}#}
{#                    </ul>#}
{#                </li>#}
{#			</ul>#}
{#		</div>#}
{#	</div>#}
{#</nav>#}