<nav>
    <div class="text-center" style="cursor:default; margin-bottom: -15px">
      <span class="label label-success">page {{ ratings.number }} of {{ ratings.paginator.num_pages }}</span>
    <span class="label label-info" >{{ ratings.paginator.per_page }} per page</span></div>
    <ul class="pager">
      {% if ratings.has_previous %}
    <li><a href="?page={{ ratings.previous_page_number }}">Previous</a></li>
      {% else %}
      <li><a style="cursor: default">Previous</a></li>
      {% endif %}
      {% if ratings.has_next %}
    <li><a href="?page={{ ratings.next_page_number }}">Next</a></li>
      {% else %}
      <li><a style="cursor: default">Next</a></li>
      {% endif %}
  </ul>
</nav>