{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}recommend{% endblock %}

{% block content %}
{% if not is_owner or is_owner %}
<div class="row">
    <div class="col-md-6">
        <form id="recommend_form" method="post">{% csrf_token %}
            <fieldset>
                <div class="col-md-12">
                    <div id="div_id_const" class="form-group"> <label for="id_const" class="control-label  requiredField">link or id<span class="asteriskField">*</span></label>
                    <div class="controls ">
                        <input class="textinput textInput form-control" id="id_const" maxlength="50" name="const" placeholder="eg. http://www.imdb.com/title/tt0111503/ or tt0111503" type="text">
                    </div>
                    </div>
                </div>
                {% if not request.user.is_authenticated %}
                <div class="col-md-9"> <div id="div_id_nick" class="form-group"> <label for="id_nick" class="control-label  requiredField">
                nickname<span class="asteriskField">*</span> </label> <div class="controls "> <input class="textinput textInput form-control" id="id_nick" maxlength="30" name="nick" type="text" value="" required> </div> </div>
                </div>
                {% endif %}
                <div class="col-md-12">
                    <div id="div_id_note" class="form-group"><label for="id_note" class="control-label ">note</label>
                        <div class="controls ">
                            <textarea class="textarea form-control" cols="40" id="id_note" maxlength="120" name="note" placeholder="an optional message (max 120 chars)" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group"> <div class="controls "> <input type="submit" name="submit" value="Save" class="btn btn-primary btn btn-success" id="submit-id-submit"> </div> </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Rules</h3>
          </div>
          <div class="panel-body">
              <ul>
                  <li>5 recommendations per day allowed</li>
                  <li>can't insert titles already rated</li>
              </ul>
          </div>
        </div>
        <hr>
        <h5 class="text-center">Progress bar for today's recommendations limit</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-{% if count.today == 5 %}danger{% elif count.today == 4 %}warning{% else %}info{% endif %}" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ count.today|add:count.today }}0%">
            <span class="sr-only"></span>{{ count.today }} / 5
          </div>
        </div>
    </div>
</div>
<hr>
{% endif %}
{% if obj_list %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-warning text-center" role="alert">{{ obj_list|length }} recommendation{{ obj_list|pluralize }} found. {{ count.active_recommendations }} left to watch</div>
    </div>
</div>
<table class="table table-hover table-bordered table-condensed">
    <thead>
        <tr>
            <th class="text-center"></th>
            <th class="text-center">title</th>
            <th class="text-center">when</th>
            <th class="text-center">watched</th>
            <th class="text-center">author</th>
            {% if is_owner %}
            <th class="text-center">delete</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for obj in obj_list %}
        <tr class="">
            <th scope="row" class="col-md-1 text-center">{{ forloop.counter }}</th>
            <td class=""><a href="{{ obj.title.get_absolute_url }}" target="">{{ obj.title.name }}</a> ({{ obj.title.year }})</td>
            <td class="col-md-2 text-center">{{ obj.added_date|date:"Y-m-d" }}</td>
            <td class="col-md-1 text-center">
            {% if not obj.is_active %}
                <i class="fa fa-check" aria-hidden="true"></i>
            {% else %}
                <i class="fa fa-times" aria-hidden="true"></i>
            {% endif %}
            </td>
            <td class="col-md-2 text-center" {% if obj.note %}data-toggle="tooltip" data-placement="left" title="{{ obj.note }}"{% endif %}>
            {% if obj.sender %}
                <a href="{{ obj.sender.userprofile }}">{{ obj.sender }}</a>
            {% else %}
                {{ obj.nick }}
            {% endif %}
            </td>
            {% if is_owner and obj.is_active %}
            <td class="col-md-1 text-center">
                <form action="" method="post">{% csrf_token %}
                    <button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="delete_recommend" value="delete_recommend">delete</button>
                    <input type="hidden" name="recommend_pk" value="{{ obj.pk }}">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-warning text-center" role="alert">No recommendations found</div>
    </div>
</div>
{% endif %}
{% endblock %}