<form class="navbar-form navbar-right" role="search">

    <select class="selectpicker show-tick" name="g" multiple title="Choose genre" data-width="auto" data-size="7" data-max-options="3">
    {% for g in genres %}
        <option value="{{ g.name }}" data-subtext="{{ g.num }} titles">{{ g.name }}</option>
    {% endfor %}
    </select>
    <input type="text" name='y' class="form-control" placeholder="yyyy or yyyy-yyyy">
    <div class="form-group">
      <select class="form-control" name="t">
        <option value="1">movie</option>
        <option value="2">series</option>
        <option value="0" selected>movie & series</option>
      </select>
    </div>
    <div class="form-group">
        <input type="text" name='q' class="form-control" placeholder="search by title"><!--value='{{ request.GET.q }}'-->
    </div>
    <button type="submit" class="btn btn-default">Submit</button>

    <select class="selectpicker show-tick" name="u" multiple title="what others saw" data-width="auto" data-size="5" data-live-search="true">
    {% for user in list_of_users %}
        <option value="{{ user.username }}" data-subtext="{{ user.userprofile.count_ratings }} ratings">{{ user.username }}</option>
    {% endfor %}
    </select>
    <div class="checkbox">
      <label><input type="checkbox" value="both">we both have seen</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="exclude_mine">I haven't seen</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="exclude_his">he hasn't seen</label>
    </div>
</form>