{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input id="inputBox" type="text" class="form-control" placeholder="q" name='q'>
      <!--<input id="inputBox" type="text" class="form-control" placeholder="title" name='title'>-->
      <input id="target" type="text" class="form-control" placeholder="year" name="year">
      <span class="input-group-btn">
        <button id="go" class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <nav id="pagination" aria-label="..." style="display:none;">
        <ul class="pager">
          <li><a href="#" class="previous">Previous</a></li>
          <li><a href="#" class="next">Next</a></li>
        </ul>
      </nav>
      <div id="loader" style="">
        <!--<div id="top"></div>-->
        <!--<div id="bottom"></div>-->
        <!--<div id="line"></div>-->
        <img src="{% static 'img/ring.svg' %}">
      </div>
  </div>
</div>
<div class="content">

</div>
<button type="submit" value="click" OnClick="graph_genres()" id="graph_genres">show graph genres</button>
<button type="submit" value="click" OnClick="graph_months()" id="graph_months">show graph months</button>
<!--<select name="select_genre">-->
  <!--<option value="volvo">Volvo</option>-->
<!--</select>-->
<div id="graph"></div>
<select id="mySelect"></select>
<select id="select_year" onchange="graph_months()" style="display: none"></select>
{% endblock %}