{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input id="inputBox_search" type="text" class="form-control" placeholder="q" name='q'>
      <!--<input id="inputBox" type="text" class="form-control" placeholder="title" name='title'>-->
{#      <input id="target" type="text" class="form-control" placeholder="year" name="year">#}
      <span class="input-group-btn">
        <button id="go_search" class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <nav id="pagination" style="display:none;">
        <ul class="pager">
          <li><a href="#" class="previous">Previous</a></li>
          <li><a href="#" class="next">Next</a></li>
        </ul>
      </nav>
      <div id="loader">
        <!--<div id="top"></div>-->
        <!--<div id="bottom"></div>-->
        <!--<div id="line"></div>-->
        <img src="{% static 'img/ring.svg' %}">
      </div>
  </div>
</div>
<div class="search_content">  </div>



<select id="select_per_page" onchange="per_page()">
  <option>20 (default)</option>
  <option>10</option>
  <option>50</option>
  <option>100</option>
</select>

{% endblock %}