{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %}{{ entry.name }}{% endblock %}
{% block content %}

<div class="row lower">
	<div class="col-md-12">
		<div class="page-header">
			<h1 class="text-center">{{ entry.name }}</h1>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3">
				<img class="img-responsive img-thumbnail" src="{% if entry.img %}{{ entry.img.url }}{% else %}{% static 'img/holderbigger.png' %}{% endif %}" alt="...">
			</div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<ul class="list-group marginleft">
					<li class="list-group-item">year: <a href="{% url 'explore' %}?y={{ entry.year }}">{{ entry.year }}</a></li>
					<li class="list-group-item">genre:
					{% for genre in entry.genre.all %}
						<a href="{{ genre.get_absolute_url }}">{{ genre.name }}<br></a>
					{% endfor %}
					</li>
					<li class="list-group-item">director:
					{% for director in entry.director.all %}
						<a href="{{ director.get_absolute_url }}">{% if director.name != 'N/A' %}{{ director.name }}{% else %}unknown director{% endif %}<br></a>
					{% endfor %}
					</li>
					{% if entry.votes %}
					<li class="list-group-item">IMDb votes: {{ entry.votes|intcomma }}</li>
					{% endif %}

					{% if entry.rate_imdb %}
					<li class="list-group-item">Avg IMDb ratings: {{ entry.rate_imdb }}</li>
					{% endif %}

                    {% if rate %}
                    <li class="list-group-item">Avg ratings: {{ rate.avg }} <a href="{% url 'user_list' %}?s={{ entry.slug }}">({{ rate.count }} user{{ rate.count|pluralize }})</a></li>
                    {% endif %}

					{% if request.user.is_authenticated %}
					<li class="list-group-item">
					{% if user_ratings_of_title %}
						<a href="{% url 'title_edit' slug=entry.slug %}" class="label label-default">change current rating</a>
					{% endif %}
					{% if is_in_user_watchlist %}
						<button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="unwatch" value="unwatch">Don't want to see again</button>
					{% else %}
						<button class="btn btn-sm see-again-btn watch-btn" type="submit" name="watch" value="watch">Want to see again</button>
					{% endif %}
						<br>
					{% if is_favourite_for_user %}
						<button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="unfav" value="unfav">unfavourite</button>
					{% else %}
						<button class="btn btn-sm see-again-btn watch-btn" type="submit" name="fav" value="fav">favourite <i class="fa fa-heart" aria-hidden="true"></i></button>
						<button id="fav-icon" type="submit" name="fav" value="fav">
							<i class="fa fa-heart" aria-hidden="true"></i>
						</button>
					{% endif %}
						<form action="" method="post">{% csrf_token %}
						{% if followed_can_take_recommendation %}
							<select class="selectpicker show-tick" name="choose_followed_user"
									multiple title="Recommend to" data-width="auto" data-size="5"
									data-actions-box="true" data-live-search="true">
							{% for user in followed_can_take_recommendation %}
								<option value="{{ user.username }}" data-subtext="{{ user.userprofile.count_ratings }} ratings">{{ user.username }}</option>
							{% endfor %}
							</select>
							<button class="btn btn-sm" type="submit" name="select_followed_users" value="select">Recommend</button>
						{% endif %}
						</form>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			{% if request.user.is_authenticated %}
			<form id="star_rating_form" action="" method="post">{% csrf_token %}
				<span class="starRating">
					{% for i in loop %}
						<input id="rating{{ i }}" type="radio" name="rating" value="{{ i }}" {% if user_ratings_of_title.0.rate == i %}checked{% endif %}>
						<label for="rating{{ i }}">{{ i }}</label>
					{% endfor %}
				</span>
				{% if user_ratings_of_title %}
				<div class="checkbox">
					<label><input type="checkbox" name="insert_as_new" value="insert_as_new">insert as a new rating?</label>
				</div>
				{% endif %}
			</form>
			{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1"><br>
				{% if user_ratings_of_title %}
				<div class="progress">
					<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: {{ user_ratings_of_title.0.rate }}0%">{{ user_ratings_of_title.0.rate }}/10</div>
                </div>
				{% endif %}
				{{ entry.plot }}
			</div>
		</div>
<!--<span class="label {% if entry.yesterday_today_month == 'this month' %}label-info{% else %}label-warning{% endif %}">-->
<!--{{ entry.yesterday_today_month }}-->
<!--</span>-->
		<div class="row">
			<div class="col-md-2 hidden-xs"></div>
			<div class="col-xs-2 visible-xs"></div>
			<div class="col-xs-10 col-md-5">
			{% if user_ratings_of_title %}
				<div class="history">
					<p class="lead"><br>History of ratings:</p>
					<table class="table-bordered table-condensed">
						<thead>
							<tr>
								<th class="text-center">title</th>
								<th class="text-center">rating</th>
								<th class="text-center">rated</th>
								<th class="text-center">delete</th>
							</tr>
						</thead>
                    	<tbody>
						{% for rating in user_ratings_of_title %}
							<tr>
								<td class=""><a href="{% url 'explore' %}?year={{ rating.rate_date|date:'Y' }}&month={{ rating.rate_date|date:'m' }}">{{ rating.rate_date|date:"Y-m-d" }}</a></td>
								<td class=""><a href="{% url 'explore' %}?r={{ a.rate }}">{{ rating.rate }}</a>
								{% with rating.rated_before_rate_diff as rate_diff %}
								{% if rate_diff != None %}
									{% if rate_diff > 0 %}
									<span class="increase">(+{{ rating.rated_before_rate_diff }})</span>
									{% elif rate_diff == 0 %}
									<span class="">==</span>
									{% else %}
									<span class="decrease">({{ rate_diff }})</span>
									{% endif %}
								{% endif %}
								{% endwith %}
								</td>
								<td class="text-center">duration: {{ rating.next_rating_days_diff }} days</td>
								<td>
									<form action="" method="post">{% csrf_token %}
										<button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="delete_rating" value="delete_rating">delete_rating</button>
										<input type="hidden" name="rating_pk" value="{{ rating.pk }}">
									</form>
								</td>
							</tr>
						{% endfor %}
						<tbody>
					</table>
				</div>
			{% endif %}
			</div>
			<div class="col-xs-2 visible-xs"></div>
			<div class="col-xs-10 col-md-5">
				<p class="lead"><br>Find out more:</p>
				<ul>
					<li><a href="{{ entry.url_imdb }}">imdb</a></li>
					<li><a href="{{ entry.url_tomato }}">rotten tomatoes</a></li>
				</ul>
				Last updated: {{ entry.last_updated|date:"Y-m-d" }}
			</div>
		</div>
		{% if followed_saw_title %}
		<div class="row">
		{% for user in followed_saw_title %}
			{% if user.latest_rate %}
			<p><img src="{{ user.user_followed.userprofile.picture }}">{{ user.user_followed.username }} -- {{ user.latest_rate }}</p>
			{% endif %}
		{% endfor %}
		</div>
		{% endif %}

    </div>
</div>
{% endblock %}