{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p class="lead text-center">I want to see again {{ ratings|length }} title{{ ratings|pluralize }}</p>
                <table class="table table-hover table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center">title</th>
                            {% if is_owner %}
                                <th class="text-center">delete</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in ratings %}
                        <tr>
                            <th scope="row" class="text-center">{{ forloop.counter }}</th>
                            <td><a href="{{ obj.title }}">{{ obj.title.name }}</a></td>
                            {% if is_owner %}
                                <td class="text-center">
                                    <form action="" method="post">{% csrf_token %}
                                        <button class="btn btn-sm see-again-btn unwatch-btn" type="submit"
                                                name="{% if obj.imdb %}watchlist_imdb_delete{% else %}watchlist_delete{% endif %}"
                                                value="delete">Don't want to see again
                                        </button>
                                        <input id="choosen_object" name="const" value="{{ obj.title.const }}" hidden>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if is_owner and deleted %}
        <div class="row">
            <div class="col-md-12">
                <p class="lead text-center">Deleted from imdb_watchlist.</p>
                <table class="table table-hover table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center">title</th>
                                <th class="text-center">delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in deleted %}
                        <tr>
                            <th scope="row" class="text-center">{{ forloop.counter }}</th>
                            <td><a href="{{ obj.title }}">{{ obj.title.name }}</a></td>
                                <td class="text-center">
                                    <form action="" method="post">{% csrf_token %}
                                        <button class="btn btn-sm see-again-btn watch-btn" type="submit"
                                                name="watchlist_imdb_readd"
                                                value="delete">Readd
                                        </button>
                                        <input id="choosen_object" name="const" value="{{ obj.title.const }}" hidden>
                                    </form>
                                </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% if history %}
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <p class="lead text-center">History watchlist</p>
                    <table class="table table-hover table-bordered table-condensed">
                        <thead>
                           <tr>
                                <th class="text-center"></th>
                                <th class="text-center">title</th>
                                <th class="text-center">rating</th>
                                <th class="text-center">watched after</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in history %}
                            <tr>
                                <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                <td><a href="{{ obj.get_entry }}">{{ obj.get_entry.name }}</a></td>
                                <td>{{ obj.rate }}</td>
                                <td>{{ obj.rated_after_days_diff }} days</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div><div class="col-md-4">
        <div class="input-group">
            <input id="inputBox_search" type="text" class="form-control" placeholder="q" name='q'>
            <span class="input-group-btn">
                <button id="go_search" class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
        <nav id="pagination" style="display:none;">
            <ul class="pager">
                <li><a href="#" class="previous">Previous</a></li>
                <li><a href="#" class="next">Next</a></li>
            </ul>
        </nav>
      <div id="loader">
          <img src="{% static 'img/ring.svg' %}">
      </div>
    </div>
    <!--<table class="table table-hover table-bordered table-condensed"></table>-->
    <div class="search_content"></div>
</div>
{% endblock %}