{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
    see on http://www.imdb.com/user/ur44264813/watchlist
    <div class="row">
        <div class="col-xs-10">

            <table class="table table-hover table-bordered table-condensed">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center">title</th>
                        <th class="text-center">added</th>
                        <th class="text-center">active</th>
                        <th class="text-center">deleted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in watchlist %}
                    <tr>
                        <th scope="row" class="text-center">{{ forloop.counter }}</th>
                        <td><a href='http://www.imdb.com/title/{{ obj.const }}'>{{ obj.name }}</a></td>
                        <td>{{ obj.added_date }}</td>
                        <td>{{ obj.active }}</td>
                        <td>{{ obj.deleted_after_watched }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}