{% load static %}
<div class="ui small image" type="tooltip" data-content="{{ title.name }} ({{ title.year }}){% if rate_date %} on {{ rate_date }}{% endif %}" data-variation="small">
    {% if rate and not is_owner %}
        <span class="ui left corner label red green">
            <span class="icon">{{ rate }}</span>
        </span>
    {% endif %}
    {% if rate2 %}
        <span class="ui right corner label red yellow">
            <span class="icon">{{ rate2 }}</span>
        </span>
    {% endif %}
    <a href="{{ title.get_absolute_url }}">
        <img {% if lazy %}src="{{ title.poster_small_placeholder }}" data-lazy{% else %}src{% endif %}="{{ title.poster_small }}">
    </a>
    <small{% if collection and title.pk == title_pk %} class="color-red"{% endif %}>{{ title.name }}</small>
</div>
