{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <table class="table table-hover table-bordered">
		            <thead>
                        <tr>
                            <th class="text-center"></th>
                            {% for key in dict %}
                                <th class="text-center"></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-center">NUM</th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}