{% extends "base.html" %}
{% load crispy_forms_tags %}
{#{% block title %}edit {{ rating.name }}{% endblock %}#}
{% block content %}
{% block styles %}
<style>

</style>
{% endblock %}

<div class="row lower">
	<div class="col-md-8 col-md-offset-2">
		<h1 class="page-header text-center"><a href="{{ rating.title.get_absolute_url }}">{{ rating.title.name }}</a></h1>
	</div>
	<div class="col-md-4 col-md-offset-4 text-center">
		<form action="{% url 'rating-update' rating.pk %}" method="post">{% csrf_token %}
        {{ form.rate }}
        {{ form.rate_date }}
			<div class="controlgroup">
				<p>Rate:
					<select name="rate">
					{% for i in 'xxxxxxxxxx' %}
						<option value="{{ forloop.counter }}" {% if rating.rate == forloop.counter %}selected{% endif %}>{{ forloop.counter }}</option>
					{% endfor %}
					</select>
				</p>
			</div>
			<input name="newDateValue" value="{{ rating.rate_date }}" hidden>
			<div id="datepicker"></div>
			<input type="submit" value="Submit" class="btn btn-success" style="margin-top: 20px"/>
		</form>
	</div>
</div>
<!--|date:"Y-m-d"-->
{% endblock %}
{% block scripts %}
    <script type="application/javascript">
        $(function() {
            $( ".controlgroup" ).controlgroup();

            $( "#datepicker" ).datepicker({
                changeMonth: true,
                changeYear: true,
                maxDate: "+0D",
                dateFormat: "yy-mm-dd",
                defaultDate: "{{ rating.rate_date|date:"Y-m-d" }}",
                onSelect: function(dateText) {
                    $('[name="newDateValue"]').val(this.value);
                }
            });
        });
    </script>
{% endblock %}