{% extends "base.html" %}
{% load staticfiles humanize %}
{% block title %}{% endblock %}
{% block content %}
    <div class="row lower">
        <div class="col-md-12">
            <div class="page-header">
                <h2 class="text-center">{{ title.name }} (<a href="{% url 'explore' %}?y={{ title.year }}">{{ title.year }}</a>)</h2>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3">
                    <img class="img-responsive img-thumbnail" src="{% if title.img %}{{ title.img.url }}{% else %}{% static 'img/holderbigger.png' %}{% endif %}" alt="...">
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <ul class="list-group marginleft">
                        <li class="list-group-item">
                            {% for genre in title.genre.all %}
                                <a href="{{ genre.get_absolute_url }}">{{ genre.name }}<br></a>
                            {% endfor %}
                        </li>
                        <li class="list-group-item">director:
                            {% for director in title.director.all %}
                                <a href="{{ director.get_absolute_url }}">{% if director.name != 'N/A' %}{{ director.name }}{% else %}unknown{% endif %}<br></a>
                            {% endfor %}
                        </li>

                        {% if title.runtime %}
                            <li class="list-group-item">Runtime: {{ title.runtime }} mins</li>
                        {% endif %}

                        {% if title.votes %}
                            <li class="list-group-item">IMDb votes: {{ title.votes|intcomma }}</li>
                        {% endif %}

                        {% if title.rate_imdb %}
                            <li class="list-group-item">Avg IMDb ratings: {{ title.rate_imdb }}</li>
                        {% endif %}

                        {% with title.rate as data %}
                            {% if data.count %}
                                <li class="list-group-item">Avg ratings: {{ data.avg|floatformat:2 }}
                                    <a href="{% url 'user-list' %}?s={{ title.slug }}">({{ data.count }} user{{ data.count|pluralize }})</a>
                                </li>
                            {% endif %}
                        {% endwith %}
                    </ul>
                </div>
            </div>
            {% if data %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <hr>
                        <div class="row text-center">
                            <div class="col-md-6">
                                <form id="star_rating_form" action="" method="post">{% csrf_token %}
                                    <div id="{{ title.const }}" style="display: inline-block" class="raty-stars"
                                         data-score="{{ data.user_ratings_of_title.0.rate }}" data-path="{% static 'img' %}" data-source="details_page">
                                    </div>
                                    <span id="descr-{{ title.const }}" style="display: inline-block"></span>
                                    <input name="rating" value="{{ data.user_ratings_of_title.0.rate }}" hidden>
                                    {% if data.user_ratings_of_title %}
                                        <span class="checkbox">
                                            <label><input type="checkbox" name="insert_as_new" value="insert_as_new">insert as a new rating?</label>
                                        </span>
                                        <a href="{% url 'title_edit' slug=title.slug %}" class="label label-default">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> modify current rating
                                        </a>
                                    {% endif %}
                                </form>
                            </div>
                            <hr class="visible-sm visible-xs">
                            <div class="col-md-6">
                                {% include 'includes/actions/favourites.html' with title_pk=title.pk condition=data.is_favourite_for_user %}
                                {% include 'includes/actions/watchlist.html' with title_pk=title.pk condition=data.is_in_user_watchlist %}
                                <hr class="visible-sm visible-xs">
                                {% if data.followed_title_not_recommended %}
                                    <form action="" method="post">{% csrf_token %}
                                        <select class="selectpicker show-tick" name="choose_followed_user"
                                                multiple title="Recommend to" data-width="auto" data-size="5"
                                                data-actions-box="true" data-live-search="true">
                                        {% for user in data.followed_title_not_recommended %}
                                            <option value="{{ user.user_followed.username }}" data-subtext="{{ user.user_followed.userprofile.count_titles }} ratings">{{ user.user_followed.username }}</option>
                                        {% endfor %}
                                        </select>
                                        <button class="btn btn-xs btn-default" type="submit" name="select_followed_users" value="select">Recommend</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if title.plot %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <hr>
                        <div class="panel panel-success">
                            <div class="panel-heading text-center">Plot</div>
                            <div class="panel-body">{{ title.plot }}</div>
                        </div>
                    </div>
                </div>
            {% else %}
                <hr>
            {% endif %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        {% if request.user.is_authenticated %}
                            <div class="col-md-8">
                                <div class="panel panel-success">
                                    <div class="panel-heading text-center">History of ratings</div>
                                    <div class="panel-body">
                                        {% if data.user_ratings_of_title %}
                                        <table class="table-bordered table-condensed">
                                            <tbody>
                                            {% for rating in data.user_ratings_of_title %}
                                                <tr>
                                                    <td class=""><a href="{% url 'explore' %}?year={{ rating.rate_date|date:'Y' }}&month={{ rating.rate_date|date:'m' }}">{{ rating.rate_date|date:"Y-m-d" }}</a></td>
                                                    <td class=""><a href="{% url 'explore' %}?r={{ rating.rate }}">{{ rating.rate }}</a>
                                                    {% with rating.rated_before_rate_diff as rate_diff %}
                                                    {% if rate_diff != None %}
                                                        {% if rate_diff > 0 %}
                                                        <span class="increase">(+{{ rating.rated_before_rate_diff }})</span>
                                                        {% elif rate_diff == 0 %}
                                                        <span class="">==</span>
                                                        {% else %}
                                                        <span class="decrease">({{ rate_diff }})</span>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% endwith %}
                                                    </td>
                                                    <td class="text-center">duration: {{ rating.next_rating_days_diff }} days</td>
                                                    <td>
                                                        <form action="" method="post">{% csrf_token %}
                                                            <button class="btn btn-sm see-again-btn unwatch-btn" type="submit" name="delete_rating" value="delete_rating"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> delete</button>
                                                            <input type="hidden" name="rating_pk" value="{{ rating.pk }}">
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            <tbody>
                                        </table>
                                        {% else %}
                                        <p>You never rated this title.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="{% if request.user.is_authenticated %}col-md-4{% else %}col-md-12{% endif %}">
                            <div class="panel panel-success text-center">
                                <div class="panel-heading text-center">More</div>
                                <div class="panel-body">
                                    <a href="{{ title.url_imdb }}" target="_blank">
                                        <img class="img-rounded" src="{% static 'img/imdb.png' %}" alt="..." style="width: 70px">
                                    </a>
                                    <a href="{{ title.url_tomato }}" target="_blank">
                                        <img class="img-rounded" src="{% static 'img/rt.png' %}" alt="..." style="width: 70px">
                                    </a>
{#                                    <br>Title last updated:<br>#}
{#                                    {{ title.last_updated|date:"Y-m-d" }} ({{ title.pk }})#}
{#                                    <br>Title inserted:<br>#}
{#                                    {{ title.inserted_date|date:"Y-m-d" }}#}
{#                                    {% if request.user.is_authenticated and title.can_be_updated %}#}
{#                                    <div class="text-center">#}
{#                                        <form action="" method="post">{% csrf_token %}#}
{#                                            <button class="btn btn-xs btn-default" type="submit" name="update_title" value="update_title">#}
{#                                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> update#}
{#                                            </button>#}
{#                                        </form>#}
{#                                    </div>#}
{#                                    {% endif %}#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if data.followed_saw_title %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-success">
                            <div class="panel-heading text-center">Followed users who saw this title too</div>
                            <div class="panel-body">
                                <div class="row">
                                {% for user in data.followed_saw_title %}
                                    <div class="col-md-5">
                                        <a href="{% url 'user-detail' user.username %}">
                                            <img class="img-responsive img-thumbnail"
                                                 src="{% if user.picture %}/media/{{ user.picture }}{% else %}{% static 'img/placeholderavatar.png' %}{% endif %}"
                                                 alt="..." style="width: 50px">
                                            {{ user.username }} rated this {{ user.followed_curr_rating }}
                                        </a>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if actors_and_other_titles %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-success">
                            <div class="panel-heading text-center">Main cast and their other appearances</div>
                            <div class="panel-body">
                                {% for actor, titles in actors_and_other_titles %}
                                    <div class="row">
                                        <h3 class="page-header text-center"><a href="{{ actor.get_absolute_url }}">{{ actor.name }}</a></h3>
                                        {% for entry in titles %}
                                            {% include 'includes/titles_in_a_row.html' with title=entry rate=entry.user_rate is_owner=True %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}