{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-list' %}">Users</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-detail' user.username %}">{{ user.username }}</a>
        <i class="right angle icon divider"></i>
        <a class="section active" href="{{ user.edit_url }}">Favourites</a>
    </div>
{% endblock %}
{#{% block title %}{{ title }}{% endblock %}#}
{% block content %}
    <div class="ui dividing header">
        <i class="list icon"></i>
        <div class="content">
            Favourites
            <div class="sub header">{% if is_owner %}You can reorder the list by dragging element while holding
                LMB.{% else %}See what {{ user.username }} likes{% endif %}</div>
        </div>
    </div>

    {% if title_list %}
        <h1 class="ui center aligned dividing header">{{ title_list|length }} titles</h1>
        <div class="ui items"{% if is_owner %} id="sortable" data-url="{% url 'user-fav-reorder' %}"{% endif %}>
            {% for title in title_list %}
                <div id="item-{{ title.pk }}" class="item">
                    <div class="ui tiny image">
                        <img src="{{ title.poster_small }}">
                    </div>
                    <div class="middle aligned content">
                        <span class="item-order">{{ forloop.counter }}</span>. <span class="item-order-after"></span>
                        <a class="header">{{ title.order }} {{ title }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="ui message">
            List is empty
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="application/javascript">
        $sortable = $('#sortable');
        if ($sortable.length) {
            sortable($sortable.data('url'));
        }

        function sortable(url) {
            $sortable.sortable({
                axis: 'y',
                update: function (event, ui) {
                    var item = ui.item.find('.item-order');
                    var itemId = item.parent().parent().attr('id');
                    var newItemOrder = $(this).sortable('serialize');
                    var o = $(this).sortable('toArray');
                    $(this).find('.item').each(function(i) {
                        var orderBefore = $(this).find('.item-order');
                        var orderAfter = $(this).find('.item-order-after');
                        orderAfter.hide();
                        if (itemId === this.id) {
                            var newOrder = o.indexOf(itemId) + 1;
                            var previousOrder = parseInt(item.text());
                            var orderDiff = previousOrder - newOrder;
                            var txt = (orderDiff > 0 ? '+' : '') + orderDiff;
                            orderBefore.text(newOrder);
                            orderAfter.text(txt);
                            orderAfter.attr('class', 'item-order-after');
                            if (orderDiff > 0) {
                                orderAfter.addClass('green-color');
                            } else {
                                orderAfter.addClass('red-color');
                            }
                        } else {
                            orderBefore.text(i + 1);
                            orderAfter.text('');
                            orderAfter.attr('class', 'item-order-after');
                        }
                        orderAfter.fadeIn('slow');
                    });
                    ajax_request({'item_order': newItemOrder}, {url: url});
                }
            });
        }
    </script>
{% endblock %}