{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-list' %}">Users</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-detail' user.username %}">{{ user.username }}</a>
        <i class="right angle icon divider"></i>
        <a class="section active" href="{{ user.edit_url }}">Favourites</a>
    </div>
{% endblock %}
{#{% block title %}{{ title }}{% endblock %}#}
{% block content %}
    <div class="ui dividing header">
        <i class="list icon"></i>
        <div class="content">
            Favourites
            <div class="sub header">{% if is_owner %}You can reorder the list by dragging element while holding
                LMB.{% else %}See what {{ user.username }} likes{% endif %}</div>
        </div>
    </div>

    {% if title_list %}
        <h1 class="ui center aligned dividing header">{{ title_list|length }} titles</h1>
        <div class="ui items"{% if is_owner %} id="sortable" data-url="{% url 'user-fav-reorder' %}"{% endif %}>
            {% for title in title_list %}
                <div id="{{ title.pk }}" class="item">
                    <div class="ui tiny image">
                         <a href="{{ title.get_absolute_url }}"><img src="{{ title.poster_small }}"></a>
                    </div>
                    <div class="middle aligned content">
                        <span class="item-order">{{ title.order }}</span>. <span class="ui circular label item-order-change hide"></span>
                        <a href="{{ title.get_absolute_url }}" class="header">{{ title }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="ui message">
            List is empty
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="application/javascript">
        $sortable = $('#sortable');
        if ($sortable.length) {
            sortable($sortable.data('url'));
        }

        function sortable(url) {
            $sortable.sortable({
                axis: 'y',
                start: function(e, ui) {
                    // creates a temporary attribute on the element with the old index
                    $(this).attr('data-previndex', ui.item.index());
                },
                update: function (event, ui) {
                    var newIndex = ui.item.index();
                    var oldIndex = $(this).attr('data-previndex');
                    var orderDiff = oldIndex - newIndex;
                    $(this).removeAttr('data-previndex');

                    // iterate over all items from the top to adjust orders
                    $(this).find('.item').each(function(i) {
                        var orderBefore = $(this).find('.item-order');
                        var orderChange = $(this).find('.item-order-change');
                        if (i === newIndex) {
                            // move this outside of a  loop
                            orderChange.removeClass('hide');
                            orderChange.text((orderDiff > 0 ? '+' : '') + orderDiff);
                            orderBefore.text(newIndex + 1);
                            if (orderDiff > 0) {
                                orderChange.removeClass('red').addClass('green');
                            } else {
                                orderChange.removeClass('green').addClass('red');
                            }
                        } else {
                            orderChange.addClass('hide');
                            orderBefore.text(i + 1);
                        }
                    });
                    ajax_request({'oldIndex': oldIndex, 'newIndex': newIndex}, {url: url});
{#                    ajax_request({'item_order': $(this).sortable('toArray')}, {url: url});#}
                }
            });
        }
    </script>
{% endblock %}