{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-list' %}">Users</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-detail' user.username %}">{{ user.username }}</a>
        <i class="right angle icon divider"></i>
        <a class="section active" href="{{ user.watchlist_url }}">Watchlist</a>
    </div>
{% endblock %}
{#{% block title %}{{ title }}{% endblock %}#}
{% block content %}
    <div class="ui dividing header">
        <i class="list icon"></i>
        <div class="content">
            {{ user.username }}'s watchlist
            <div class="sub header">See</div>
        </div>
    </div>
    {% include 'lists/includes/titles.html' %}
{% endblock %}