<div class="slick-carousel-small">
    {% if person_qs %}
        {% for person in queryset %}
            <div>
                {% include 'titles/includes/person_small_slick.html' with lazy=True person=person %}
            </div>
        {% endfor %}
    {% elif cast_qs %}
        {% for cast in queryset %}
            <div>
                {% include 'titles/includes/person_small_slick.html' with lazy=True person=cast.person role=cast.character %}
            </div>
        {% endfor %}
    {% elif crew_qs %}
        {% for crew in queryset %}
            <div>
                {% include 'titles/includes/person_small_slick.html' with lazy=True person=crew.person role=crew.get_job_display %}
            </div>
        {% endfor %}
    {% endif %}
</div>