{% load static %}

<div class="still-background slick-item"{% if counter > 0 %} style="visibility: hidden"{% endif %}>
    <img class="backdrop" {% if slick %}src="{% static 'img/posters/intersection.png' %}" data-lazy{% else %}src{% endif %}="{{ title.poster_backdrop_title }}" alt="{{ title.name }}">
    <div class="ui grid centered">
        <div class="poster-background">
            <div class="card1 card-01 height-fix"{% if slick and counter == 0 %} style="display: none"{% endif %}>
                {% if slick %}
                    <a href="{{ title.get_absolute_url }}"><img class="card-img-top" {% if slick1 %}data-lazy{% else %}src{% endif %}="{{ title.poster_small }}" alt="{{ title.name }}"></a>
                {% else %}
                    <img class="card-img-top" {% if slick %}data-lazy{% else %}src{% endif %}="{{ title.poster_small }}" alt="{{ title.name }}">
                {% endif %}
                <div class="card-img-overlay">
                <h3 class="card-title">{{ title.name }}</h3>{#<p class="card-text"></p>#}
                {% include 'titles/includes/rating.html' with rate=rate %}
                <p class="card-text">
                    {% if title.year %}<i class="calendar icon"></i> {{ title.year }}{% endif %}
                    {% include 'titles/includes/toggles.html' %}
                </p>
                <p class="card-text">
                    {% for genre in title.genre.all %}
                        <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>
                    {% endfor %}
                </p>
                </div>
            </div>
        </div>
    </div>
</div>
