<div class="still-background slick-item"{% if counter > 0 %} style="visibility: hidden"{% endif %}>
    <img class="backdrop" {% if slick %}data-lazy{% else %}src{% endif %}="{{ title.poster_backdrop_title }}" alt="{{ title.name }}">
    <div class="ui grid centered">
        <div class="poster-background">
            <div class="card1 card-01 height-fix"{% if slick and counter == 0 %} style="display: none"{% endif %}>
                {% if slick %}
                    <a href="{{ title.get_absolute_url }}"><img class="card-img-top" {% if slick1 %}data-lazy{% else %}src{% endif %}="{{ title.poster_small }}" alt="{{ title.name }}"></a>
                {% else %}
                    <img class="card-img-top" {% if slick %}data-lazy{% else %}src{% endif %}="{{ title.poster_small }}" alt="{{ title.name }}">
                {% endif %}
                <div class="card-img-overlay">
                <h4 class="card-title"><strong>{{ title.name }}</strong></h4>
                <p class="card-text">

                </p>
                {#            <p class="card-text">Captain Jack Sparrow searches for the trident of Poseidon.</p>#}
                <p class="card-text ui star large rating" data-url="{% url 'title-rate' title.pk %}" data-rating="{{ rate }}"></p>
                <p class="card-text">
                    <i class="calendar icon"></i> {{ title.year }}
{#                    <i class="star icon"></i>{{ title.rate_imdb }}#}
                    <i type="tooltip" data-content="Favourite{% if not request.user.is_authenticated %}. You must be logged in.{% endif %}" data-variation="mini" data-pk="{{ title.pk }}" class="{% if not title.has_in_favourites %}empty {% else %}active {% endif %}red heart icon large title-fav ml10"></i>
                    <i type="tooltip" data-content="Watchlist{% if not request.user.is_authenticated %}. You must be logged in.{% endif %}" data-variation="mini" data-pk="{{ title.pk }}" class="{% if not title.has_in_watchlist %}remove {% else %}active {% endif %}red bookmark icon large title-watch"></i>
                </p>
                <p class="card-text">
                    {% for genre in title.genre.all %}
                        <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>
                    {% endfor %}
                </p>
                </div>
            </div>
        </div>
    </div>
</div>
