{% load static %}
<div class="ui small image" type="tooltip" data-content="{{ title.name }} ({{ title.year }}){% if rate_date %} on {{ rate_date }}{% endif %}" data-variation="small">
    {% if rate %}
        <a class="ui left corner label red green">
            <span class="icon">{{ rate }}</span>
        </a>
    {% endif %}
    {% if rate2 %}
        <a class="ui right corner label red yellow">
            <span class="icon">{{ rate2 }}</span>
        </a>
    {% endif %}
    <a href="{{ title.get_absolute_url }}">
        <img {% if slick %}data-lazy{% else %}src{% endif %}="{{ title.poster_small }}">
    </a>
    <small>{{ title.name }} ({{ title.year }})</small>
</div>
