<{% extends 'base.html' %}
{% block title %}school assignment{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                  <input id="inputQuery" type="text" class="form-control" placeholder="q" name='q' autofocus>
                  <span class="input-group-btn">
                    <button id="school" class="btn btn-default" type="button">Go!</button>
                  </span>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title" style="font-weight: bold">question: <span id="question"></span></h3>
                  </div>
                  <div class="panel-body" id="answer">
                  </div>
                </div>
            </div>
        <!--<div class="well well-sm">-->
            <!--<span id="question"></span>-->
            <!--<p id="answer"></p>-->
        <!--</div>-->
            <div class="row">
                <div class="col-md-12"><div id="map"></div></div>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div id="history"></div>
    </div>
</div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBstueNfJ0MIq0zGPxxRVl0mbz3bYQ199g&callback=initMap">
</script>
{% endblock %}