{% extends 'base.html' %}
{% block title %}school assignment{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                  <input id="inputQuery" type="text" class="form-control" placeholder="ask a question..." name='q' autofocus>
                  <span class="input-group-btn">
                    <button id="school" class="btn btn-default" type="button">Go!</button>
                  </span>
                </div>
                <div id="result-panel" class="panel panel-default">
                  <div class="panel-heading result-panel-heading">
                    <h3 class="panel-title" style="font-weight: bold">question: <span id="question"></span></h3>
                  </div>
                  <div class="panel-body" id="answer">
                  </div>
                </div>
            </div>

            <div class="col-md-12">
                <div id="map"></div>
            </div>

            <div class="col-md-8">
                <p class="functionality text-center btn btn-default">Zapytania o czas</p>
                <ul class="list-group functionality-list">
                  <li class="list-group-item">kiedy będzie wrzesień?</li>
                  <li class="list-group-item">za ile minut sierpień?</li>
                  <li class="list-group-item">kiedy wrzesień 2015 w godzinach?</li>
                  <li class="list-group-item">kiedy ostatni lutego?</li>
                  <li class="list-group-item">kiedy 10 września?</li>
                  <li class="list-group-item">kiedy 7 9</li>
                  <li class="list-group-item">kiedy 2015 7 9</li>
                </ul>
            </div>
            <div class="col-md-4" style="max-height: 0px;">
                <a href="https://drive.google.com/drive/folders/0BxBzxU-Ajn6YNFlmZ0o0d2kwMkk">
                    <img src="http://icons.iconarchive.com/icons/marcus-roberto/google-play/256/Google-Drive-icon.png" style="width: 20%">
                </a>
            </div>
            <div class="col-md-8">
                <p class="functionality text-center btn btn-default">Sprawdzanie przestępności</p>
                <ul class="list-group functionality-list">
                  <li class="list-group-item">Czy mamy rok przestępny?</li>
                  <li class="list-group-item">Czy rok 2017 jest przestępny?</li>
                  <li class="list-group-item">Ile lat przestepnych miedzy 2015 a 2050?</li>
                  <li class="list-group-item">kiedy nastepny rok przestepny?</li>
                </ul>
            </div>
            <div class="col-md-8">
                <p class="functionality text-center btn btn-default">Zapytanie o dzień dzisiejszy</p>
                <ul class="list-group functionality-list">
                  <li class="list-group-item">co dzis</li>
                  <li class="list-group-item">co</li>
                  <li class="list-group-item">jaki dzis dzien</li>
                  <li class="list-group-item">jaki</li>
                </ul>
            </div>
            <div class="col-md-8">
                <p class="functionality text-center btn btn-default">Obliczanie jaki dzień będzie/był n-dni temu</p>
                <ul class="list-group functionality-list">
                  <li class="list-group-item">jaki dzien za 5 dni?</li>
                  <li class="list-group-item">a jaki 5 temu?</li>
                  <li class="list-group-item">jaki dzis dzien</li>
                  <li class="list-group-item">what day 5 days ago</li>
                </ul>
            </div>
            <div class="col-md-8">
                <p class="functionality text-center btn btn-default">Zapytanie o aktualną godzinę</p>
                <ul class="list-group functionality-list">
                  <li class="list-group-item">jaka jest teraz godzina</li>
                  <li class="list-group-item">jaki jest czas?</li>
                  <li class="list-group-item">co jest teraz</li>
                  <li class="list-group-item">teraz</li>
                  <li class="list-group-item">czas</li>
                </ul>
            </div>
            <div class="col-md-8">
                <p class="functionality text-center btn btn-default">Zapytanie o czas na świecie</p>
                <ul class="list-group functionality-list">
                  <li class="list-group-item">time nowy jork</li>
                  <li class="list-group-item">time moskwa</li>
                  <li class="list-group-item">time melbourne</li>
                </ul>
            </div>
            <div class="col-md-8">
                <p class="functionality text-center btn btn-default">Zapytanie o dni miesiąca</p>
                <ul class="list-group functionality-list">
                  <li class="list-group-item"> ile dni ma maj?</li>
                  <li class="list-group-item">ile dni</li>
                  <li class="list-group-item">ile 10</li>
                </ul>
            </div>
            <div class="col-md-8">
                <p class="functionality text-center btn btn-default">Zapytanie o kalendarz</p>
                <ul class="list-group functionality-list">
                  <li class="list-group-item">kalendarz</li>
                  <li class="list-group-item">kalendarz kwiecień</li>
                  <li class="list-group-item">roczny kalendarz</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div id="query_info" class="alert alert-warning" role="alert"></div>
        <div id="history" class=""></div>
    </div>
</div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBstueNfJ0MIq0zGPxxRVl0mbz3bYQ199g">
</script>
{% endblock %}