{% extends 'titles/title_search_base.html' %}

{% block title %}Explore titles{% endblock %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="{% if not request.GET %}active {% endif %}section" href="{% url 'title-list' %}">Explore</a>
        {% if request.GET %}
            <i class="right angle icon divider"></i>
            <div class="active section">Search</div>
        {% endif %}
    </div>
{% endblock %}

{% block list_header %}{{ paginator.count }} titles{% endblock %}

{% block columns %}
    {% for title in title_list %}
        <div class="column">
            {% include 'titles/includes/title_card.html' with rate=title.request_user_rate is_fav=title.has_in_favourites is_watch=title.has_in_watchlist %}
        </div>
    {% endfor %}
{% endblock %}