{% extends 'titles/title_search_base.html' %}

{% block title %}{{ user.username }}'s ratings{% endblock %}

{% block image %}
    {% if searched_user %}
        {% include 'accounts/includes/user_background.html' with user=searched_user %}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'home' %}">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-list' %}">Users</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'user-detail' user.username %}">{{ user.username }}</a>
        <i class="right angle icon divider"></i>
        <a class="section active" href="{{ user.ratings_url }}">Ratings</a>
    </div>
{% endblock %}

{% block list_header %}{{ user.username }}'s {{ paginator.count }} ratings{% endblock %}

{% block columns %}
    {% for rating in rating_list %}
        <div class="column">
            {% include 'titles/includes/title_card.html' with title=rating.title rating_pk=rating.pk rate2=rating.rate rate=rating.request_user_rate rating=rating.has_in_favourites is_watch=rating.has_in_watchlist rate_date=rating.rate_date %}
        </div>
    {% endfor %}
{% endblock %}
